In [122]:
import numpy as np
import pandas as pd
import seaborn as sns

In [123]:
#Now we import our datasets

para_athlete = pd.read_excel("./medal_athlete.xlsx")

para_standings = pd.read_excel("./medal_standings.xlsx")

Data Cleaning and Preparation


The following are the cleaning operations to be carried out on our dataset:

Renaming of columns

Dropping of unnecessary columns

dropping duplicates where necessary

look out for missing data

In [124]:
pd.set_option('display.max_rows', 30)
print(para_athlete.columns)
para_athlete.info()

Index(['games_code', 'games_year', 'games_city', 'City_latitude',
       'City_longitude', 'games_country', 'Country_latitude',
       'Country_longitude', 'games_continent', 'games_start', 'games_end',
       'games_season', 'sport', 'sport_code', 'event_venue', 'events', 'npcs',
       'athletes', 'event', 'medal', 'npc', 'npc_new', 'npc_name',
       'npc_name_latitude', 'npc_name_longitude', 'athlete_name',
       'athlete_info_og'],
      dtype='object')
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29170 entries, 0 to 29169
Data columns (total 27 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   games_code          29170 non-null  object
 1   games_year          29170 non-null  int64
 2   games_city          29170 non-null  object
 3   City_latitude       26428 non-null  float64
 4   City_longitude      26428 non-null  float64
 5   games_country       29170 non-null  object
 6   Country_latitude    26428 non-null  float64
 7   Country_longitude   26428 non-null  float64
 8   games_continent     29170 non-null  object
 9   games_start         29170 non-null  object
 10  games_end           29170 non-null  object
 11  games_season        29170 non-null  object
 12  sport               29170 non-null  object
 13  sport_code          29170 non-null  object
 14  event_venue         10949 non-null  object
 15  events              28949 non-null  float64
 16  npcs                28949 non-null  float64
 17  athletes            28949 non-null  float64
 18  event               28944 non-null  object
 19  medal               28944 non-null  object
 20  npc                 28944 non-null  object
 21  npc_new             28944 non-null  object
 22  npc_name            28837 non-null  object
 23  npc_name_latitude   28943 non-null  float64
 24  npc_name_longitude  28943 non-null  float64
 25  athlete_name        28707 non-null  object
 26  athlete_info_og     28944 non-null  object
dtypes: float64(9), int64(1), object(17)
memory usage: 6.0+ MB

In [125]:
print(para_standings.columns)
para_standings.info()

Index(['games_code', 'games_year', 'games_city', 'games_country',
       'games_continent', 'games_start', 'games_end', 'games_season', 'npc',
       'npc_new', 'npc_name', 'rank_type', 'npc_rank', 'npc_gold',
       'npc_silver', 'npc_bronze', 'sport_code', 'sport'],
      dtype='object')
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2346 entries, 0 to 2345
Data columns (total 18 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   games_code       2346 non-null   object
 1   games_year       2346 non-null   int64
 2   games_city       2346 non-null   object
 3   games_country    2346 non-null   object
 4   games_continent  2346 non-null   object
 5   games_start      2346 non-null   object
 6   games_end        2346 non-null   object
 7   games_season     2346 non-null   object
 8   npc              2346 non-null   object
 9   npc_new          2346 non-null   object
 10  npc_name         2338 non-null   object
 11  rank_type        2346 non-null   object
 12  npc_rank         2056 non-null   float64
 13  npc_gold         2346 non-null   int64
 14  npc_silver       2346 non-null   int64
 15  npc_bronze       2346 non-null   int64
 16  sport_code       2077 non-null   object
 17  sport            2077 non-null   object
dtypes: float64(1), int64(4), object(13)
memory usage: 330.0+ KB

In [126]:
para_athlete.describe()

,games_year,City_latitude,City_longitude,Country_latitude,Country_longitude,events,npcs,athletes,npc_name_latitude,npc_name_longitude
count,29170.00000,26428.000000,26428.000000,26428.000000,26428.000000,28949.000000,28949.000000,28949.000000,28943.000000,28943.000000
mean,1994.59904,30.358306,29.381928,32.822317,24.458944,132.422916,47.182044,494.251857,39.242844,10.697499
std,14.12504,27.537241,78.295889,25.288023,79.459705,125.272913,33.350603,390.174213,23.756039,68.196626
min,1960.00000,-33.868800,-123.120700,-25.274398,-106.346771,1.000000,0.000000,0.000000,-40.900557,-106.346771
25%,1984.00000,33.749000,-0.127800,35.861660,-3.749220,20.000000,23.000000,147.000000,36.204824,-3.435973
50%,1996.00000,37.983800,8.672400,37.090240,10.451526,140.000000,40.000000,441.000000,46.818188,10.451526
75%,2007.50000,45.070300,116.407400,51.165691,105.318756,208.000000,61.000000,908.000000,53.709807,27.953389
max,2018.00000,63.290900,151.209300,61.524010,138.252924,449.000000,146.000000,1198.000000,64.963051,179.414413

In [127]:
para_standings.describe()

        games_year     npc_rank     npc_gold   npc_silver   npc_bronze
count  2346.000000  2056.000000  2346.000000  2346.000000  2346.000000
mean   1994.145780     4.620623     5.279199     4.627877     4.367860
std      15.832629     2.769497    11.060410     9.796177     9.192876
min    1960.000000     1.000000     0.000000     0.000000     0.000000
25%    1984.000000     2.000000     0.000000     0.000000     0.000000
50%    1996.000000     4.000000     1.000000     1.000000     1.000000
75%    2008.000000     7.000000     5.000000     4.000000     4.000000
max    2018.000000    10.000000   137.000000   131.000000   129.000000

Removing unwanted columns

In [128]:
para_athlete.drop(columns = ['npc', 'npc_new', 'athlete_info_og'], inplace= True)

para_standings.drop(columns = ['npc', 'npc_new'], inplace= True)

Renaming of columns

In [129]:
para_athlete.rename(columns= {'npc_name' : 'part_country'}, inplace = True)

para_athlete.columns

Index(['games_code', 'games_year', 'games_city', 'City_latitude',
       'City_longitude', 'games_country', 'Country_latitude',
       'Country_longitude', 'games_continent', 'games_start', 'games_end',
       'games_season', 'sport', 'sport_code', 'event_venue', 'events', 'npcs',
       'athletes', 'event', 'medal', 'part_country', 'npc_name_latitude',
       'npc_name_longitude', 'athlete_name'],
      dtype='object')

In [130]:
para_standings.rename(columns= {'npc_name' : 'part_country'}, inplace = True)

para_standings.columns

Index(['games_code', 'games_year', 'games_city', 'games_country',
       'games_continent', 'games_start', 'games_end', 'games_season',
       'part_country', 'rank_type', 'npc_rank', 'npc_gold', 'npc_silver',
       'npc_bronze', 'sport_code', 'sport'],
      dtype='object')

Looking out for missing data

In [164]:
para_athlete.isna().sum()

games_code                0
games_year                0
games_city                0
City_latitude          2742
City_longitude         2742
games_country             0
Country_latitude       2742
Country_longitude      2742
games_continent           0
games_start               0
games_end                 0
games_season              0
sport                     0
sport_code                0
event_venue           18221
events                    0
npcs                      0
athletes                  0
event                     5
medal                     5
part_country            112
npc_name_latitude         6
npc_name_longitude        6
athlete_name            242
dtype: int64

In [162]:
#dropping rows with missing data
pd.set_option('display.max_rows', (250))
para_athlete.drop(para_athlete.loc[(para_athlete['games_country'] == 'Israel') & (para_athlete['event'].isna())].index, inplace= True)

In [175]:
pd.set_option('display.max_rows', (700))
para_athlete.loc[para_athlete['games_country'] == 'Israel'].head(2)

,games_code,games_year,games_city,City_latitude,City_longitude,games_country,Country_latitude,Country_longitude,games_continent,games_start,...,event_venue,events,npcs,athletes,event,medal,part_country,npc_name_latitude,npc_name_longitude,athlete_name
98,PG1968,1968,Tel Aviv,32.0853,34.7818,Israel,31.046051,34.851612,Europe,4 November,...,"Ilan Sport Centre, Ramat Gan",68.0,24.0,264.0,Men's 50 m Breaststroke Class 5 (cauda equina),Bronze,Argentina,-38.416097,-63.616672,CARRANZA
99,PG1968,1968,Tel Aviv,32.0853,34.7818,Israel,31.046051,34.851612,Europe,4 November,...,"Ilan Sport Centre, Ramat Gan",68.0,24.0,264.0,Women's 50 m Freestyle Special class,Bronze,Argentina,-38.416097,-63.616672,COCHETTI S

In [183]:
para_athlete.loc[(para_athlete['part_country'] == 'Australia') & (para_athlete['athlete_name'].isna())]

#now we get the unique names of athletes from australia

,games_code,games_year,games_city,City_latitude,City_longitude,games_country,Country_latitude,Country_longitude,games_continent,games_start,...,event_venue,events,npcs,athletes,event,medal,part_country,npc_name_latitude,npc_name_longitude,athlete_name
1605,PG1984,1984,"New York, Stoke Mandeville",NaN,NaN,"United States,United Kingdom",NaN,NaN,"Americas, Europe",17 June22 July,...,NaN,449.0,51.0,1198.0,Women's 3000 m B1,Bronze,Australia,-25.274398,133.775136,NaN
1673,PG1984,1984,"New York, Stoke Mandeville",NaN,NaN,"United States,United Kingdom",NaN,NaN,"Americas, Europe",17 June22 July,...,NaN,345.0,43.0,541.0,Women's 100 m Freestyle B3,Bronze,Australia,-25.274398,133.775136,NaN
1687,PG1984,1984,"New York, Stoke Mandeville",NaN,NaN,"United States,United Kingdom",NaN,NaN,"Americas, Europe",17 June22 July,...,NaN,345.0,43.0,541.0,Women's 200 m Individual Medley B3,Bronze,Australia,-25.274398,133.775136,NaN
1713,PG1984,1984,"New York, Stoke Mandeville",NaN,NaN,"United States,United Kingdom",NaN,NaN,"Americas, Europe",17 June22 July,...,NaN,345.0,43.0,541.0,Women's 100 m Butterfly B3,Silver,Australia,-25.274398,133.775136,NaN
1732,PG1984,1984,"New York, Stoke Mandeville",NaN,NaN,"United States,United Kingdom",NaN,NaN,"Americas, Europe",17 June22 July,...,NaN,345.0,43.0,541.0,Women's 400 m Freestyle B3,Gold,Australia,-25.274398,133.775136,NaN

In [177]:
para_athlete['athlete_name'].unique().tolist()

para_athlete.loc[para_athlete['athlete_name'].isna()]

,games_code,games_year,games_city,City_latitude,City_longitude,games_country,Country_latitude,Country_longitude,games_continent,games_start,...,event_venue,events,npcs,athletes,event,medal,part_country,npc_name_latitude,npc_name_longitude,athlete_name
1605,PG1984,1984,"New York, Stoke Mandeville",NaN,NaN,"United States,United Kingdom",NaN,NaN,"Americas, Europe",17 June22 July,...,NaN,449.0,51.0,1198.0,Women's 3000 m B1,Bronze,Australia,-25.274398,133.775136,NaN
1673,PG1984,1984,"New York, Stoke Mandeville",NaN,NaN,"United States,United Kingdom",NaN,NaN,"Americas, Europe",17 June22 July,...,NaN,345.0,43.0,541.0,Women's 100 m Freestyle B3,Bronze,Australia,-25.274398,133.775136,NaN
1687,PG1984,1984,"New York, Stoke Mandeville",NaN,NaN,"United States,United Kingdom",NaN,NaN,"Americas, Europe",17 June22 July,...,NaN,345.0,43.0,541.0,Women's 200 m Individual Medley B3,Bronze,Australia,-25.274398,133.775136,NaN
1713,PG1984,1984,"New York, Stoke Mandeville",NaN,NaN,"United States,United Kingdom",NaN,NaN,"Americas, Europe",17 June22 July,...,NaN,345.0,43.0,541.0,Women's 100 m Butterfly B3,Silver,Australia,-25.274398,133.775136,NaN
1732,PG1984,1984,"New York, Stoke Mandeville",NaN,NaN,"United States,United Kingdom",NaN,NaN,"Americas, Europe",17 June22 July,...,NaN,345.0,43.0,541.0,Women's 400 m Freestyle B3,Gold,Australia,-25.274398,133.775136,NaN
2686,PG2016,2016,Rio de Janeiro,-22.9068,-43.1729,Brazil,-14.235004,-51.925280,Americas,7 September,...,Rio Olympic Velodrome (Track) / Pontal (Road),50.0,45.0,235.0,Mixed Team Relay H2-5,Bronze,Belgium,50.503887,4.469936,NaN
2724,PG1996,1996,Atlanta,33.7490,-84.3880,United States,37.090240,-95.712891,Americas,16 august,...,NaN,28.0,31.0,210.0,Men's Teams 4-5,Bronze,Belgium,50.503887,4.469936,NaN
2728,PG1996,1996,Atlanta,33.7490,-84.3880,United States,37.090240,-95.712891,Americas,16 august,...,NaN,28.0,31.0,210.0,Women's Singles 3,Bronze,Belgium,50.503887,4.469936,NaN
2740,PG1988,1988,Seoul,37.5665,126.9780,Korea Republic,35.907757,127.766922,Asia,15 October,...,NaN,345.0,57.0,1141.0,Women's 100 m 4,Bronze,Belgium,50.503887,4.469936,NaN
2743,PG1988,1988,Seoul,37.5665,126.9780,Korea Republic,35.907757,127.766922,Asia,15 October,...,NaN,345.0,57.0,1141.0,Women's Shot Put 4,Bronze,Belgium,50.503887,4.469936,NaN
2748,PG1988,1988,Seoul,37.5665,126.9780,Korea Republic,35.907757,127.766922,Asia,15 October,...,NaN,345.0,57.0,1141.0,Women's 200 m 4,Silver,Belgium,50.503887,4.469936,NaN
2750,PG1988,1988,Seoul,37.5665,126.9780,Korea Republic,35.907757,127.766922,Asia,15 October,...,NaN,345.0,57.0,1141.0,Women's Shot Put C7,Silver,Belgium,50.503887,4.469936,NaN
2752,PG1988,1988,Seoul,37.5665,126.9780,Korea Republic,35.907757,127.766922,Asia,15 October,...,NaN,345.0,57.0,1141.0,Women's Discus Throw C7,Silver,Belgium,50.503887,4.469936,NaN
2754,PG1988,1988,Seoul,37.5665,126.9780,Korea Republic,35.907757,127.766922,Asia,15 October,...,NaN,345.0,57.0,1141.0,Women's Discus Throw 4,Silver,Belgium,50.503887,4.469936,NaN
2763,PG1988,1988,Seoul,37.5665,126.9780,Korea Republic,35.907757,127.766922,Asia,15 October,...,NaN,345.0,57.0,1141.0,Women's Pentathlon 4,Gold,Belgium,50.503887,4.469936,NaN
2802,PG1992,1992,Barcelona-Madrid,41.3851,2.1734,Spain,40.463667,-3.749220,Europe,3 September,...,NaN,214.0,74.0,928.0,Women's Javelin C5>8,Bronze,Belgium,50.503887,4.469936,NaN
2805,PG1992,1992,Barcelona-Madrid,41.3851,2.1734,Spain,40.463667,-3.749220,Europe,3 September,...,NaN,214.0,74.0,928.0,Women's Shot Put C5>8,Silver,Belgium,50.503887,4.469936,NaN
2807,PG1992,1992,Barcelona-Madrid,41.3851,2.1734,Spain,40.463667,-3.749220,Europe,3 September,...,NaN,214.0,74.0,928.0,Women's Discus Throw C5>8,Silver,Belgium,50.503887,4.469936,NaN
6804,PG1998,1998,Nagano,36.6486,138.1948,Japan,36.204824,138.252924,Asia,5 March,...,NaN,12.0,19.0,108.0,Women's 7.5 km B1,Bronze,Denmark,56.263920,9.501785,NaN
6806,PG1998,1998,Nagano,36.6486,138.1948,Japan,36.204824,138.252924,Asia,5 March,...,NaN,39.0,24.0,213.0,Women's 5 km Free Technique B1,Gold,Denmark,56.263920,9.501785,NaN
6847,PG1988,1988,Seoul,37.5665,126.9780,Korea Republic,35.907757,127.766922,Asia,15 October,...,NaN,257.0,44.0,502.0,Women's 100 m Freestyle L2,Bronze,Denmark,56.263920,9.501785,NaN
6850,PG1988,1988,Seoul,37.5665,126.9780,Korea Republic,35.907757,127.766922,Asia,15 October,...,NaN,257.0,44.0,502.0,Women's 50 m Breaststroke L2,Bronze,Denmark,56.263920,9.501785,NaN
6937,PG1992,1992,Barcelona-Madrid,41.3851,2.1734,Spain,40.463667,-3.749220,Europe,3 September,...,NaN,2.0,14.0,116.0,Women's Tournament,Silver,Denmark,56.263920,9.501785,NaN
6956,PG1992,1992,Barcelona-Madrid,41.3851,2.1734,Spain,40.463667,-3.749220,Europe,3 September,...,NaN,163.0,56.0,487.0,Women's 50 m Butterfly S5,Bronze,Denmark,56.263920,9.501785,NaN
6958,PG1992,1992,Barcelona-Madrid,41.3851,2.1734,Spain,40.463667,-3.749220,Europe,3 September,...,NaN,163.0,56.0,487.0,Women's 200 m Medley SM5,Bronze,Denmark,56.263920,9.501785,NaN
6968,PG1992,1992,Barcelona-Madrid,41.3851,2.1734,Spain,40.463667,-3.749220,Europe,3 September,...,NaN,163.0,56.0,487.0,Women's 100 m Freestyle S5,Silver,Denmark,56.263920,9.501785,NaN
7015,PG1994,1994,Lillehammer,61.1153,10.4662,Norway,60.472024,8.468946,Europe,10 March,...,NaN,10.0,20.0,126.0,Women's 7.5 km B1-3,Gold,Denmark,56.263920,9.501785,NaN
7017,PG1994,1994,Lillehammer,61.1153,10.4662,Norway,60.472024,8.468946,Europe,10 March,...,NaN,48.0,25.0,176.0,Women's 5 km Classical Technique B1,Bronze,Denmark,56.263920,9.501785,NaN
7019,PG1994,1994,Lillehammer,61.1153,10.4662,Norway,60.472024,8.468946,Europe,10 March,...,NaN,48.0,25.0,176.0,Women's 15 km Classical Technique B1,Bronze,Denmark,56.263920,9.501785,NaN
7347,PG2000,2000,Sydney,-33.8688,151.2093,Australia,-25.274398,133.775136,Oceania,18 October,...,NaN,2.0,17.0,233.0,Men's Sitting Volleyball,Bronze,Finland,61.924110,25.748151,NaN
7361,PG1996,1996,Atlanta,33.7490,-84.3880,United States,37.090240,-95.712891,Americas,16 august,...,NaN,2.0,15.0,114.0,Women's Tournament,Silver,Finland,61.924110,25.748151,NaN
7386,PG1996,1996,Atlanta,33.7490,-84.3880,United States,37.090240,-95.712891,Americas,16 august,...,NaN,2.0,18.0,225.0,Men's Sitting Volleyball,Bronze,Finland,61.924110,25.748151,NaN
7513,PG1992,1992,Barcelona-Madrid,41.3851,2.1734,Spain,40.463667,-3.749220,Europe,3 September,...,NaN,2.0,14.0,116.0,Women's Tournament,Gold,Finland,61.924110,25.748151,NaN
7988,PG2000,2000,Sydney,-33.8688,151.2093,Australia,-25.274398,133.775136,Oceania,18 October,...,NaN,30.0,40.0,270.0,Men's Singles 3,Gold,France,46.227638,2.213749,NaN
7992,PG2000,2000,Sydney,-33.8688,151.2093,Australia,-25.274398,133.775136,Oceania,18 October,...,NaN,30.0,40.0,270.0,Men's Teams 3,Gold,France,46.227638,2.213749,NaN
8027,PG2016,2016,Rio de Janeiro,-22.9068,-43.1729,Brazil,-14.235004,-51.925280,Americas,7 September,...,Olympic Stadium / Fort Copacabana (Marathon),177.0,146.0,1141.0,Women's 200 m T44,Bronze,France,46.227638,2.213749,NaN
8032,PG2016,2016,Rio de Janeiro,-22.9068,-43.1729,Brazil,-14.235004,-51.925280,Americas,7 September,...,Olympic Stadium / Fort Copacabana (Marathon),177.0,146.0,1141.0,Women's 400 m T44,Gold,France,46.227638,2.213749,NaN
8034,PG2016,2016,Rio de Janeiro,-22.9068,-43.1729,Brazil,-14.235004,-51.925280,Americas,7 September,...,Olympic Stadium / Fort Copacabana (Marathon),177.0,146.0,1141.0,Women's Long Jump T44,Gold,France,46.227638,2.213749,NaN
8051,PG2016,2016,Rio de Janeiro,-22.9068,-43.1729,Brazil,-14.235004,-51.925280,Americas,7 September,...,Riocentro - Pavilion 3,29.0,47.0,269.0,Men's Team Classes 1-2,Gold,France,46.227638,2.213749,NaN
8091,PG1996,1996,Atlanta,33.7490,-84.3880,United States,37.090240,-95.712891,Americas,16 august,...,NaN,8.0,23.0,78.0,Women's Individual Standing,Bronze,France,46.227638,2.213749,NaN
8179,PG1996,1996,Atlanta,33.7490,-84.3880,United States,37.090240,-95.712891,Americas,16 august,...,NaN,28.0,31.0,210.0,Women's Singles 1-2,Silver,France,46.227638,2.213749,NaN
8237,PG1998,1998,Nagano,36.6486,138.1948,Japan,36.204824,138.252924,Asia,5 March,...,NaN,54.0,26.0,229.0,"Men's Giant Slalom B1,3",Bronze,France,46.227638,2.213749,NaN
8241,PG1998,1998,Nagano,36.6486,138.1948,Japan,36.204824,138.252924,Asia,5 March,...,NaN,54.0,26.0,229.0,"Men's Slalom B1,3",Silver,France,46.227638,2.213749,NaN
8243,PG1998,1998,Nagano,36.6486,138.1948,Japan,36.204824,138.252924,Asia,5 March,...,NaN,54.0,26.0,229.0,"Men's Super-G B1,3",Silver,France,46.227638,2.213749,NaN
8290,PG1988,1988,Seoul,37.5665,126.9780,Korea Republic,35.907757,127.766922,Asia,15 October,...,NaN,9.0,22.0,110.0,Men's Double FITA Round Team Open,Bronze,France,46.227638,2.213749,NaN
8293,PG1988,1988,Seoul,37.5665,126.9780,Korea Republic,35.907757,127.766922,Asia,15 October,...,NaN,345.0,57.0,1141.0,Men's 800 m A6A8A9L4,Bronze,France,46.227638,2.213749,NaN
8300,PG1988,1988,Seoul,37.5665,126.9780,Korea Republic,35.907757,127.766922,Asia,15 October,...,NaN,345.0,57.0,1141.0,Men's 10000 m A6A8A9L4,Bronze,France,46.227638,2.213749,NaN
8418,PG1988,1988,Seoul,37.5665,126.9780,Korea Republic,35.907757,127.766922,Asia,15 October,...,NaN,2.0,17.0,280.0,Men's Tournament,Bronze,France,46.227638,2.213749,NaN
8424,PG1988,1988,Seoul,37.5665,126.9780,Korea Republic,35.907757,127.766922,Asia,15 October,...,NaN,2.0,17.0,280.0,Men's Tournament,Bronze,France,46.227638,2.213749,NaN
8578,PG2008,2008,Beijing,39.9042,116.4074,People's Republic of China,35.861660,104.195397,Asia,6 September,...,Beijing National Stadium,160.0,111.0,1028.0,Women's 100 m T44,Silver,France,46.227638,2.213749,NaN
8583,PG2008,2008,Beijing,39.9042,116.4074,People's Republic of China,35.861660,104.195397,Asia,6 September,...,Beijing National Stadium,160.0,111.0,1028.0,Women's Long Jump F44,Silver,France,46.227638,2.213749,NaN
8630,PG2008,2008,Beijing,39.9042,116.4074,People's Republic of China,35.861660,104.195397,Asia,6 September,...,Beijing University Gymnasium,24.0,45.0,264.0,Men's Singles 3,Silver,France,46.227638,2.213749,NaN
8633,PG2008,2008,Beijing,39.9042,116.4074,People's Republic of China,35.861660,104.195397,Asia,6 September,...,Beijing University Gymnasium,24.0,45.0,264.0,Men's Teams 1-2,Silver,France,46.227638,2.213749,NaN
8641,PG2008,2008,Beijing,39.9042,116.4074,People's Republic of China,35.861660,104.195397,Asia,6 September,...,Beijing University Gymnasium,24.0,45.0,264.0,Men's Teams 3,Gold,France,46.227638,2.213749,NaN
8670,PG1992,1992,Barcelona-Madrid,41.3851,2.1734,Spain,40.463667,-3.749220,Europe,3 September,...,NaN,7.0,26.0,94.0,Men's Teams Open,Bronze,France,46.227638,2.213749,NaN
8695,PG1992,1992,Barcelona-Madrid,41.3851,2.1734,Spain,40.463667,-3.749220,Europe,3 September,...,NaN,10.0,25.0,106.0,Men's -100 kg,Silver,France,46.227638,2.213749,NaN
8717,PG1992,1992,Barcelona-Madrid,41.3851,2.1734,Spain,40.463667,-3.749220,Europe,3 September,...,NaN,163.0,56.0,487.0,Men's 50 m Backstroke S3,Silver,France,46.227638,2.213749,NaN
8735,PG1992,1992,Barcelona-Madrid,41.3851,2.1734,Spain,40.463667,-3.749220,Europe,3 September,...,NaN,163.0,56.0,487.0,Men's 50 m Freestyle S3,Gold,France,46.227638,2.213749,NaN
8738,PG1992,1992,Barcelona-Madrid,41.3851,2.1734,Spain,40.463667,-3.749220,Europe,3 September,...,NaN,163.0,56.0,487.0,Men's 100 m Freestyle S3,Gold,France,46.227638,2.213749,NaN
8749,PG1992,1992,Barcelona-Madrid,41.3851,2.1734,Spain,40.463667,-3.749220,Europe,3 September,...,NaN,163.0,56.0,487.0,Men's 150 m Medley SM3,Gold,France,46.227638,2.213749,NaN
8783,PG1992,1992,Barcelona-Madrid,41.3851,2.1734,Spain,40.463667,-3.749220,Europe,3 September,...,NaN,2.0,12.0,236.0,Men's Tournament,Bronze,France,46.227638,2.213749,NaN
8789,PG1992,1992,Barcelona-Madrid,41.3851,2.1734,Spain,40.463667,-3.749220,Europe,3 September,...,NaN,2.0,12.0,236.0,Men's Tournament,Bronze,France,46.227638,2.213749,NaN
8792,PG1992,1992,Barcelona-Madrid,41.3851,2.1734,Spain,40.463667,-3.749220,Europe,3 September,...,NaN,2.0,12.0,236.0,Men's Tournament,Bronze,France,46.227638,2.213749,NaN
8794,PG1992,1992,Barcelona-Madrid,41.3851,2.1734,Spain,40.463667,-3.749220,Europe,3 September,...,NaN,2.0,12.0,236.0,Men's Tournament,Bronze,France,46.227638,2.213749,NaN
8797,PG1992,1992,Barcelona-Madrid,41.3851,2.1734,Spain,40.463667,-3.749220,Europe,3 September,...,NaN,2.0,12.0,236.0,Men's Tournament,Bronze,France,46.227638,2.213749,NaN
8945,PW1992,1992,Tignes-Albertville,45.4688,6.9079,France,46.227638,2.213749,Europe,25 March,...,NaN,48.0,23.0,212.0,"Men's Giant Slalom LW1,3,5/7,9",Bronze,France,46.227638,2.213749,NaN
8950,PW1992,1992,Tignes-Albertville,45.4688,6.9079,France,46.227638,2.213749,Europe,25 March,...,NaN,48.0,23.0,212.0,"Men's Slalom LW1,3,5/7,9",Silver,France,46.227638,2.213749,NaN
8952,PW1992,1992,Tignes-Albertville,45.4688,6.9079,France,46.227638,2.213749,Europe,25 March,...,NaN,48.0,23.0,212.0,"Men's Super-G LW1,3,5/7,9",Silver,France,46.227638,2.213749,NaN
8954,PW1992,1992,Tignes-Albertville,45.4688,6.9079,France,46.227638,2.213749,Europe,25 March,...,NaN,48.0,23.0,212.0,"Men's Downhill LW1,3,5/7,9",Silver,France,46.227638,2.213749,NaN
8962,PW1992,1992,Tignes-Albertville,45.4688,6.9079,France,46.227638,2.213749,Europe,25 March,...,NaN,27.0,18.0,150.0,Men's Long Distance 20 km LW6/8,Bronze,France,46.227638,2.213749,NaN
8968,PW1992,1992,Tignes-Albertville,45.4688,6.9079,France,46.227638,2.213749,Europe,25 March,...,NaN,27.0,18.0,150.0,Men's Short Distance 5 km LW6/8,Gold,France,46.227638,2.213749,NaN
8986,PW1988,1988,Innsbruck,47.2682,11.3923,Austria,47.516231,14.550072,Europe,17 January,...,NaN,38.0,17.0,164.0,Men's Short Distance 10 km LW6/8,Bronze,France,46.227638,2.213749,NaN
8990,PW1988,1988,Innsbruck,47.2682,11.3923,Austria,47.516231,14.550072,Europe,17 January,...,NaN,38.0,17.0,164.0,Men's Long Distance 20 km LW6/8,Gold,France,46.227638,2.213749,NaN
9038,PG2012,2012,London,51.5074,-0.1278,United Kingdom,55.378051,-3.435973,Europe,29 august,...,"Olympic Stadium, The Mall (marathon)",170.0,141.0,1133.0,Women's Long Jump F42/44,Bronze,France,46.227638,2.213749,NaN
9043,PG2012,2012,London,51.5074,-0.1278,United Kingdom,55.378051,-3.435973,Europe,29 august,...,"Olympic Stadium, The Mall (marathon)",170.0,141.0,1133.0,Women's 200 m T44,Silver,France,46.227638,2.213749,NaN
9046,PG2012,2012,London,51.5074,-0.1278,United Kingdom,55.378051,-3.435973,Europe,29 august,...,"Olympic Stadium, The Mall (marathon)",170.0,141.0,1133.0,Women's 100 m T44,Gold,France,46.227638,2.213749,NaN
9081,PG2012,2012,London,51.5074,-0.1278,United Kingdom,55.378051,-3.435973,Europe,29 august,...,ExCeL (Exhibition Centre London),29.0,47.0,276.0,Men's Teams Class 3,Bronze,France,46.227638,2.213749,NaN
9088,PG2012,2012,London,51.5074,-0.1278,United Kingdom,55.378051,-3.435973,Europe,29 august,...,ExCeL (Exhibition Centre London),29.0,47.0,276.0,Men's Singles Class 1,Silver,France,46.227638,2.213749,NaN
9100,PG2012,2012,London,51.5074,-0.1278,United Kingdom,55.378051,-3.435973,Europe,29 august,...,ExCeL (Exhibition Centre London),12.0,24.0,105.0,Men's Sabre Individual Cat. B,Silver,France,46.227638,2.213749,NaN
9109,PG1980,1980,Arnhem,51.9851,5.8987,Netherlands,52.132633,5.291266,Europe,21 June,...,NaN,15.0,23.0,111.0,Women's Double FITA Round Amputee,Bronze,France,46.227638,2.213749,NaN
9199,PG1994,1994,Lillehammer,61.1153,10.4662,Norway,60.472024,8.468946,Europe,10 March,...,NaN,66.0,24.0,220.0,Men's Giant Slalom LW5/7,Bronze,France,46.227638,2.213749,NaN
9202,PG1994,1994,Lillehammer,61.1153,10.4662,Norway,60.472024,8.468946,Europe,10 March,...,NaN,66.0,24.0,220.0,Men's Super-G LW5/7,Bronze,France,46.227638,2.213749,NaN
9205,PG1994,1994,Lillehammer,61.1153,10.4662,Norway,60.472024,8.468946,Europe,10 March,...,NaN,66.0,24.0,220.0,Men's Downhill LW5/7,Bronze,France,46.227638,2.213749,NaN
9226,PG1994,1994,Lillehammer,61.1153,10.4662,Norway,60.472024,8.468946,Europe,10 March,...,NaN,48.0,25.0,176.0,Men's 10 km Free Technique LW6/8,Bronze,France,46.227638,2.213749,NaN
9229,PG1994,1994,Lillehammer,61.1153,10.4662,Norway,60.472024,8.468946,Europe,10 March,...,NaN,48.0,25.0,176.0,Men's 20 km Classical Technique LW6/8,Bronze,France,46.227638,2.213749,NaN
9591,PG2016,2016,Rio de Janeiro,-22.9068,-43.1729,Brazil,-14.235004,-51.925280,Americas,7 September,...,Rio Olympic Velodrome (Track) / Pontal (Road),50.0,45.0,235.0,Men's Road Race T1-2,Gold,Germany,51.165691,10.451526,NaN
9594,PG2016,2016,Rio de Janeiro,-22.9068,-43.1729,Brazil,-14.235004,-51.925280,Americas,7 September,...,Rio Olympic Velodrome (Track) / Pontal (Road),50.0,45.0,235.0,Men's Time Trial T1-2,Gold,Germany,51.165691,10.451526,NaN
9658,PG1968,1968,Tel Aviv,32.0853,34.7818,Israel,31.046051,34.851612,Europe,4 November,...,"Ilan Sport Centre, Ramat Gan",10.0,9.0,65.0,Men's Novices Foil,Gold,Germany,51.165691,10.451526,NaN
9939,PG2018,2018,Pyeongchang,37.3706,128.3897,Korea,35.907757,127.766922,Asia,9 March,...,Jeongseon Alpine Centre,30.0,33.0,141.0,Women's Slalom Sitting,Gold,Germany,51.165691,10.451526,NaN
9942,PG2018,2018,Pyeongchang,37.3706,128.3897,Korea,35.907757,127.766922,Asia,9 March,...,Jeongseon Alpine Centre,30.0,33.0,141.0,Women's Super Combined Sitting,Gold,Germany,51.165691,10.451526,NaN
10484,PG1992,1992,Barcelona-Madrid,41.3851,2.1734,Spain,40.463667,-3.749220,Europe,3 September,...,NaN,9.0,19.0,149.0,Men's Road Team Time Trial Tandem Open,Bronze,Germany,51.165691,10.451526,NaN
10489,PG1992,1992,Barcelona-Madrid,41.3851,2.1734,Spain,40.463667,-3.749220,Europe,3 September,...,NaN,9.0,19.0,149.0,Men's Road Tandem Open,Gold,Germany,51.165691,10.451526,NaN
10507,PG1992,1992,Barcelona-Madrid,41.3851,2.1734,Spain,40.463667,-3.749220,Europe,3 September,...,NaN,163.0,56.0,487.0,Men's 100 m Breaststroke SB8,Bronze,Germany,51.165691,10.451526,NaN
10592,PG1992,1992,Barcelona-Madrid,41.3851,2.1734,Spain,40.463667,-3.749220,Europe,3 September,...,NaN,30.0,40.0,265.0,Men's Teams 5,Gold,Germany,51.165691,10.451526,NaN
10690,PG2014,2014,Sochi,43.6028,39.7342,Russia,61.524010,105.318756,Europe,7 March,...,Rosa Khutor Alpine Center,32.0,40.0,214.0,Women's Giant Slalom Sitting,Bronze,Germany,51.165691,10.451526,NaN
10692,PG2014,2014,Sochi,43.6028,39.7342,Russia,61.524010,105.318756,Europe,7 March,...,Rosa Khutor Alpine Center,32.0,40.0,214.0,Women's Slalom Sitting,Silver,Germany,51.165691,10.451526,NaN
10696,PG2014,2014,Sochi,43.6028,39.7342,Russia,61.524010,105.318756,Europe,7 March,...,Rosa Khutor Alpine Center,32.0,40.0,214.0,Women's Super Combined Sitting,Silver,Germany,51.165691,10.451526,NaN
10823,PG1976,1976,Toronto,43.6511,-79.3837,Canada,56.130366,-106.346771,Americas,2 august,...,NaN,14.0,10.0,54.0,Men's Foil Individual 2-3,Gold,Germany,51.165691,10.451526,NaN
10827,PG1976,1976,Toronto,43.6511,-79.3837,Canada,56.130366,-106.346771,Americas,2 august,...,NaN,14.0,10.0,54.0,Men's Foil Novice Team,Gold,Germany,51.165691,10.451526,NaN
11069,PG1972,1972,Heidelberg,49.3988,8.6724,West Germany,51.165691,10.451526,Europe,2 august,...,NaN,11.0,9.0,52.0,Men's Foil Team,Bronze,Germany,51.165691,10.451526,NaN
11106,PG2012,2012,London,51.5074,-0.1278,United Kingdom,55.378051,-3.435973,Europe,29 august,...,"London Velopark (track), Brands Hatch (road)",50.0,48.0,223.0,Mixed Time Trial T1-2,Silver,Germany,51.165691,10.451526,NaN
11362,PG1980,1980,Arnhem,51.9851,5.8987,Netherlands,52.132633,5.291266,Europe,21 June,...,NaN,17.0,7.0,45.0,Men's Sabre Individual 2-3,Bronze,Germany,51.165691,10.451526,NaN
11367,PG1980,1980,Arnhem,51.9851,5.8987,Netherlands,52.132633,5.291266,Europe,21 June,...,NaN,17.0,7.0,45.0,Men's Foil Individual 2-3,Gold,Germany,51.165691,10.451526,NaN
11742,PG1984,1984,"New York, Stoke Mandeville",NaN,NaN,"United States,United Kingdom",NaN,NaN,"Americas, Europe",17 June22 July,...,NaN,15.0,8.0,33.0,Men's Epee Individual 2-3,Silver,Germany,51.165691,10.451526,NaN
11745,PG1984,1984,"New York, Stoke Mandeville",NaN,NaN,"United States,United Kingdom",NaN,NaN,"Americas, Europe",17 June22 July,...,NaN,15.0,8.0,33.0,Men's Foil Individual 2-3,Silver,Germany,51.165691,10.451526,NaN

In [181]:
para_athlete['athlete_name'].nunique()

10314

In [178]:
para_athlete['part_country'].unique().tolist()

['Algeria',
 'Angola',
 'Argentina',
 'Australia',
 'Belgium',
 'France',
 'Germany',
 'Ireland',
 'United Kingdom',
 'Austria',
 'United States',
 'Zimbabwe',
 'Azerbaijan',
 'Bahamas',
 'Bahrain',
 'Belarus',
 'Italy',
 'Bosnia & Herzegovina',
 'Botswana',
 'Brazil',
 'Bulgaria',
 'Canada',
 'Cape Verde',
 'Chile',
 'China',
 'Colombia',
 "Côte d'Ivoire",
 'Croatia',
 'Cuba',
 'Cyprus',
 'Czechia',
 'Denmark',
 'Dominican Republic',
 'Egypt',
 'Estonia',
 'Ethiopia',
 'Faroe Islands',
 'Fiji',
 'Finland',
 'Georgia',
 'Malta',
 'Netherlands',
 'Switzerland',
 'Greece',
 'Guatemala',
 'Hong Kong SAR China',
 'Hungary',
 'Iceland',
 'India',
 'Indonesia',
 'Iran',
 'Iraq',
 'Israel',
 'Jamaica',
 'Japan',
 'Jordan',
 'Kazakhstan',
 'Kenya',
 'Kuwait',
 'Laos',
 'Latvia',
 'Lebanon',
 'Libya',
 'Liechtenstein',
 'Lithuania',
 'Luxembourg',
 'Malaysia',
 'Norway',
 'Mexico',
 'Moldova',
 'Mongolia',
 'Morocco',
 'Mozambique',
 'Myanmar (Burma)',
 nan,
 'Namibia',
 'New Zealand',
 'Nigeria',
 'North Macedonia',
 'Pakistan',
 'Palestinian Territories',
 'Panama',
 'Papua New Guinea',
 'Peru',
 'Philippines',
 'Poland',
 'Portugal',
 'Puerto Rico',
 'Qatar',
 'Romania',
 'Russia',
 'Rwanda',
 'Saudi Arabia',
 'Serbia',
 'Singapore',
 'Slovakia',
 'Slovenia',
 'South Africa',
 'South Korea',
 'Spain',
 'Sri Lanka',
 'Sudan',
 'Sweden',
 'Syria',
 'Taiwan',
 'Thailand',
 'Trinidad & Tobago',
 'Tunisia',
 'Turkey',
 'Uganda',
 'Ukraine',
 'United Arab Emirates',
 'Uruguay',
 'Uzbekistan',
 'Venezuela',
 'Vietnam']

In [168]:
para_athlete[para_athlete['part_country'].isna()].head()

,games_code,games_year,games_city,City_latitude,City_longitude,games_country,Country_latitude,Country_longitude,games_continent,games_start,...,event_venue,events,npcs,athletes,event,medal,part_country,npc_name_latitude,npc_name_longitude,athlete_name
15220,PG1996,1996,Atlanta,33.7490,-84.3880,United States,37.090240,-95.712891,Americas,16 august,...,NaN,1.0,15.0,59.0,NaN,NaN,NaN,0.0,0.0,NaN
15221,PG1996,1996,Atlanta,33.7490,-84.3880,United States,37.090240,-95.712891,Americas,16 august,...,Atlanta Metro College,1.0,6.0,47.0,NaN,NaN,NaN,0.0,0.0,NaN
15222,PG2018,2018,Pyeongchang,37.3706,128.3897,Korea,35.907757,127.766922,Asia,9 March,...,Jeongseon Alpine Centre,30.0,33.0,141.0,Men's Slalom Visually Impaired,Bronze,NaN,0.0,0.0,REDKOZUBOV V
15223,PG2018,2018,Pyeongchang,37.3706,128.3897,Korea,35.907757,127.766922,Asia,9 March,...,Jeongseon Alpine Centre,30.0,33.0,141.0,Men's Slalom Visually Impaired,Bronze,NaN,0.0,0.0,GEROEV E
15224,PG2018,2018,Pyeongchang,37.3706,128.3897,Korea,35.907757,127.766922,Asia,9 March,...,Jeongseon Alpine Centre,30.0,33.0,141.0,Men's Super Combined Visually Impaired,Bronze,NaN,0.0,0.0,REDKOZUBOV V

In [133]:
para_standings.isna().sum()

games_code           0
games_year           0
games_city           0
games_country        0
games_continent      0
games_start          0
games_end            0
games_season         0
part_country         8
rank_type            0
npc_rank           290
npc_gold             0
npc_silver           0
npc_bronze           0
sport_code         269
sport              269
dtype: int64

In [134]:
x = para_athlete.merge(para_standings, how = 'left')
x.head()

,games_code,games_year,games_city,City_latitude,City_longitude,games_country,Country_latitude,Country_longitude,games_continent,games_start,...,medal,part_country,npc_name_latitude,npc_name_longitude,athlete_name,rank_type,npc_rank,npc_gold,npc_silver,npc_bronze
0,PG2000,2000,Sydney,-33.8688,151.2093,Australia,-25.274398,133.775136,Oceania,18 October,...,Gold,Algeria,28.033886,1.659626,ALLEK M,NaN,NaN,NaN,NaN,NaN
1,PG2000,2000,Sydney,-33.8688,151.2093,Australia,-25.274398,133.775136,Oceania,18 October,...,Gold,Algeria,28.033886,1.659626,ALLEK M,NaN,NaN,NaN,NaN,NaN
2,PG2000,2000,Sydney,-33.8688,151.2093,Australia,-25.274398,133.775136,Oceania,18 October,...,Gold,Algeria,28.033886,1.659626,ALLEK M,NaN,NaN,NaN,NaN,NaN
3,PG2016,2016,Rio de Janeiro,-22.9068,-43.1729,Brazil,-14.235004,-51.925280,Americas,7 September,...,Bronze,Algeria,28.033886,1.659626,HAMOUMOU M,NaN,NaN,NaN,NaN,NaN
4,PG2016,2016,Rio de Janeiro,-22.9068,-43.1729,Brazil,-14.235004,-51.925280,Americas,7 September,...,Bronze,Algeria,28.033886,1.659626,HAMDI S,NaN,NaN,NaN,NaN,NaN

In [135]:
para_athlete.head(3)

,games_code,games_year,games_city,City_latitude,City_longitude,games_country,Country_latitude,Country_longitude,games_continent,games_start,...,event_venue,events,npcs,athletes,event,medal,part_country,npc_name_latitude,npc_name_longitude,athlete_name
0,PG2000,2000,Sydney,-33.8688,151.2093,Australia,-25.274398,133.775136,Oceania,18 October,...,NaN,234.0,104.0,1044.0,Men's 100 m T37,Gold,Algeria,28.033886,1.659626,ALLEK M
1,PG2000,2000,Sydney,-33.8688,151.2093,Australia,-25.274398,133.775136,Oceania,18 October,...,NaN,234.0,104.0,1044.0,Men's 200 m T37,Gold,Algeria,28.033886,1.659626,ALLEK M
2,PG2000,2000,Sydney,-33.8688,151.2093,Australia,-25.274398,133.775136,Oceania,18 October,...,NaN,234.0,104.0,1044.0,Men's 400 m T37,Gold,Algeria,28.033886,1.659626,ALLEK M

In [136]:
para_standings.head(3)

,games_code,games_year,games_city,games_country,games_continent,games_start,games_end,games_season,part_country,rank_type,npc_rank,npc_gold,npc_silver,npc_bronze,sport_code,sport
0,PG1972,1972,Heidelberg,West Germany,Europe[a],2 August,11 August,Summer,Germany,Overall,1.0,28,17,22,NaN,NaN
1,PG1972,1972,Heidelberg,West Germany,Europe[a],2 August,11 August,Summer,United States,Overall,2.0,17,27,31,NaN,NaN
2,PG1972,1972,Heidelberg,West Germany,Europe[a],2 August,11 August,Summer,United Kingdom,Overall,3.0,16,15,21,NaN,NaN

Now we explore all columns

In [137]:
gamecodes = para_standings['games_code'].value_counts().reset_index(name = 'count').sort_values('count', ascending = False)
gamecodes

   games_code  count
0      PG2016    183
1      PG2012    168
2      PG2008    163
3      PG2004    154
4      PG1996    146
5      PG2000    143
6      PG1984    137
7      PG1988    134
8      PG1992    133
9      PG1980    109
10     PG1976    102
11     PG1972     88
12     PG1968     83
13     PG1964     74
14     PG1960     58
15     PG2018     53
16     PG1998     45
17     PG1994     44
18     PG2002     43
19     PG2010     43
20     PG2014     43
21     PG2006     42
22     PW1988     38
23     PW1992     35
24     PW1984     34
25     PW1980     29
26     PW1976     22

In [138]:
#games by year
games_by_year = para_standings.groupby('games_year')['games_code'].value_counts().reset_index(name= 'game_count').sort_values(['games_year','game_count'], ascending = [True, False])
games_by_year

    games_year games_code  game_count
0         1960     PG1960          58
1         1964     PG1964          74
2         1968     PG1968          83
3         1972     PG1972          88
4         1976     PG1976         102
5         1976     PW1976          22
6         1980     PG1980         109
7         1980     PW1980          29
8         1984     PG1984         137
9         1984     PW1984          34
10        1988     PG1988         134
11        1988     PW1988          38
12        1992     PG1992         133
13        1992     PW1992          35
14        1994     PG1994          44
15        1996     PG1996         146
16        1998     PG1998          45
17        2000     PG2000         143
18        2002     PG2002          43
19        2004     PG2004         154
20        2006     PG2006          42
21        2008     PG2008         163
22        2010     PG2010          43
23        2012     PG2012         168
24        2014     PG2014          43
25        2016     PG2016         183
26        2018     PG2018          53

In [139]:
#games by city

games_by_city = para_standings.groupby('games_city')['games_code'].value_counts().reset_index(name= 'games_count').sort_values('games_count', ascending = False)
games_by_city.head()

        games_city games_code  games_count
14  Rio de Janeiro     PG2016          183
10          London     PG2012          168
4          Beijing     PG2008          163
1           Athens     PG2004          154
2          Atlanta     PG1996          146

In [140]:
#games by year and city

games_by_year_and_city = para_standings.groupby(['games_year', 'games_city'])['games_code'].value_counts().reset_index(name= 'count')
games_by_year_and_city.head()

   games_year  games_city games_code  count
0        1960        Rome     PG1960     58
1        1964       Tokyo     PG1964     74
2        1968    Tel Aviv     PG1968     83
3        1972  Heidelberg     PG1972     88
4        1976     Toronto     PG1976    102

In [141]:
host_country = para_standings.groupby(['games_year', 'games_country'])['games_city'].value_counts().reset_index(name= 'game_counts').sort_values(['games_year', 'games_country', 'game_counts'], ascending = [True, True, False])
host_country

,games_year,games_country,games_city,game_counts
0,1960,Italy,Rome,58
1,1964,Japan,Tokyo,74
2,1968,Israel,Tel Aviv,83
3,1972,West Germany,Heidelberg,88
4,1976,Canada,Toronto,102
5,1976,Sweden,Örnsköldsvik,22
6,1980,Netherlands,Arnhem,109
7,1980,Norway,Geilo,29
8,1984,Austria,Innsbruck,34
9,1984,United StatesUnited Kingdom,New York Stoke Mandeville,137
10,1988,Austria,Innsbruck,38
11,1988,Korea Republic,Seoul,134
12,1992,France,Tignes-Albertville,35
13,1992,Spain,Barcelona-Madrid,133
14,1994,Norway,Lillehammer,44
15,1996,United States,Atlanta,146
16,1998,Japan,Nagano,45
17,2000,Australia,Sydney,143
18,2002,United States,Salt Lake City,43
19,2004,Greece,Athens,154
20,2006,Italy,Turin,42
21,2008,People's Republic of China,Beijing,163
22,2010,Canada,Vancouver,43
23,2012,United Kingdom,London,168
24,2014,Russia,Sochi,43
25,2016,Brazil,Rio de Janeiro,183
26,2018,Korea,Pyeongchang,53

In [142]:
para_athlete.columns

Index(['games_code', 'games_year', 'games_city', 'City_latitude',
       'City_longitude', 'games_country', 'Country_latitude',
       'Country_longitude', 'games_continent', 'games_start', 'games_end',
       'games_season', 'sport', 'sport_code', 'event_venue', 'events', 'npcs',
       'athletes', 'event', 'medal', 'part_country', 'npc_name_latitude',
       'npc_name_longitude', 'athlete_name'],
      dtype='object')

In [143]:
para_standings.columns

Index(['games_code', 'games_year', 'games_city', 'games_country',
       'games_continent', 'games_start', 'games_end', 'games_season',
       'part_country', 'rank_type', 'npc_rank', 'npc_gold', 'npc_silver',
       'npc_bronze', 'sport_code', 'sport'],
      dtype='object')

In [144]:
x = para_athlete['athletes'].value_counts().reset_index(name = 'count')
x

     athletes  count
0      1141.0   1801
1      1198.0   1275
2       541.0    940
3       502.0    779
4       936.0    779
..        ...    ...
169       2.0      3
170      11.0      1
171      47.0      1
172      23.0      1
173       0.0      1

[174 rows x 2 columns]

Host Countries and Locations:

What is the total number of host countries during the time period? Which continent have hosted the most Olympic Games?

What is the geographical distribution of host cities across continents? (e.g., visualizing games distribution across continents over time)

How do latitude and longitude data for host cities correlate with other factors such as medals won by host countries?

In [145]:
para_athlete.sort_values('games_year', ascending = True).head(25)

,games_code,games_year,games_city,City_latitude,City_longitude,games_country,Country_latitude,Country_longitude,games_continent,games_start,...,event_venue,events,npcs,athletes,event,medal,part_country,npc_name_latitude,npc_name_longitude,athlete_name
27562,PG1960,1960,Rome,41.9028,12.4964,Italy,41.87194,12.56738,Europe,18 September,...,Tre Fontane Sports Centre,2.0,12.0,97.0,Men's Tournament Class B,Gold,United States,37.090240,-95.712891,WELGER S
27561,PG1960,1960,Rome,41.9028,12.4964,Italy,41.87194,12.56738,Europe,18 September,...,Tre Fontane Sports Centre,2.0,12.0,97.0,Men's Tournament Class B,Gold,United States,37.090240,-95.712891,STEIN R
27560,PG1960,1960,Rome,41.9028,12.4964,Italy,41.87194,12.56738,Europe,18 September,...,Tre Fontane Sports Centre,2.0,12.0,97.0,Men's Tournament Class B,Gold,United States,37.090240,-95.712891,SONES P
27559,PG1960,1960,Rome,41.9028,12.4964,Italy,41.87194,12.56738,Europe,18 September,...,Tre Fontane Sports Centre,2.0,12.0,97.0,Men's Tournament Class B,Gold,United States,37.090240,-95.712891,KENNEDY D
27558,PG1960,1960,Rome,41.9028,12.4964,Italy,41.87194,12.56738,Europe,18 September,...,Tre Fontane Sports Centre,2.0,12.0,97.0,Men's Tournament Class B,Gold,United States,37.090240,-95.712891,KARR B
27557,PG1960,1960,Rome,41.9028,12.4964,Italy,41.87194,12.56738,Europe,18 September,...,Tre Fontane Sports Centre,2.0,12.0,97.0,Men's Tournament Class B,Gold,United States,37.090240,-95.712891,BROEREN W
27556,PG1960,1960,Rome,41.9028,12.4964,Italy,41.87194,12.56738,Europe,18 September,...,Tre Fontane Sports Centre,2.0,12.0,97.0,Men's Tournament Class A,Gold,United States,37.090240,-95.712891,TAYLOR E
27555,PG1960,1960,Rome,41.9028,12.4964,Italy,41.87194,12.56738,Europe,18 September,...,Tre Fontane Sports Centre,2.0,12.0,97.0,Men's Tournament Class A,Gold,United States,37.090240,-95.712891,MABEE P
27554,PG1960,1960,Rome,41.9028,12.4964,Italy,41.87194,12.56738,Europe,18 September,...,Tre Fontane Sports Centre,2.0,12.0,97.0,Men's Tournament Class A,Gold,United States,37.090240,-95.712891,CAMP G
27553,PG1960,1960,Rome,41.9028,12.4964,Italy,41.87194,12.56738,Europe,18 September,...,Tre Fontane Sports Centre,2.0,12.0,97.0,Men's Tournament Class A,Gold,United States,37.090240,-95.712891,WILKINS A
27572,PG1960,1960,Rome,41.9028,12.4964,Italy,41.87194,12.56738,Europe,18 September,...,NaN,3.0,1.0,9.0,Men's Sabre Team,Silver,Italy,41.871940,12.567380,RUSCHIONI A
24948,PG1960,1960,Rome,41.9028,12.4964,Italy,41.87194,12.56738,Europe,18 September,...,NaN,11.0,10.0,35.0,Women's Singles A,Gold,United Kingdom,55.378051,-3.435973,ANDERSON
24947,PG1960,1960,Rome,41.9028,12.4964,Italy,41.87194,12.56738,Europe,18 September,...,NaN,11.0,10.0,35.0,Men's Doubles A,Gold,United Kingdom,55.378051,-3.435973,TAYLOR T
24946,PG1960,1960,Rome,41.9028,12.4964,Italy,41.87194,12.56738,Europe,18 September,...,NaN,11.0,10.0,35.0,Men's Doubles A,Gold,United Kingdom,55.378051,-3.435973,BECK M
24945,PG1960,1960,Rome,41.9028,12.4964,Italy,41.87194,12.56738,Europe,18 September,...,NaN,11.0,10.0,35.0,Men's Singles A,Gold,United Kingdom,55.378051,-3.435973,TAYLOR T
27568,PG1960,1960,Rome,41.9028,12.4964,Italy,41.87194,12.56738,Europe,18 September,...,NaN,3.0,1.0,9.0,Men's Sabre Team,Bronze,Italy,41.871940,12.567380,ROSSI F
24935,PG1960,1960,Rome,41.9028,12.4964,Italy,41.87194,12.56738,Europe,18 September,...,NaN,11.0,10.0,35.0,Men's Doubles A,Silver,Netherlands,52.132633,5.291266,JACOBS J
24934,PG1960,1960,Rome,41.9028,12.4964,Italy,41.87194,12.56738,Europe,18 September,...,NaN,11.0,10.0,35.0,Men's Singles C,Silver,Malta,35.937496,14.375416,AZZOPARDI
24933,PG1960,1960,Rome,41.9028,12.4964,Italy,41.87194,12.56738,Europe,18 September,...,NaN,11.0,10.0,35.0,Men's Doubles C,Gold,Italy,41.871940,12.567380,RUSCHIONI A
24932,PG1960,1960,Rome,41.9028,12.4964,Italy,41.87194,12.56738,Europe,18 September,...,NaN,11.0,10.0,35.0,Men's Doubles C,Gold,Italy,41.871940,12.567380,ROSSI F
24931,PG1960,1960,Rome,41.9028,12.4964,Italy,41.87194,12.56738,Europe,18 September,...,NaN,11.0,10.0,35.0,Men's Doubles B,Gold,Italy,41.871940,12.567380,ZARILLI F
24930,PG1960,1960,Rome,41.9028,12.4964,Italy,41.87194,12.56738,Europe,18 September,...,NaN,11.0,10.0,35.0,Men's Doubles B,Gold,Italy,41.871940,12.567380,FERRARIS G
24913,PG1960,1960,Rome,41.9028,12.4964,Italy,41.87194,12.56738,Europe,18 September,...,NaN,11.0,10.0,35.0,Women's Doubles C,Gold,Austria,47.516231,14.550072,BERGER-WALDENEGG M
24944,PG1960,1960,Rome,41.9028,12.4964,Italy,41.87194,12.56738,Europe,18 September,...,NaN,11.0,10.0,35.0,Women's Doubles C,Silver,United Kingdom,55.378051,-3.435973,EDWARDSGUBBIN
24943,PG1960,1960,Rome,41.9028,12.4964,Italy,41.87194,12.56738,Europe,18 September,...,NaN,11.0,10.0,35.0,Women's Doubles B,Bronze,United Kingdom,55.378051,-3.435973,FROGGARTMASHAM S

In [146]:
#total number of host countries within the said period
total_host_countries = para_athlete['games_country'].nunique()
total_host_countries

21

In [147]:
#list of host countries

host_country = para_athlete.groupby('games_country')['games_country'].value_counts().reset_index(name= 'host_times'
                                                                            ).sort_values('host_times', ascending = True)

In [148]:
#distribution of hosting across continents

cont_host_ext = para_athlete[['games_continent','games_year', 'games_country']].drop_duplicates().sort_values(
    'games_year', ascending = True)

x = cont_host_ext['games_continent'].str.split(',').explode().str.strip().reset_index(name = 'games_continent')
x = x['games_continent'].value_counts().reset_index(name = 'host_count').sort_values('host_count', ascending = False)
x

  games_continent  host_count
0          Europe          16
1        Americas           6
2            Asia           5
3         Oceania           1

In [149]:
#What is the geographical distribution of host cities across continents? (e.g., visualizing games distribution across continents over time)
host_cities_by_cont_ext = para_athlete[['games_continent','games_country', 'games_city']].drop_duplicates()

cont_ext = host_cities_by_cont_ext['games_continent'].str.split(',').explode().str.strip().reset_index(name = 'games_cont')
cont_ext.head()

city_ext = host_cities_by_cont_ext['games_city'].str.split(',').explode().str.strip().reset_index(name= 'games_city')
city_ext.head()

cont_city = cont_ext.merge(city_ext, on= 'index')
cont_city.sort_values(['games_cont', 'games_city'], ascending = [True, True])
cont_city.sort_values

cont_city.drop(index= [24, 23], inplace = True )

cont_city

host_cities_by_cont = cont_city['games_cont'].value_counts().reset_index(name= 'city_count').sort_values('city_count', ascending = False)
host_cities_by_cont

  games_cont  city_count
0     Europe          15
1   Americas           6
2       Asia           5
3    Oceania           1

In [150]:
#games_count
para_athlete['games_code'].drop_duplicates().count()

np.int64(27)

In [151]:
zz = para_athlete[['games_continent', 'games_city']].drop_duplicates()
zz.sort_values(['games_continent', 'games_city'], ascending = [True, True]).tail(10)

     games_continent          games_city
2106          Europe           Innsbruck
1580          Europe         Lillehammer
52            Europe              London
191           Europe                Rome
1300          Europe               Sochi
98            Europe            Tel Aviv
1349          Europe  Tignes-Albertville
1347          Europe               Turin
2376          Europe        Örnsköldsvik
0            Oceania              Sydney

In [152]:
para_athlete.loc[para_athlete['games_country'] == 'Norway']

,games_code,games_year,games_city,City_latitude,City_longitude,games_country,Country_latitude,Country_longitude,games_continent,games_start,...,event_venue,events,npcs,athletes,event,medal,part_country,npc_name_latitude,npc_name_longitude,athlete_name
1580,PG1994,1994,Lillehammer,61.1153,10.4662,Norway,60.472024,8.468946,Europe,10 March,...,NaN,66.0,24.0,220.0,Men's Giant Slalom LW9,Bronze,Australia,-25.274398,133.775136,PATTERSON J
1581,PG1994,1994,Lillehammer,61.1153,10.4662,Norway,60.472024,8.468946,Europe,10 March,...,NaN,66.0,24.0,220.0,Men's Giant Slalom LWXI,Bronze,Australia,-25.274398,133.775136,MUNK D
1582,PG1994,1994,Lillehammer,61.1153,10.4662,Norway,60.472024,8.468946,Europe,10 March,...,NaN,66.0,24.0,220.0,Men's Super-G LW2,Bronze,Australia,-25.274398,133.775136,MILTON M
1583,PG1994,1994,Lillehammer,61.1153,10.4662,Norway,60.472024,8.468946,Europe,10 March,...,NaN,66.0,24.0,220.0,Men's Downhill LW2,Bronze,Australia,-25.274398,133.775136,MILTON M
1584,PG1994,1994,Lillehammer,61.1153,10.4662,Norway,60.472024,8.468946,Europe,10 March,...,NaN,66.0,24.0,220.0,Men's Slalom LW2,Silver,Australia,-25.274398,133.775136,MILTON M
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28416,PG1994,1994,Lillehammer,61.1153,10.4662,Norway,60.472024,8.468946,Europe,10 March,...,NaN,66.0,24.0,220.0,Women's Downhill LWX-XII,Gold,United States,37.090240,-95.712891,WILL S
28417,PG1994,1994,Lillehammer,61.1153,10.4662,Norway,60.472024,8.468946,Europe,10 March,...,NaN,48.0,25.0,176.0,Women's 5 km Free Technique B1,Bronze,United States,37.090240,-95.712891,DROLET M
28418,PG1994,1994,Lillehammer,61.1153,10.4662,Norway,60.472024,8.468946,Europe,10 March,...,NaN,48.0,25.0,176.0,Men's 5 km Sitski LW10,Silver,United States,37.090240,-95.712891,PAGELS J
28419,PG1994,1994,Lillehammer,61.1153,10.4662,Norway,60.472024,8.468946,Europe,10 March,...,NaN,48.0,25.0,176.0,Men's 10 km Sitski LW10,Silver,United States,37.090240,-95.712891,PAGELS J
28420,PG1994,1994,Lillehammer,61.1153,10.4662,Norway,60.472024,8.468946,Europe,10 March,...,NaN,48.0,25.0,176.0,Men's 15 km Sitski LW10,Silver,United States,37.090240,-95.712891,PAGELS J