In [2]:
import numpy as np
import pandas as pd
import seaborn as sns

In [3]:
#Now we import our datasets

para_athlete = pd.read_excel("./medal_athlete.xlsx")

para_standings = pd.read_excel("./medal_standings.xlsx")

Data Preparation

In [4]:
print(para_athlete.columns)
para_athlete.info()

Index(['games_code', 'games_year', 'games_city', 'City_latitude',
       'City_longitude', 'games_country', 'Country_latitude',
       'Country_longitude', 'games_continent', 'games_start', 'games_end',
       'games_season', 'sport', 'sport_code', 'event_venue', 'events', 'npcs',
       'athletes', 'event', 'medal', 'npc', 'npc_new', 'npc_name',
       'npc_name_latitude', 'npc_name_longitude', 'athlete_name',
       'athlete_info_og'],
      dtype='object')
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29170 entries, 0 to 29169
Data columns (total 27 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   games_code          29170 non-null  object
 1   games_year          29170 non-null  int64
 2   games_city          29170 non-null  object
 3   City_latitude       26428 non-null  float64
 4   City_longitude      26428 non-null  float64
 5   games_country       29170 non-null  object
 6   Country_latitude    26428 non-null  float64
 7   Country_longitude   26428 non-null  float64
 8   games_continent     29170 non-null  object
 9   games_start         29170 non-null  object
 10  games_end           29170 non-null  object
 11  games_season        29170 non-null  object
 12  sport               29170 non-null  object
 13  sport_code          29170 non-null  object
 14  event_venue         10949 non-null  object
 15  events              28949 non-null  float64
 16  npcs                28949 non-null  float64
 17  athletes            28949 non-null  float64
 18  event               28944 non-null  object
 19  medal               28944 non-null  object
 20  npc                 28944 non-null  object
 21  npc_new             28944 non-null  object
 22  npc_name            28837 non-null  object
 23  npc_name_latitude   28943 non-null  float64
 24  npc_name_longitude  28943 non-null  float64
 25  athlete_name        28707 non-null  object
 26  athlete_info_og     28944 non-null  object
dtypes: float64(9), int64(1), object(17)
memory usage: 6.0+ MB

In [5]:
print(para_standings.columns)
para_standings.info()

Index(['games_code', 'games_year', 'games_city', 'games_country',
       'games_continent', 'games_start', 'games_end', 'games_season', 'npc',
       'npc_new', 'npc_name', 'rank_type', 'npc_rank', 'npc_gold',
       'npc_silver', 'npc_bronze', 'sport_code', 'sport'],
      dtype='object')
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2346 entries, 0 to 2345
Data columns (total 18 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   games_code       2346 non-null   object
 1   games_year       2346 non-null   int64
 2   games_city       2346 non-null   object
 3   games_country    2346 non-null   object
 4   games_continent  2346 non-null   object
 5   games_start      2346 non-null   object
 6   games_end        2346 non-null   object
 7   games_season     2346 non-null   object
 8   npc              2346 non-null   object
 9   npc_new          2346 non-null   object
 10  npc_name         2338 non-null   object
 11  rank_type        2346 non-null   object
 12  npc_rank         2056 non-null   float64
 13  npc_gold         2346 non-null   int64
 14  npc_silver       2346 non-null   int64
 15  npc_bronze       2346 non-null   int64
 16  sport_code       2077 non-null   object
 17  sport            2077 non-null   object
dtypes: float64(1), int64(4), object(13)
memory usage: 330.0+ KB

In [6]:
para_athlete.describe()

,games_year,City_latitude,City_longitude,Country_latitude,Country_longitude,events,npcs,athletes,npc_name_latitude,npc_name_longitude
count,29170.00000,26428.000000,26428.000000,26428.000000,26428.000000,28949.000000,28949.000000,28949.000000,28943.000000,28943.000000
mean,1994.59904,30.358306,29.381928,32.822317,24.458944,132.422916,47.182044,494.251857,39.242844,10.697499
std,14.12504,27.537241,78.295889,25.288023,79.459705,125.272913,33.350603,390.174213,23.756039,68.196626
min,1960.00000,-33.868800,-123.120700,-25.274398,-106.346771,1.000000,0.000000,0.000000,-40.900557,-106.346771
25%,1984.00000,33.749000,-0.127800,35.861660,-3.749220,20.000000,23.000000,147.000000,36.204824,-3.435973
50%,1996.00000,37.983800,8.672400,37.090240,10.451526,140.000000,40.000000,441.000000,46.818188,10.451526
75%,2007.50000,45.070300,116.407400,51.165691,105.318756,208.000000,61.000000,908.000000,53.709807,27.953389
max,2018.00000,63.290900,151.209300,61.524010,138.252924,449.000000,146.000000,1198.000000,64.963051,179.414413

In [7]:
para_standings.describe()

        games_year     npc_rank     npc_gold   npc_silver   npc_bronze
count  2346.000000  2056.000000  2346.000000  2346.000000  2346.000000
mean   1994.145780     4.620623     5.279199     4.627877     4.367860
std      15.832629     2.769497    11.060410     9.796177     9.192876
min    1960.000000     1.000000     0.000000     0.000000     0.000000
25%    1984.000000     2.000000     0.000000     0.000000     0.000000
50%    1996.000000     4.000000     1.000000     1.000000     1.000000
75%    2008.000000     7.000000     5.000000     4.000000     4.000000
max    2018.000000    10.000000   137.000000   131.000000   129.000000

In [8]:
para_standings.head(5)

,games_code,games_year,games_city,games_country,games_continent,games_start,games_end,games_season,npc,npc_new,npc_name,rank_type,npc_rank,npc_gold,npc_silver,npc_bronze,sport_code,sport
0,PG1972,1972,Heidelberg,West Germany,Europe[a],2 August,11 August,Summer,FRG,GER,Germany,Overall,1.0,28,17,22,NaN,NaN
1,PG1972,1972,Heidelberg,West Germany,Europe[a],2 August,11 August,Summer,USA,USA,United States,Overall,2.0,17,27,31,NaN,NaN
2,PG1972,1972,Heidelberg,West Germany,Europe[a],2 August,11 August,Summer,GBR,GBR,United Kingdom,Overall,3.0,16,15,21,NaN,NaN
3,PG1972,1972,Heidelberg,West Germany,Europe[a],2 August,11 August,Summer,RSA,RSA,South Africa,Overall,4.0,16,12,13,NaN,NaN
4,PG1972,1972,Heidelberg,West Germany,Europe[a],2 August,11 August,Summer,NED,NED,Netherlands,Overall,5.0,14,13,11,NaN,NaN

In [9]:
para_athlete.head()

,games_code,games_year,games_city,City_latitude,City_longitude,games_country,Country_latitude,Country_longitude,games_continent,games_start,...,athletes,event,medal,npc,npc_new,npc_name,npc_name_latitude,npc_name_longitude,athlete_name,athlete_info_og
0,PG2000,2000,Sydney,-33.8688,151.2093,Australia,-25.274398,133.775136,Oceania,18 October,...,1044.0,Men's 100 m T37,Gold,ALG,ALG,Algeria,28.033886,1.659626,ALLEK M,ALLEK Mohamed (ALG)
1,PG2000,2000,Sydney,-33.8688,151.2093,Australia,-25.274398,133.775136,Oceania,18 October,...,1044.0,Men's 200 m T37,Gold,ALG,ALG,Algeria,28.033886,1.659626,ALLEK M,ALLEK Mohamed (ALG)
2,PG2000,2000,Sydney,-33.8688,151.2093,Australia,-25.274398,133.775136,Oceania,18 October,...,1044.0,Men's 400 m T37,Gold,ALG,ALG,Algeria,28.033886,1.659626,ALLEK M,ALLEK Mohamed (ALG)
3,PG2016,2016,Rio de Janeiro,-22.9068,-43.1729,Brazil,-14.235004,-51.925280,Americas,7 September,...,1141.0,Men's 400 m T13,Bronze,ALG,ALG,Algeria,28.033886,1.659626,HAMOUMOU M,HAMOUMOU Mohamed Fouad (ALG)
4,PG2016,2016,Rio de Janeiro,-22.9068,-43.1729,Brazil,-14.235004,-51.925280,Americas,7 September,...,1141.0,Men's 400 m T37,Bronze,ALG,ALG,Algeria,28.033886,1.659626,HAMDI S,HAMDI Sofiane (ALG)

In [10]:
x = para_athlete.merge(para_standings, how = 'left')
x.head()

,games_code,games_year,games_city,City_latitude,City_longitude,games_country,Country_latitude,Country_longitude,games_continent,games_start,...,npc_name,npc_name_latitude,npc_name_longitude,athlete_name,athlete_info_og,rank_type,npc_rank,npc_gold,npc_silver,npc_bronze
0,PG2000,2000,Sydney,-33.8688,151.2093,Australia,-25.274398,133.775136,Oceania,18 October,...,Algeria,28.033886,1.659626,ALLEK M,ALLEK Mohamed (ALG),NaN,NaN,NaN,NaN,NaN
1,PG2000,2000,Sydney,-33.8688,151.2093,Australia,-25.274398,133.775136,Oceania,18 October,...,Algeria,28.033886,1.659626,ALLEK M,ALLEK Mohamed (ALG),NaN,NaN,NaN,NaN,NaN
2,PG2000,2000,Sydney,-33.8688,151.2093,Australia,-25.274398,133.775136,Oceania,18 October,...,Algeria,28.033886,1.659626,ALLEK M,ALLEK Mohamed (ALG),NaN,NaN,NaN,NaN,NaN
3,PG2016,2016,Rio de Janeiro,-22.9068,-43.1729,Brazil,-14.235004,-51.925280,Americas,7 September,...,Algeria,28.033886,1.659626,HAMOUMOU M,HAMOUMOU Mohamed Fouad (ALG),NaN,NaN,NaN,NaN,NaN
4,PG2016,2016,Rio de Janeiro,-22.9068,-43.1729,Brazil,-14.235004,-51.925280,Americas,7 September,...,Algeria,28.033886,1.659626,HAMDI S,HAMDI Sofiane (ALG),NaN,NaN,NaN,NaN,NaN

In [11]:
para_athlete.head(3)

,games_code,games_year,games_city,City_latitude,City_longitude,games_country,Country_latitude,Country_longitude,games_continent,games_start,...,athletes,event,medal,npc,npc_new,npc_name,npc_name_latitude,npc_name_longitude,athlete_name,athlete_info_og
0,PG2000,2000,Sydney,-33.8688,151.2093,Australia,-25.274398,133.775136,Oceania,18 October,...,1044.0,Men's 100 m T37,Gold,ALG,ALG,Algeria,28.033886,1.659626,ALLEK M,ALLEK Mohamed (ALG)
1,PG2000,2000,Sydney,-33.8688,151.2093,Australia,-25.274398,133.775136,Oceania,18 October,...,1044.0,Men's 200 m T37,Gold,ALG,ALG,Algeria,28.033886,1.659626,ALLEK M,ALLEK Mohamed (ALG)
2,PG2000,2000,Sydney,-33.8688,151.2093,Australia,-25.274398,133.775136,Oceania,18 October,...,1044.0,Men's 400 m T37,Gold,ALG,ALG,Algeria,28.033886,1.659626,ALLEK M,ALLEK Mohamed (ALG)

In [12]:
para_standings.head(3)

,games_code,games_year,games_city,games_country,games_continent,games_start,games_end,games_season,npc,npc_new,npc_name,rank_type,npc_rank,npc_gold,npc_silver,npc_bronze,sport_code,sport
0,PG1972,1972,Heidelberg,West Germany,Europe[a],2 August,11 August,Summer,FRG,GER,Germany,Overall,1.0,28,17,22,NaN,NaN
1,PG1972,1972,Heidelberg,West Germany,Europe[a],2 August,11 August,Summer,USA,USA,United States,Overall,2.0,17,27,31,NaN,NaN
2,PG1972,1972,Heidelberg,West Germany,Europe[a],2 August,11 August,Summer,GBR,GBR,United Kingdom,Overall,3.0,16,15,21,NaN,NaN

Now we explore all columns

In [13]:
gamecodes = para_standings['games_code'].value_counts().reset_index(name = 'count').sort_values('count', ascending = False)
gamecodes

   games_code  count
0      PG2016    183
1      PG2012    168
2      PG2008    163
3      PG2004    154
4      PG1996    146
5      PG2000    143
6      PG1984    137
7      PG1988    134
8      PG1992    133
9      PG1980    109
10     PG1976    102
11     PG1972     88
12     PG1968     83
13     PG1964     74
14     PG1960     58
15     PG2018     53
16     PG1998     45
17     PG1994     44
18     PG2002     43
19     PG2010     43
20     PG2014     43
21     PG2006     42
22     PW1988     38
23     PW1992     35
24     PW1984     34
25     PW1980     29
26     PW1976     22

In [14]:
#games by year
games_by_year = para_standings.groupby('games_year')['games_code'].value_counts().reset_index(name= 'game_count').sort_values(['games_year','game_count'], ascending = [True, False])
games_by_year

    games_year games_code  game_count
0         1960     PG1960          58
1         1964     PG1964          74
2         1968     PG1968          83
3         1972     PG1972          88
4         1976     PG1976         102
5         1976     PW1976          22
6         1980     PG1980         109
7         1980     PW1980          29
8         1984     PG1984         137
9         1984     PW1984          34
10        1988     PG1988         134
11        1988     PW1988          38
12        1992     PG1992         133
13        1992     PW1992          35
14        1994     PG1994          44
15        1996     PG1996         146
16        1998     PG1998          45
17        2000     PG2000         143
18        2002     PG2002          43
19        2004     PG2004         154
20        2006     PG2006          42
21        2008     PG2008         163
22        2010     PG2010          43
23        2012     PG2012         168
24        2014     PG2014          43
25        2016     PG2016         183
26        2018     PG2018          53

In [15]:
#games by city

games_by_city = para_standings.groupby('games_city')['games_code'].value_counts().reset_index(name= 'games_count').sort_values('games_count', ascending = False)
games_by_city.head()

        games_city games_code  games_count
14  Rio de Janeiro     PG2016          183
10          London     PG2012          168
4          Beijing     PG2008          163
1           Athens     PG2004          154
2          Atlanta     PG1996          146

In [16]:
#games by year and city

games_by_year_and_city = para_standings.groupby(['games_year', 'games_city'])['games_code'].value_counts().reset_index(name= 'count')
games_by_year_and_city.head()

   games_year  games_city games_code  count
0        1960        Rome     PG1960     58
1        1964       Tokyo     PG1964     74
2        1968    Tel Aviv     PG1968     83
3        1972  Heidelberg     PG1972     88
4        1976     Toronto     PG1976    102

In [17]:
host_country = para_standings.groupby(['games_year', 'games_country'])['games_city'].value_counts().reset_index(name= 'game_counts').sort_values(['games_year', 'games_country', 'game_counts'], ascending = [True, True, False])
host_country

,games_year,games_country,games_city,game_counts
0,1960,Italy,Rome,58
1,1964,Japan,Tokyo,74
2,1968,Israel,Tel Aviv,83
3,1972,West Germany,Heidelberg,88
4,1976,Canada,Toronto,102
5,1976,Sweden,Örnsköldsvik,22
6,1980,Netherlands,Arnhem,109
7,1980,Norway,Geilo,29
8,1984,Austria,Innsbruck,34
9,1984,United StatesUnited Kingdom,New York Stoke Mandeville,137
10,1988,Austria,Innsbruck,38
11,1988,Korea Republic,Seoul,134
12,1992,France,Tignes-Albertville,35
13,1992,Spain,Barcelona-Madrid,133
14,1994,Norway,Lillehammer,44
15,1996,United States,Atlanta,146
16,1998,Japan,Nagano,45
17,2000,Australia,Sydney,143
18,2002,United States,Salt Lake City,43
19,2004,Greece,Athens,154
20,2006,Italy,Turin,42
21,2008,People's Republic of China,Beijing,163
22,2010,Canada,Vancouver,43
23,2012,United Kingdom,London,168
24,2014,Russia,Sochi,43
25,2016,Brazil,Rio de Janeiro,183
26,2018,Korea,Pyeongchang,53

In [18]:
para_athlete.columns

Index(['games_code', 'games_year', 'games_city', 'City_latitude',
       'City_longitude', 'games_country', 'Country_latitude',
       'Country_longitude', 'games_continent', 'games_start', 'games_end',
       'games_season', 'sport', 'sport_code', 'event_venue', 'events', 'npcs',
       'athletes', 'event', 'medal', 'npc', 'npc_new', 'npc_name',
       'npc_name_latitude', 'npc_name_longitude', 'athlete_name',
       'athlete_info_og'],
      dtype='object')

In [19]:
para_standings.columns

Index(['games_code', 'games_year', 'games_city', 'games_country',
       'games_continent', 'games_start', 'games_end', 'games_season', 'npc',
       'npc_new', 'npc_name', 'rank_type', 'npc_rank', 'npc_gold',
       'npc_silver', 'npc_bronze', 'sport_code', 'sport'],
      dtype='object')

In [20]:
x = para_athlete['athletes'].value_counts().reset_index(name = 'count')
x

     athletes  count
0      1141.0   1801
1      1198.0   1275
2       541.0    940
3       502.0    779
4       936.0    779
..        ...    ...
169       2.0      3
170      11.0      1
171      47.0      1
172      23.0      1
173       0.0      1

[174 rows x 2 columns]

Host Countries and Locations:

What is the total number of host countries during the time period? Which continent have hosted the most Olympic Games?

What is the geographical distribution of host cities across continents? (e.g., visualizing games distribution across continents over time)

How do latitude and longitude data for host cities correlate with other factors such as medals won by host countries?

In [21]:
para_athlete.head()

,games_code,games_year,games_city,City_latitude,City_longitude,games_country,Country_latitude,Country_longitude,games_continent,games_start,...,athletes,event,medal,npc,npc_new,npc_name,npc_name_latitude,npc_name_longitude,athlete_name,athlete_info_og
0,PG2000,2000,Sydney,-33.8688,151.2093,Australia,-25.274398,133.775136,Oceania,18 October,...,1044.0,Men's 100 m T37,Gold,ALG,ALG,Algeria,28.033886,1.659626,ALLEK M,ALLEK Mohamed (ALG)
1,PG2000,2000,Sydney,-33.8688,151.2093,Australia,-25.274398,133.775136,Oceania,18 October,...,1044.0,Men's 200 m T37,Gold,ALG,ALG,Algeria,28.033886,1.659626,ALLEK M,ALLEK Mohamed (ALG)
2,PG2000,2000,Sydney,-33.8688,151.2093,Australia,-25.274398,133.775136,Oceania,18 October,...,1044.0,Men's 400 m T37,Gold,ALG,ALG,Algeria,28.033886,1.659626,ALLEK M,ALLEK Mohamed (ALG)
3,PG2016,2016,Rio de Janeiro,-22.9068,-43.1729,Brazil,-14.235004,-51.925280,Americas,7 September,...,1141.0,Men's 400 m T13,Bronze,ALG,ALG,Algeria,28.033886,1.659626,HAMOUMOU M,HAMOUMOU Mohamed Fouad (ALG)
4,PG2016,2016,Rio de Janeiro,-22.9068,-43.1729,Brazil,-14.235004,-51.925280,Americas,7 September,...,1141.0,Men's 400 m T37,Bronze,ALG,ALG,Algeria,28.033886,1.659626,HAMDI S,HAMDI Sofiane (ALG)

In [22]:
#total number of host countries within the said period
total_host_countries = para_athlete['games_country'].nunique()
total_host_countries

21

In [23]:
#list of host countries

top_host_country = para_athlete.groupby('games_country')['games_country'].value_counts().reset_index(name= 'host_times'
                                                                            ).sort_values('host_times', ascending = True)
top_host_country

                   games_country  host_times
16                        Sweden         171
4                         France         262
14                        Russia         370
9                          Korea         405
7                          Italy         582
20                  West Germany         606
6                         Israel         636
1                        Austria         667
12                        Norway         671
8                          Japan         954
3                         Canada        1624
11                   Netherlands        1698
13    People's Republic of China        1967
15                         Spain        2037
17                United Kingdom        2060
5                         Greece        2181
2                         Brazil        2230
0                      Australia        2282
18                 United States        2402
10                Korea Republic        2623
19  United States,United Kingdom        2742

In [24]:
#distribution of hosting across continents

cont_host_ext = para_athlete[['games_continent','games_year', 'games_country']].drop_duplicates().sort_values(
    'games_year', ascending = True)

x = cont_host_ext['games_continent'].str.split(',').explode().str.strip().reset_index(name = 'games_continent')
x = x['games_continent'].value_counts().reset_index(name = 'host_count').sort_values('host_count', ascending = False)
x

  games_continent  host_count
0          Europe          16
1        Americas           6
2            Asia           5
3         Oceania           1

In [80]:
#What is the geographical distribution of host cities across continents? (e.g., visualizing games distribution across continents over time)
host_cities_by_cont_ext = para_athlete[['games_continent','games_country', 'games_city']].drop_duplicates()

cont_ext = host_cities_by_cont_ext['games_continent'].str.split(',').explode().str.strip().reset_index(name = 'games_cont')
cont_ext

    index games_cont
0       0    Oceania
1       3   Americas
2      18   Americas
3      25     Europe
4      38       Asia
5      52     Europe
6      98     Europe
7     110       Asia
8     154       Asia
9     189     Europe
10    191     Europe
11    197   Americas
12    210     Europe
13    221     Europe
14    756       Asia
15    758       Asia
16   1196   Americas
17   1300     Europe
18   1347     Europe
19   1349     Europe
20   1353   Americas
21   1580     Europe
22   1589   Americas
23   1589     Europe
24   2106     Europe
25   2316     Europe
26   2376     Europe

y = host_cities_by_cont_ext['games_country'].str.strip(',').explode().str.strip().reset_index(name = 'games_country')
y

In [79]:
city_ext = host_cities_by_cont_ext['games_city'].str.split(',').explode().str.strip().reset_index(name= 'games_city')
city_ext

    index          games_city
0       0              Sydney
1       3      Rio de Janeiro
2      18             Atlanta
3      25              Athens
4      38             Beijing
5      52              London
6      98            Tel Aviv
7     110               Tokyo
8     154               Seoul
9     189    Barcelona-Madrid
10    191                Rome
11    197             Toronto
12    210          Heidelberg
13    221              Arnhem
14    756              Nagano
15    758         Pyeongchang
16   1196      Salt Lake City
17   1300               Sochi
18   1347               Turin
19   1349  Tignes-Albertville
20   1353           Vancouver
21   1580         Lillehammer
22   1589            New York
23   1589    Stoke Mandeville
24   2106           Innsbruck
25   2316               Geilo
26   2376        Örnsköldsvik

In [75]:
cont_city = x.merge(z, on= 'index')
cont_city.sort_values(['games_cont', 'games_city'], ascending = [True, True])
cont_city.sort_values

<bound method DataFrame.sort_values of     index games_cont          games_city
0       0    Oceania              Sydney
1       3   Americas      Rio de Janeiro
2      18   Americas             Atlanta
3      25     Europe              Athens
4      38       Asia             Beijing
5      52     Europe              London
6      98     Europe            Tel Aviv
7     110       Asia               Tokyo
8     154       Asia               Seoul
9     189     Europe    Barcelona-Madrid
10    191     Europe                Rome
11    197   Americas             Toronto
12    210     Europe          Heidelberg
13    221     Europe              Arnhem
14    756       Asia              Nagano
15    758       Asia         Pyeongchang
16   1196   Americas      Salt Lake City
17   1300     Europe               Sochi
18   1347     Europe               Turin
19   1349     Europe  Tignes-Albertville
20   1353   Americas           Vancouver
21   1580     Europe         Lillehammer
22   1589   Americas            New York
23   1589   Americas    Stoke Mandeville
24   1589     Europe            New York
25   1589     Europe    Stoke Mandeville
26   2106     Europe           Innsbruck
27   2316     Europe               Geilo
28   2376     Europe        Örnsköldsvik>

In [77]:
cont_city.drop(index= 24, inplace = True )

In [78]:
cont_city

    index games_cont          games_city
0       0    Oceania              Sydney
1       3   Americas      Rio de Janeiro
2      18   Americas             Atlanta
3      25     Europe              Athens
4      38       Asia             Beijing
5      52     Europe              London
6      98     Europe            Tel Aviv
7     110       Asia               Tokyo
8     154       Asia               Seoul
9     189     Europe    Barcelona-Madrid
10    191     Europe                Rome
11    197   Americas             Toronto
12    210     Europe          Heidelberg
13    221     Europe              Arnhem
14    756       Asia              Nagano
15    758       Asia         Pyeongchang
16   1196   Americas      Salt Lake City
17   1300     Europe               Sochi
18   1347     Europe               Turin
19   1349     Europe  Tignes-Albertville
20   1353   Americas           Vancouver
21   1580     Europe         Lillehammer
22   1589   Americas            New York
25   1589     Europe    Stoke Mandeville
26   2106     Europe           Innsbruck
27   2316     Europe               Geilo
28   2376     Europe        Örnsköldsvik

In [62]:
zz = para_athlete[['games_continent', 'games_city']].drop_duplicates()
zz.sort_values(['games_continent', 'games_city'], ascending = [True, True]).tail(10)

     games_continent          games_city
2106          Europe           Innsbruck
1580          Europe         Lillehammer
52            Europe              London
191           Europe                Rome
1300          Europe               Sochi
98            Europe            Tel Aviv
1349          Europe  Tignes-Albertville
1347          Europe               Turin
2376          Europe        Örnsköldsvik
0            Oceania              Sydney

In [38]:
para_athlete.loc[para_athlete['games_country'] == 'Norway']

,games_code,games_year,games_city,City_latitude,City_longitude,games_country,Country_latitude,Country_longitude,games_continent,games_start,...,athletes,event,medal,npc,npc_new,npc_name,npc_name_latitude,npc_name_longitude,athlete_name,athlete_info_og
1580,PG1994,1994,Lillehammer,61.1153,10.4662,Norway,60.472024,8.468946,Europe,10 March,...,220.0,Men's Giant Slalom LW9,Bronze,AUS,AUS,Australia,-25.274398,133.775136,PATTERSON J,PATTERSON James Lawrence (AUS)
1581,PG1994,1994,Lillehammer,61.1153,10.4662,Norway,60.472024,8.468946,Europe,10 March,...,220.0,Men's Giant Slalom LWXI,Bronze,AUS,AUS,Australia,-25.274398,133.775136,MUNK D,MUNK David (AUS)
1582,PG1994,1994,Lillehammer,61.1153,10.4662,Norway,60.472024,8.468946,Europe,10 March,...,220.0,Men's Super-G LW2,Bronze,AUS,AUS,Australia,-25.274398,133.775136,MILTON M,MILTON Michael (AUS)
1583,PG1994,1994,Lillehammer,61.1153,10.4662,Norway,60.472024,8.468946,Europe,10 March,...,220.0,Men's Downhill LW2,Bronze,AUS,AUS,Australia,-25.274398,133.775136,MILTON M,MILTON Michael (AUS)
1584,PG1994,1994,Lillehammer,61.1153,10.4662,Norway,60.472024,8.468946,Europe,10 March,...,220.0,Men's Slalom LW2,Silver,AUS,AUS,Australia,-25.274398,133.775136,MILTON M,MILTON Michael (AUS)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28416,PG1994,1994,Lillehammer,61.1153,10.4662,Norway,60.472024,8.468946,Europe,10 March,...,220.0,Women's Downhill LWX-XII,Gold,USA,USA,United States,37.090240,-95.712891,WILL S,WILL Sarah (USA)
28417,PG1994,1994,Lillehammer,61.1153,10.4662,Norway,60.472024,8.468946,Europe,10 March,...,176.0,Women's 5 km Free Technique B1,Bronze,USA,USA,United States,37.090240,-95.712891,DROLET M,DROLET Michele (USA)
28418,PG1994,1994,Lillehammer,61.1153,10.4662,Norway,60.472024,8.468946,Europe,10 March,...,176.0,Men's 5 km Sitski LW10,Silver,USA,USA,United States,37.090240,-95.712891,PAGELS J,PAGELS Jeff (USA)
28419,PG1994,1994,Lillehammer,61.1153,10.4662,Norway,60.472024,8.468946,Europe,10 March,...,176.0,Men's 10 km Sitski LW10,Silver,USA,USA,United States,37.090240,-95.712891,PAGELS J,PAGELS Jeff (USA)
28420,PG1994,1994,Lillehammer,61.1153,10.4662,Norway,60.472024,8.468946,Europe,10 March,...,176.0,Men's 15 km Sitski LW10,Silver,USA,USA,United States,37.090240,-95.712891,PAGELS J,PAGELS Jeff (USA)