In [2]:
import numpy as np
import pandas as pd
import seaborn as sns

In [3]:
#Now we import our datasets

para_athlete = pd.read_excel("./medal_athlete.xlsx")

para_standings = pd.read_excel("./medal_standings.xlsx")

Data Cleaning and Preparation


The following are the cleaning operations to be carried out on our dataset:

Renaming of columns

Dropping of unnecessary columns

dropping duplicates where necessary

look out for missing data

In [4]:
pd.set_option('display.max_rows', 30)
print(para_athlete.columns)
para_athlete.info()

Index(['games_code', 'games_year', 'games_city', 'City_latitude',
       'City_longitude', 'games_country', 'Country_latitude',
       'Country_longitude', 'games_continent', 'games_start', 'games_end',
       'games_season', 'sport', 'sport_code', 'event_venue', 'events', 'npcs',
       'athletes', 'event', 'medal', 'npc', 'npc_new', 'npc_name',
       'npc_name_latitude', 'npc_name_longitude', 'athlete_name',
       'athlete_info_og'],
      dtype='object')
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29170 entries, 0 to 29169
Data columns (total 27 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   games_code          29170 non-null  object
 1   games_year          29170 non-null  int64
 2   games_city          29170 non-null  object
 3   City_latitude       26428 non-null  float64
 4   City_longitude      26428 non-null  float64
 5   games_country       29170 non-null  object
 6   Country_latitude    26428 non-null  float64
 7   Country_longitude   26428 non-null  float64
 8   games_continent     29170 non-null  object
 9   games_start         29170 non-null  object
 10  games_end           29170 non-null  object
 11  games_season        29170 non-null  object
 12  sport               29170 non-null  object
 13  sport_code          29170 non-null  object
 14  event_venue         10949 non-null  object
 15  events              28949 non-null  float64
 16  npcs                28949 non-null  float64
 17  athletes            28949 non-null  float64
 18  event               28944 non-null  object
 19  medal               28944 non-null  object
 20  npc                 28944 non-null  object
 21  npc_new             28944 non-null  object
 22  npc_name            28837 non-null  object
 23  npc_name_latitude   28943 non-null  float64
 24  npc_name_longitude  28943 non-null  float64
 25  athlete_name        28707 non-null  object
 26  athlete_info_og     28944 non-null  object
dtypes: float64(9), int64(1), object(17)
memory usage: 6.0+ MB

In [5]:
print(para_standings.columns)
para_standings.info()

Index(['games_code', 'games_year', 'games_city', 'games_country',
       'games_continent', 'games_start', 'games_end', 'games_season', 'npc',
       'npc_new', 'npc_name', 'rank_type', 'npc_rank', 'npc_gold',
       'npc_silver', 'npc_bronze', 'sport_code', 'sport'],
      dtype='object')
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2346 entries, 0 to 2345
Data columns (total 18 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   games_code       2346 non-null   object
 1   games_year       2346 non-null   int64
 2   games_city       2346 non-null   object
 3   games_country    2346 non-null   object
 4   games_continent  2346 non-null   object
 5   games_start      2346 non-null   object
 6   games_end        2346 non-null   object
 7   games_season     2346 non-null   object
 8   npc              2346 non-null   object
 9   npc_new          2346 non-null   object
 10  npc_name         2338 non-null   object
 11  rank_type        2346 non-null   object
 12  npc_rank         2056 non-null   float64
 13  npc_gold         2346 non-null   int64
 14  npc_silver       2346 non-null   int64
 15  npc_bronze       2346 non-null   int64
 16  sport_code       2077 non-null   object
 17  sport            2077 non-null   object
dtypes: float64(1), int64(4), object(13)
memory usage: 330.0+ KB

In [6]:
para_athlete.describe()

,games_year,City_latitude,City_longitude,Country_latitude,Country_longitude,events,npcs,athletes,npc_name_latitude,npc_name_longitude
count,29170.00000,26428.000000,26428.000000,26428.000000,26428.000000,28949.000000,28949.000000,28949.000000,28943.000000,28943.000000
mean,1994.59904,30.358306,29.381928,32.822317,24.458944,132.422916,47.182044,494.251857,39.242844,10.697499
std,14.12504,27.537241,78.295889,25.288023,79.459705,125.272913,33.350603,390.174213,23.756039,68.196626
min,1960.00000,-33.868800,-123.120700,-25.274398,-106.346771,1.000000,0.000000,0.000000,-40.900557,-106.346771
25%,1984.00000,33.749000,-0.127800,35.861660,-3.749220,20.000000,23.000000,147.000000,36.204824,-3.435973
50%,1996.00000,37.983800,8.672400,37.090240,10.451526,140.000000,40.000000,441.000000,46.818188,10.451526
75%,2007.50000,45.070300,116.407400,51.165691,105.318756,208.000000,61.000000,908.000000,53.709807,27.953389
max,2018.00000,63.290900,151.209300,61.524010,138.252924,449.000000,146.000000,1198.000000,64.963051,179.414413

In [7]:
para_standings.describe()

        games_year     npc_rank     npc_gold   npc_silver   npc_bronze
count  2346.000000  2056.000000  2346.000000  2346.000000  2346.000000
mean   1994.145780     4.620623     5.279199     4.627877     4.367860
std      15.832629     2.769497    11.060410     9.796177     9.192876
min    1960.000000     1.000000     0.000000     0.000000     0.000000
25%    1984.000000     2.000000     0.000000     0.000000     0.000000
50%    1996.000000     4.000000     1.000000     1.000000     1.000000
75%    2008.000000     7.000000     5.000000     4.000000     4.000000
max    2018.000000    10.000000   137.000000   131.000000   129.000000

Removing unwanted columns

In [8]:
para_athlete.drop(columns = ['npc', 'npc_new', 'athlete_info_og'], inplace= True)

para_standings.drop(columns = ['npc', 'npc_new'], inplace= True)

Renaming of columns

In [9]:
para_athlete.rename(columns= {'npc_name' : 'part_country'}, inplace = True)

para_athlete.columns

Index(['games_code', 'games_year', 'games_city', 'City_latitude',
       'City_longitude', 'games_country', 'Country_latitude',
       'Country_longitude', 'games_continent', 'games_start', 'games_end',
       'games_season', 'sport', 'sport_code', 'event_venue', 'events', 'npcs',
       'athletes', 'event', 'medal', 'part_country', 'npc_name_latitude',
       'npc_name_longitude', 'athlete_name'],
      dtype='object')

In [10]:
para_standings.rename(columns= {'npc_name' : 'part_country'}, inplace = True)

para_standings.columns

Index(['games_code', 'games_year', 'games_city', 'games_country',
       'games_continent', 'games_start', 'games_end', 'games_season',
       'part_country', 'rank_type', 'npc_rank', 'npc_gold', 'npc_silver',
       'npc_bronze', 'sport_code', 'sport'],
      dtype='object')

Looking out for missing data

In [11]:
para_athlete.isna().sum()

games_code                0
games_year                0
games_city                0
City_latitude          2742
City_longitude         2742
games_country             0
Country_latitude       2742
Country_longitude      2742
games_continent           0
games_start               0
games_end                 0
games_season              0
sport                     0
sport_code                0
event_venue           18221
events                  221
npcs                    221
athletes                221
event                   226
medal                   226
part_country            333
npc_name_latitude       227
npc_name_longitude      227
athlete_name            463
dtype: int64

In [12]:
#dropping rows with missing data
pd.set_option('display.max_rows', (250))
para_athlete.drop(para_athlete.loc[(para_athlete['games_country'] == 'Israel') & (para_athlete['event'].isna())].index, inplace= True)

In [13]:
pd.set_option('display.max_rows', (700))
para_athlete.loc[para_athlete['games_country'] == 'Israel'].head(2)

,games_code,games_year,games_city,City_latitude,City_longitude,games_country,Country_latitude,Country_longitude,games_continent,games_start,...,event_venue,events,npcs,athletes,event,medal,part_country,npc_name_latitude,npc_name_longitude,athlete_name
98,PG1968,1968,Tel Aviv,32.0853,34.7818,Israel,31.046051,34.851612,Europe,4 November,...,"Ilan Sport Centre, Ramat Gan",68.0,24.0,264.0,Men's 50 m Breaststroke Class 5 (cauda equina),Bronze,Argentina,-38.416097,-63.616672,CARRANZA
99,PG1968,1968,Tel Aviv,32.0853,34.7818,Israel,31.046051,34.851612,Europe,4 November,...,"Ilan Sport Centre, Ramat Gan",68.0,24.0,264.0,Women's 50 m Freestyle Special class,Bronze,Argentina,-38.416097,-63.616672,COCHETTI S

In [14]:
para_athlete.loc[(para_athlete['part_country'] == 'Australia') & (para_athlete['athlete_name'].isna())]

#now we get the unique names of athletes from australia

,games_code,games_year,games_city,City_latitude,City_longitude,games_country,Country_latitude,Country_longitude,games_continent,games_start,...,event_venue,events,npcs,athletes,event,medal,part_country,npc_name_latitude,npc_name_longitude,athlete_name
1605,PG1984,1984,"New York, Stoke Mandeville",NaN,NaN,"United States,United Kingdom",NaN,NaN,"Americas, Europe",17 June22 July,...,NaN,449.0,51.0,1198.0,Women's 3000 m B1,Bronze,Australia,-25.274398,133.775136,NaN
1673,PG1984,1984,"New York, Stoke Mandeville",NaN,NaN,"United States,United Kingdom",NaN,NaN,"Americas, Europe",17 June22 July,...,NaN,345.0,43.0,541.0,Women's 100 m Freestyle B3,Bronze,Australia,-25.274398,133.775136,NaN
1687,PG1984,1984,"New York, Stoke Mandeville",NaN,NaN,"United States,United Kingdom",NaN,NaN,"Americas, Europe",17 June22 July,...,NaN,345.0,43.0,541.0,Women's 200 m Individual Medley B3,Bronze,Australia,-25.274398,133.775136,NaN
1713,PG1984,1984,"New York, Stoke Mandeville",NaN,NaN,"United States,United Kingdom",NaN,NaN,"Americas, Europe",17 June22 July,...,NaN,345.0,43.0,541.0,Women's 100 m Butterfly B3,Silver,Australia,-25.274398,133.775136,NaN
1732,PG1984,1984,"New York, Stoke Mandeville",NaN,NaN,"United States,United Kingdom",NaN,NaN,"Americas, Europe",17 June22 July,...,NaN,345.0,43.0,541.0,Women's 400 m Freestyle B3,Gold,Australia,-25.274398,133.775136,NaN

In [15]:
para_athlete['athlete_name'].unique().tolist()

para_athlete.loc[para_athlete['athlete_name'].isna()].head(5)

,games_code,games_year,games_city,City_latitude,City_longitude,games_country,Country_latitude,Country_longitude,games_continent,games_start,...,event_venue,events,npcs,athletes,event,medal,part_country,npc_name_latitude,npc_name_longitude,athlete_name
1605,PG1984,1984,"New York, Stoke Mandeville",NaN,NaN,"United States,United Kingdom",NaN,NaN,"Americas, Europe",17 June22 July,...,NaN,449.0,51.0,1198.0,Women's 3000 m B1,Bronze,Australia,-25.274398,133.775136,NaN
1673,PG1984,1984,"New York, Stoke Mandeville",NaN,NaN,"United States,United Kingdom",NaN,NaN,"Americas, Europe",17 June22 July,...,NaN,345.0,43.0,541.0,Women's 100 m Freestyle B3,Bronze,Australia,-25.274398,133.775136,NaN
1687,PG1984,1984,"New York, Stoke Mandeville",NaN,NaN,"United States,United Kingdom",NaN,NaN,"Americas, Europe",17 June22 July,...,NaN,345.0,43.0,541.0,Women's 200 m Individual Medley B3,Bronze,Australia,-25.274398,133.775136,NaN
1713,PG1984,1984,"New York, Stoke Mandeville",NaN,NaN,"United States,United Kingdom",NaN,NaN,"Americas, Europe",17 June22 July,...,NaN,345.0,43.0,541.0,Women's 100 m Butterfly B3,Silver,Australia,-25.274398,133.775136,NaN
1732,PG1984,1984,"New York, Stoke Mandeville",NaN,NaN,"United States,United Kingdom",NaN,NaN,"Americas, Europe",17 June22 July,...,NaN,345.0,43.0,541.0,Women's 400 m Freestyle B3,Gold,Australia,-25.274398,133.775136,NaN

In [16]:
para_athlete['athlete_name'].nunique()

10314

In [41]:
para_athlete_02 = para_athlete.fillna(value= 'nil')

para_athlete_02.head(10)

,games_code,games_year,games_city,City_latitude,City_longitude,games_country,Country_latitude,Country_longitude,games_continent,games_start,...,event_venue,events,npcs,athletes,event,medal,part_country,npc_name_latitude,npc_name_longitude,athlete_name
0,PG2000,2000,Sydney,-33.8688,151.2093,Australia,-25.274398,133.775136,Oceania,18 October,...,nil,234.0,104.0,1044.0,Men's 100 m T37,Gold,Algeria,28.033886,1.659626,ALLEK M
1,PG2000,2000,Sydney,-33.8688,151.2093,Australia,-25.274398,133.775136,Oceania,18 October,...,nil,234.0,104.0,1044.0,Men's 200 m T37,Gold,Algeria,28.033886,1.659626,ALLEK M
2,PG2000,2000,Sydney,-33.8688,151.2093,Australia,-25.274398,133.775136,Oceania,18 October,...,nil,234.0,104.0,1044.0,Men's 400 m T37,Gold,Algeria,28.033886,1.659626,ALLEK M
3,PG2016,2016,Rio de Janeiro,-22.9068,-43.1729,Brazil,-14.235004,-51.92528,Americas,7 September,...,Olympic Stadium / Fort Copacabana (Marathon),177.0,146.0,1141.0,Men's 400 m T13,Bronze,Algeria,28.033886,1.659626,HAMOUMOU M
4,PG2016,2016,Rio de Janeiro,-22.9068,-43.1729,Brazil,-14.235004,-51.92528,Americas,7 September,...,Olympic Stadium / Fort Copacabana (Marathon),177.0,146.0,1141.0,Men's 400 m T37,Bronze,Algeria,28.033886,1.659626,HAMDI S
5,PG2016,2016,Rio de Janeiro,-22.9068,-43.1729,Brazil,-14.235004,-51.92528,Americas,7 September,...,Olympic Stadium / Fort Copacabana (Marathon),177.0,146.0,1141.0,Men's 1500 m T37,Bronze,Algeria,28.033886,1.659626,DJEMAI M
6,PG2016,2016,Rio de Janeiro,-22.9068,-43.1729,Brazil,-14.235004,-51.92528,Americas,7 September,...,Olympic Stadium / Fort Copacabana (Marathon),177.0,146.0,1141.0,Women's Long Jump T12,Bronze,Algeria,28.033886,1.659626,HAMRI L
7,PG2016,2016,Rio de Janeiro,-22.9068,-43.1729,Brazil,-14.235004,-51.92528,Americas,7 September,...,Olympic Stadium / Fort Copacabana (Marathon),177.0,146.0,1141.0,Women's Shot Put F57,Bronze,Algeria,28.033886,1.659626,MEDJMEDJ N
8,PG2016,2016,Rio de Janeiro,-22.9068,-43.1729,Brazil,-14.235004,-51.92528,Americas,7 September,...,Olympic Stadium / Fort Copacabana (Marathon),177.0,146.0,1141.0,Women's Javelin F56,Bronze,Algeria,28.033886,1.659626,MEDJMEDJ N
9,PG2016,2016,Rio de Janeiro,-22.9068,-43.1729,Brazil,-14.235004,-51.92528,Americas,7 September,...,Olympic Stadium / Fort Copacabana (Marathon),177.0,146.0,1141.0,Men's 100 m T51,Silver,Algeria,28.033886,1.659626,BERRAHAL M

In [17]:
para_athlete['part_country'].unique().tolist()

['Algeria',
 'Angola',
 'Argentina',
 'Australia',
 'Belgium',
 'France',
 'Germany',
 'Ireland',
 'United Kingdom',
 'Austria',
 'United States',
 'Zimbabwe',
 'Azerbaijan',
 'Bahamas',
 'Bahrain',
 'Belarus',
 'Italy',
 'Bosnia & Herzegovina',
 'Botswana',
 'Brazil',
 'Bulgaria',
 'Canada',
 'Cape Verde',
 'Chile',
 'China',
 'Colombia',
 "Côte d'Ivoire",
 'Croatia',
 'Cuba',
 'Cyprus',
 'Czechia',
 'Denmark',
 'Dominican Republic',
 'Egypt',
 'Estonia',
 'Ethiopia',
 'Faroe Islands',
 'Fiji',
 'Finland',
 'Georgia',
 'Malta',
 'Netherlands',
 'Switzerland',
 'Greece',
 'Guatemala',
 'Hong Kong SAR China',
 'Hungary',
 'Iceland',
 'India',
 'Indonesia',
 'Iran',
 'Iraq',
 'Israel',
 'Jamaica',
 'Japan',
 'Jordan',
 'Kazakhstan',
 'Kenya',
 'Kuwait',
 'Laos',
 'Latvia',
 'Lebanon',
 'Libya',
 'Liechtenstein',
 'Lithuania',
 'Luxembourg',
 'Malaysia',
 'Norway',
 'Mexico',
 'Moldova',
 'Mongolia',
 'Morocco',
 'Mozambique',
 'Myanmar (Burma)',
 nan,
 'Namibia',
 'New Zealand',
 'Nigeria',
 'North Macedonia',
 'Pakistan',
 'Palestinian Territories',
 'Panama',
 'Papua New Guinea',
 'Peru',
 'Philippines',
 'Poland',
 'Portugal',
 'Puerto Rico',
 'Qatar',
 'Romania',
 'Russia',
 'Rwanda',
 'Saudi Arabia',
 'Serbia',
 'Singapore',
 'Slovakia',
 'Slovenia',
 'South Africa',
 'South Korea',
 'Spain',
 'Sri Lanka',
 'Sudan',
 'Sweden',
 'Syria',
 'Taiwan',
 'Thailand',
 'Trinidad & Tobago',
 'Tunisia',
 'Turkey',
 'Uganda',
 'Ukraine',
 'United Arab Emirates',
 'Uruguay',
 'Uzbekistan',
 'Venezuela',
 'Vietnam']

In [18]:
para_athlete[para_athlete['part_country'].isna()].head()

,games_code,games_year,games_city,City_latitude,City_longitude,games_country,Country_latitude,Country_longitude,games_continent,games_start,...,event_venue,events,npcs,athletes,event,medal,part_country,npc_name_latitude,npc_name_longitude,athlete_name
15220,PG1996,1996,Atlanta,33.7490,-84.3880,United States,37.090240,-95.712891,Americas,16 august,...,NaN,1.0,15.0,59.0,NaN,NaN,NaN,0.0,0.0,NaN
15221,PG1996,1996,Atlanta,33.7490,-84.3880,United States,37.090240,-95.712891,Americas,16 august,...,Atlanta Metro College,1.0,6.0,47.0,NaN,NaN,NaN,0.0,0.0,NaN
15222,PG2018,2018,Pyeongchang,37.3706,128.3897,Korea,35.907757,127.766922,Asia,9 March,...,Jeongseon Alpine Centre,30.0,33.0,141.0,Men's Slalom Visually Impaired,Bronze,NaN,0.0,0.0,REDKOZUBOV V
15223,PG2018,2018,Pyeongchang,37.3706,128.3897,Korea,35.907757,127.766922,Asia,9 March,...,Jeongseon Alpine Centre,30.0,33.0,141.0,Men's Slalom Visually Impaired,Bronze,NaN,0.0,0.0,GEROEV E
15224,PG2018,2018,Pyeongchang,37.3706,128.3897,Korea,35.907757,127.766922,Asia,9 March,...,Jeongseon Alpine Centre,30.0,33.0,141.0,Men's Super Combined Visually Impaired,Bronze,NaN,0.0,0.0,REDKOZUBOV V

In [19]:
para_standings.isna().sum()

games_code           0
games_year           0
games_city           0
games_country        0
games_continent      0
games_start          0
games_end            0
games_season         0
part_country         8
rank_type            0
npc_rank           290
npc_gold             0
npc_silver           0
npc_bronze           0
sport_code         269
sport              269
dtype: int64

In [20]:
x = para_athlete.merge(para_standings, how = 'left')
x.head()

,games_code,games_year,games_city,City_latitude,City_longitude,games_country,Country_latitude,Country_longitude,games_continent,games_start,...,medal,part_country,npc_name_latitude,npc_name_longitude,athlete_name,rank_type,npc_rank,npc_gold,npc_silver,npc_bronze
0,PG2000,2000,Sydney,-33.8688,151.2093,Australia,-25.274398,133.775136,Oceania,18 October,...,Gold,Algeria,28.033886,1.659626,ALLEK M,NaN,NaN,NaN,NaN,NaN
1,PG2000,2000,Sydney,-33.8688,151.2093,Australia,-25.274398,133.775136,Oceania,18 October,...,Gold,Algeria,28.033886,1.659626,ALLEK M,NaN,NaN,NaN,NaN,NaN
2,PG2000,2000,Sydney,-33.8688,151.2093,Australia,-25.274398,133.775136,Oceania,18 October,...,Gold,Algeria,28.033886,1.659626,ALLEK M,NaN,NaN,NaN,NaN,NaN
3,PG2016,2016,Rio de Janeiro,-22.9068,-43.1729,Brazil,-14.235004,-51.925280,Americas,7 September,...,Bronze,Algeria,28.033886,1.659626,HAMOUMOU M,NaN,NaN,NaN,NaN,NaN
4,PG2016,2016,Rio de Janeiro,-22.9068,-43.1729,Brazil,-14.235004,-51.925280,Americas,7 September,...,Bronze,Algeria,28.033886,1.659626,HAMDI S,NaN,NaN,NaN,NaN,NaN

In [21]:
para_athlete.head(3)

,games_code,games_year,games_city,City_latitude,City_longitude,games_country,Country_latitude,Country_longitude,games_continent,games_start,...,event_venue,events,npcs,athletes,event,medal,part_country,npc_name_latitude,npc_name_longitude,athlete_name
0,PG2000,2000,Sydney,-33.8688,151.2093,Australia,-25.274398,133.775136,Oceania,18 October,...,NaN,234.0,104.0,1044.0,Men's 100 m T37,Gold,Algeria,28.033886,1.659626,ALLEK M
1,PG2000,2000,Sydney,-33.8688,151.2093,Australia,-25.274398,133.775136,Oceania,18 October,...,NaN,234.0,104.0,1044.0,Men's 200 m T37,Gold,Algeria,28.033886,1.659626,ALLEK M
2,PG2000,2000,Sydney,-33.8688,151.2093,Australia,-25.274398,133.775136,Oceania,18 October,...,NaN,234.0,104.0,1044.0,Men's 400 m T37,Gold,Algeria,28.033886,1.659626,ALLEK M

In [22]:
para_standings.head(3)

,games_code,games_year,games_city,games_country,games_continent,games_start,games_end,games_season,part_country,rank_type,npc_rank,npc_gold,npc_silver,npc_bronze,sport_code,sport
0,PG1972,1972,Heidelberg,West Germany,Europe[a],2 August,11 August,Summer,Germany,Overall,1.0,28,17,22,NaN,NaN
1,PG1972,1972,Heidelberg,West Germany,Europe[a],2 August,11 August,Summer,United States,Overall,2.0,17,27,31,NaN,NaN
2,PG1972,1972,Heidelberg,West Germany,Europe[a],2 August,11 August,Summer,United Kingdom,Overall,3.0,16,15,21,NaN,NaN

Now we explore all columns

In [23]:
gamecodes = para_standings['games_code'].value_counts().reset_index(name = 'count').sort_values('count', ascending = False)
gamecodes

   games_code  count
0      PG2016    183
1      PG2012    168
2      PG2008    163
3      PG2004    154
4      PG1996    146
5      PG2000    143
6      PG1984    137
7      PG1988    134
8      PG1992    133
9      PG1980    109
10     PG1976    102
11     PG1972     88
12     PG1968     83
13     PG1964     74
14     PG1960     58
15     PG2018     53
16     PG1998     45
17     PG1994     44
18     PG2002     43
19     PG2010     43
20     PG2014     43
21     PG2006     42
22     PW1988     38
23     PW1992     35
24     PW1984     34
25     PW1980     29
26     PW1976     22

In [24]:
#games by year
games_by_year = para_standings.groupby('games_year')['games_code'].value_counts().reset_index(name= 'game_count').sort_values(['games_year','game_count'], ascending = [True, False])
games_by_year

    games_year games_code  game_count
0         1960     PG1960          58
1         1964     PG1964          74
2         1968     PG1968          83
3         1972     PG1972          88
4         1976     PG1976         102
5         1976     PW1976          22
6         1980     PG1980         109
7         1980     PW1980          29
8         1984     PG1984         137
9         1984     PW1984          34
10        1988     PG1988         134
11        1988     PW1988          38
12        1992     PG1992         133
13        1992     PW1992          35
14        1994     PG1994          44
15        1996     PG1996         146
16        1998     PG1998          45
17        2000     PG2000         143
18        2002     PG2002          43
19        2004     PG2004         154
20        2006     PG2006          42
21        2008     PG2008         163
22        2010     PG2010          43
23        2012     PG2012         168
24        2014     PG2014          43
25        2016     PG2016         183
26        2018     PG2018          53

In [25]:
#games by city

games_by_city = para_standings.groupby('games_city')['games_code'].value_counts().reset_index(name= 'games_count').sort_values('games_count', ascending = False)
games_by_city.head()

        games_city games_code  games_count
14  Rio de Janeiro     PG2016          183
10          London     PG2012          168
4          Beijing     PG2008          163
1           Athens     PG2004          154
2          Atlanta     PG1996          146

In [26]:
#games by year and city

games_by_year_and_city = para_standings.groupby(['games_year', 'games_city'])['games_code'].value_counts().reset_index(name= 'count')
games_by_year_and_city.head()

   games_year  games_city games_code  count
0        1960        Rome     PG1960     58
1        1964       Tokyo     PG1964     74
2        1968    Tel Aviv     PG1968     83
3        1972  Heidelberg     PG1972     88
4        1976     Toronto     PG1976    102

In [27]:
host_country = para_standings.groupby(['games_year', 'games_country'])['games_city'].value_counts().reset_index(name= 'game_counts').sort_values(['games_year', 'games_country', 'game_counts'], ascending = [True, True, False])
host_country

,games_year,games_country,games_city,game_counts
0,1960,Italy,Rome,58
1,1964,Japan,Tokyo,74
2,1968,Israel,Tel Aviv,83
3,1972,West Germany,Heidelberg,88
4,1976,Canada,Toronto,102
5,1976,Sweden,Örnsköldsvik,22
6,1980,Netherlands,Arnhem,109
7,1980,Norway,Geilo,29
8,1984,Austria,Innsbruck,34
9,1984,United StatesUnited Kingdom,New York Stoke Mandeville,137
10,1988,Austria,Innsbruck,38
11,1988,Korea Republic,Seoul,134
12,1992,France,Tignes-Albertville,35
13,1992,Spain,Barcelona-Madrid,133
14,1994,Norway,Lillehammer,44
15,1996,United States,Atlanta,146
16,1998,Japan,Nagano,45
17,2000,Australia,Sydney,143
18,2002,United States,Salt Lake City,43
19,2004,Greece,Athens,154
20,2006,Italy,Turin,42
21,2008,People's Republic of China,Beijing,163
22,2010,Canada,Vancouver,43
23,2012,United Kingdom,London,168
24,2014,Russia,Sochi,43
25,2016,Brazil,Rio de Janeiro,183
26,2018,Korea,Pyeongchang,53

In [28]:
para_athlete.columns

Index(['games_code', 'games_year', 'games_city', 'City_latitude',
       'City_longitude', 'games_country', 'Country_latitude',
       'Country_longitude', 'games_continent', 'games_start', 'games_end',
       'games_season', 'sport', 'sport_code', 'event_venue', 'events', 'npcs',
       'athletes', 'event', 'medal', 'part_country', 'npc_name_latitude',
       'npc_name_longitude', 'athlete_name'],
      dtype='object')

In [29]:
para_standings.columns

Index(['games_code', 'games_year', 'games_city', 'games_country',
       'games_continent', 'games_start', 'games_end', 'games_season',
       'part_country', 'rank_type', 'npc_rank', 'npc_gold', 'npc_silver',
       'npc_bronze', 'sport_code', 'sport'],
      dtype='object')

In [30]:
x = para_athlete['athletes'].value_counts().reset_index(name = 'count')
x

     athletes  count
0      1141.0   1801
1      1198.0   1275
2       541.0    940
3       502.0    779
4       936.0    779
5      1044.0    775
6       928.0    728
7       908.0    672
8      1064.0    646
9       575.0    624
10      560.0    604
11      487.0    599
12      457.0    599
13      774.0    565
14     1133.0    550
15     1028.0    536
16      593.0    515
17      441.0    509
18      606.0    501
19      194.0    490
20      547.0    476
21      362.0    429
22      264.0    389
23       95.0    316
24      265.0    296
25      270.0    293
26       88.0    273
27      112.0    236
28      229.0    228
29      549.0    228
30      141.0    222
31      220.0    201
32      223.0    198
33      235.0    190
34      203.0    188
35       96.0    186
36      149.0    180
37      139.0    179
38      184.0    178
39       98.0    176
40      176.0    171
41      179.0    164
42       64.0    161
43      193.0    159
44       78.0    157
45      210.0    155
46      150.0    154
47       52.0    151
48      279.0    151
49       84.0    151
50      134.0    147
51      212.0    146
52      240.0    144
53      128.0    143
54      164.0    142
55      213.0    140
56      276.0    140
57      269.0    137
58      239.0    136
59      101.0    135
60      147.0    135
61       77.0    134
62      214.0    128
63       69.0    127
64      131.0    120
65       82.0    120
66       71.0    117
67      129.0    116
68      142.0    111
69      294.0    108
70      148.0    107
71      119.0    107
72      114.0    105
73      155.0    101
74       80.0    100
75      125.0     99
76       51.0     95
77       62.0     93
78       31.0     93
79      191.0     90
80       70.0     88
81       24.0     84
82       40.0     82
83      100.0     81
84      278.0     80
85      236.0     77
86       45.0     77
87      126.0     76
88       46.0     74
89       72.0     73
90      106.0     73
91      140.0     72
92      190.0     72
93      262.0     72
94      263.0     72
95      233.0     72
96      227.0     72
97      280.0     72
98      187.0     72
99       90.0     71
100     116.0     71
101     157.0     70
102     211.0     69
103     181.0     69
104     225.0     69
105      89.0     66
106      54.0     66
107     197.0     65
108      33.0     65
109      19.0     64
110     135.0     64
111     158.0     64
112     258.0     62
113      83.0     61
114     132.0     58
115     111.0     54
116      60.0     54
117      53.0     54
118     118.0     52
119     110.0     51
120     105.0     49
121      48.0     48
122     154.0     46
123     133.0     45
124     117.0     44
125      97.0     44
126      22.0     44
127      41.0     44
128      35.0     43
129      76.0     42
130      73.0     42
131       9.0     41
132      26.0     41
133     103.0     40
134      57.0     38
135     108.0     37
136      27.0     37
137     137.0     36
138      61.0     36
139     127.0     35
140      93.0     35
141      15.0     34
142      94.0     34
143      65.0     33
144      59.0     32
145      18.0     32
146      87.0     32
147      58.0     31
148      50.0     30
149      67.0     29
150      20.0     25
151      55.0     24
152      66.0     22
153      10.0     22
154      12.0     19
155     104.0     19
156      43.0     18
157      42.0     18
158      16.0     16
159      44.0     16
160      34.0     15
161      28.0     12
162       6.0     12
163       8.0     11
164      36.0     10
165      39.0      9
166       7.0      8
167       4.0      8
168       5.0      5
169       2.0      3
170      11.0      1
171      47.0      1
172      23.0      1
173       0.0      1

Host Countries and Locations:

What is the total number of host countries during the time period? Which continent have hosted the most Olympic Games?

What is the geographical distribution of host cities across continents? (e.g., visualizing games distribution across continents over time)

How do latitude and longitude data for host cities correlate with other factors such as medals won by host countries?

In [47]:
para_athlete.sort_values('games_year', ascending = True).head(2)

,games_code,games_year,games_city,City_latitude,City_longitude,games_country,Country_latitude,Country_longitude,games_continent,games_start,...,event_venue,events,npcs,athletes,event,medal,part_country,npc_name_latitude,npc_name_longitude,athlete_name
24926,PG1960,1960,Rome,41.9028,12.4964,Italy,41.87194,12.56738,Europe,18 September,...,NaN,11.0,10.0,35.0,Men's Doubles C,Silver,Italy,41.87194,12.56738,ZARILLI F
24927,PG1960,1960,Rome,41.9028,12.4964,Italy,41.87194,12.56738,Europe,18 September,...,NaN,11.0,10.0,35.0,Women's Doubles B,Silver,Italy,41.87194,12.56738,SCUTTI M

In [32]:
#total number of host countries within the said period
total_host_countries = para_athlete['games_country'].nunique()
total_host_countries

21

In [48]:
#list of host countries

host_country = para_athlete.groupby('games_country')['games_country'].value_counts().reset_index(name= 'host_times'
                                                                            ).sort_values('host_times', ascending = True)

In [49]:
#distribution of hosting across continents

cont_host_ext = para_athlete[['games_continent','games_year', 'games_country']].drop_duplicates().sort_values(
    'games_year', ascending = True)

x = cont_host_ext['games_continent'].str.split(',').explode().str.strip().reset_index(name = 'games_continent')
x = x['games_continent'].value_counts().reset_index(name = 'host_count').sort_values('host_count', ascending = False)
x

  games_continent  host_count
0          Europe          16
1        Americas           6
2            Asia           5
3         Oceania           1

In [44]:
#What is the geographical distribution of host cities across continents? (e.g., visualizing games distribution across continents over time)
host_cities_by_cont_ext = para_athlete[['games_continent','games_country', 'games_city']].drop_duplicates()

cont_ext = host_cities_by_cont_ext['games_continent'].str.split(',').explode().str.strip().reset_index(name = 'games_cont')
cont_ext.head()

city_ext = host_cities_by_cont_ext['games_city'].str.split(',').explode().str.strip().reset_index(name= 'games_city')
city_ext.head()

cont_city = cont_ext.merge(city_ext, on= 'index')
cont_city.sort_values(['games_cont', 'games_city'], ascending = [True, True])
cont_city.sort_values

cont_city.drop(index= [24, 23], inplace = True )

cont_city

host_cities_by_cont = cont_city['games_cont'].value_counts().reset_index(name= 'city_count').sort_values('city_count', ascending = False)
host_cities_by_cont

  games_cont  city_count
0     Europe          15
1   Americas           6
2       Asia           5
3    Oceania           1

In [45]:
#games_count
para_athlete['games_code'].drop_duplicates().count()

np.int64(27)

In [37]:
zz = para_athlete[['games_continent', 'games_city']].drop_duplicates()
zz.sort_values(['games_continent', 'games_city'], ascending = [True, True]).tail(10)

     games_continent          games_city
2106          Europe           Innsbruck
1580          Europe         Lillehammer
52            Europe              London
191           Europe                Rome
1300          Europe               Sochi
98            Europe            Tel Aviv
1349          Europe  Tignes-Albertville
1347          Europe               Turin
2376          Europe        Örnsköldsvik
0            Oceania              Sydney

In [46]:
para_athlete.loc[para_athlete['games_country'] == 'Norway'].head()

,games_code,games_year,games_city,City_latitude,City_longitude,games_country,Country_latitude,Country_longitude,games_continent,games_start,...,event_venue,events,npcs,athletes,event,medal,part_country,npc_name_latitude,npc_name_longitude,athlete_name
1580,PG1994,1994,Lillehammer,61.1153,10.4662,Norway,60.472024,8.468946,Europe,10 March,...,NaN,66.0,24.0,220.0,Men's Giant Slalom LW9,Bronze,Australia,-25.274398,133.775136,PATTERSON J
1581,PG1994,1994,Lillehammer,61.1153,10.4662,Norway,60.472024,8.468946,Europe,10 March,...,NaN,66.0,24.0,220.0,Men's Giant Slalom LWXI,Bronze,Australia,-25.274398,133.775136,MUNK D
1582,PG1994,1994,Lillehammer,61.1153,10.4662,Norway,60.472024,8.468946,Europe,10 March,...,NaN,66.0,24.0,220.0,Men's Super-G LW2,Bronze,Australia,-25.274398,133.775136,MILTON M
1583,PG1994,1994,Lillehammer,61.1153,10.4662,Norway,60.472024,8.468946,Europe,10 March,...,NaN,66.0,24.0,220.0,Men's Downhill LW2,Bronze,Australia,-25.274398,133.775136,MILTON M
1584,PG1994,1994,Lillehammer,61.1153,10.4662,Norway,60.472024,8.468946,Europe,10 March,...,NaN,66.0,24.0,220.0,Men's Slalom LW2,Silver,Australia,-25.274398,133.775136,MILTON M

Performance Analysis:

What is the overall top 5 ranking of countries (NPCs) based on total medals won? How does this ranking change if we look only at gold medals?

Who are the top 5 athletes based on the number of medals won? How does this vary by sport and season (Summer vs. Winter)?

Which sports have contributed the most medals over the years?

How does the medal distribution (gold, silver, bronze) vary between Summer and Winter Games?

What are the trends in the number of medals won by each continent over time?