In [1]:
import numpy as np
import pandas as pd
import seaborn as sns

In [9]:
#Now we import our datasets

para_athlete = pd.read_excel("./medal_athlete.xlsx")

para_standings = pd.read_excel("./medal_standings.xlsx")

In [15]:
print(para_athlete.columns)
para_athlete.info()

Index(['games_code', 'games_year', 'games_city', 'City_latitude',
       'City_longitude', 'games_country', 'Country_latitude',
       'Country_longitude', 'games_continent', 'games_start', 'games_end',
       'games_season', 'sport', 'sport_code', 'event_venue', 'events', 'npcs',
       'athletes', 'event', 'medal', 'npc', 'npc_new', 'npc_name',
       'npc_name_latitude', 'npc_name_longitude', 'athlete_name',
       'athlete_info_og'],
      dtype='object')
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29170 entries, 0 to 29169
Data columns (total 27 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   games_code          29170 non-null  object
 1   games_year          29170 non-null  int64
 2   games_city          29170 non-null  object
 3   City_latitude       26428 non-null  float64
 4   City_longitude      26428 non-null  float64
 5   games_country       29170 non-null  object
 6   Country_latitude    26428 non-null  float64
 7   Country_longitude   26428 non-null  float64
 8   games_continent     29170 non-null  object
 9   games_start         29170 non-null  object
 10  games_end           29170 non-null  object
 11  games_season        29170 non-null  object
 12  sport               29170 non-null  object
 13  sport_code          29170 non-null  object
 14  event_venue         10949 non-null  object
 15  events              28949 non-null  float64
 16  npcs                28949 non-null  float64
 17  athletes            28949 non-null  float64
 18  event               28944 non-null  object
 19  medal               28944 non-null  object
 20  npc                 28944 non-null  object
 21  npc_new             28944 non-null  object
 22  npc_name            28837 non-null  object
 23  npc_name_latitude   28943 non-null  float64
 24  npc_name_longitude  28943 non-null  float64
 25  athlete_name        28707 non-null  object
 26  athlete_info_og     28944 non-null  object
dtypes: float64(9), int64(1), object(17)
memory usage: 6.0+ MB

In [14]:
print(para_standings.columns)

para_standings.info()

Index(['games_code', 'games_year', 'games_city', 'games_country',
       'games_continent', 'games_start', 'games_end', 'games_season', 'npc',
       'npc_new', 'npc_name', 'rank_type', 'npc_rank', 'npc_gold',
       'npc_silver', 'npc_bronze', 'sport_code', 'sport'],
      dtype='object')
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2346 entries, 0 to 2345
Data columns (total 18 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   games_code       2346 non-null   object
 1   games_year       2346 non-null   int64
 2   games_city       2346 non-null   object
 3   games_country    2346 non-null   object
 4   games_continent  2346 non-null   object
 5   games_start      2346 non-null   object
 6   games_end        2346 non-null   object
 7   games_season     2346 non-null   object
 8   npc              2346 non-null   object
 9   npc_new          2346 non-null   object
 10  npc_name         2338 non-null   object
 11  rank_type        2346 non-null   object
 12  npc_rank         2056 non-null   float64
 13  npc_gold         2346 non-null   int64
 14  npc_silver       2346 non-null   int64
 15  npc_bronze       2346 non-null   int64
 16  sport_code       2077 non-null   object
 17  sport            2077 non-null   object
dtypes: float64(1), int64(4), object(13)
memory usage: 330.0+ KB

In [17]:
para_athlete.describe()

,games_year,City_latitude,City_longitude,Country_latitude,Country_longitude,events,npcs,athletes,npc_name_latitude,npc_name_longitude
count,29170.00000,26428.000000,26428.000000,26428.000000,26428.000000,28949.000000,28949.000000,28949.000000,28943.000000,28943.000000
mean,1994.59904,30.358306,29.381928,32.822317,24.458944,132.422916,47.182044,494.251857,39.242844,10.697499
std,14.12504,27.537241,78.295889,25.288023,79.459705,125.272913,33.350603,390.174213,23.756039,68.196626
min,1960.00000,-33.868800,-123.120700,-25.274398,-106.346771,1.000000,0.000000,0.000000,-40.900557,-106.346771
25%,1984.00000,33.749000,-0.127800,35.861660,-3.749220,20.000000,23.000000,147.000000,36.204824,-3.435973
50%,1996.00000,37.983800,8.672400,37.090240,10.451526,140.000000,40.000000,441.000000,46.818188,10.451526
75%,2007.50000,45.070300,116.407400,51.165691,105.318756,208.000000,61.000000,908.000000,53.709807,27.953389
max,2018.00000,63.290900,151.209300,61.524010,138.252924,449.000000,146.000000,1198.000000,64.963051,179.414413

In [18]:
para_standings.describe()

        games_year     npc_rank     npc_gold   npc_silver   npc_bronze
count  2346.000000  2056.000000  2346.000000  2346.000000  2346.000000
mean   1994.145780     4.620623     5.279199     4.627877     4.367860
std      15.832629     2.769497    11.060410     9.796177     9.192876
min    1960.000000     1.000000     0.000000     0.000000     0.000000
25%    1984.000000     2.000000     0.000000     0.000000     0.000000
50%    1996.000000     4.000000     1.000000     1.000000     1.000000
75%    2008.000000     7.000000     5.000000     4.000000     4.000000
max    2018.000000    10.000000   137.000000   131.000000   129.000000