In [122]:
import numpy as np
import pandas as pd
import seaborn as sns

In [123]:
#Now we import our datasets

para_athlete = pd.read_excel("./medal_athlete.xlsx")

para_standings = pd.read_excel("./medal_standings.xlsx")

Data Cleaning and Preparation


The following are the cleaning operations to be carried out on our dataset:

Renaming of columns

Dropping of unnecessary columns

dropping duplicates where necessary

look out for missing data

In [124]:
pd.set_option('display.max_rows', 30)
print(para_athlete.columns)
para_athlete.info()

Index(['games_code', 'games_year', 'games_city', 'City_latitude',
       'City_longitude', 'games_country', 'Country_latitude',
       'Country_longitude', 'games_continent', 'games_start', 'games_end',
       'games_season', 'sport', 'sport_code', 'event_venue', 'events', 'npcs',
       'athletes', 'event', 'medal', 'npc', 'npc_new', 'npc_name',
       'npc_name_latitude', 'npc_name_longitude', 'athlete_name',
       'athlete_info_og'],
      dtype='object')
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29170 entries, 0 to 29169
Data columns (total 27 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   games_code          29170 non-null  object
 1   games_year          29170 non-null  int64
 2   games_city          29170 non-null  object
 3   City_latitude       26428 non-null  float64
 4   City_longitude      26428 non-null  float64
 5   games_country       29170 non-null  object
 6   Country_latitude    26428 non-null  float64
 7   Country_longitude   26428 non-null  float64
 8   games_continent     29170 non-null  object
 9   games_start         29170 non-null  object
 10  games_end           29170 non-null  object
 11  games_season        29170 non-null  object
 12  sport               29170 non-null  object
 13  sport_code          29170 non-null  object
 14  event_venue         10949 non-null  object
 15  events              28949 non-null  float64
 16  npcs                28949 non-null  float64
 17  athletes            28949 non-null  float64
 18  event               28944 non-null  object
 19  medal               28944 non-null  object
 20  npc                 28944 non-null  object
 21  npc_new             28944 non-null  object
 22  npc_name            28837 non-null  object
 23  npc_name_latitude   28943 non-null  float64
 24  npc_name_longitude  28943 non-null  float64
 25  athlete_name        28707 non-null  object
 26  athlete_info_og     28944 non-null  object
dtypes: float64(9), int64(1), object(17)
memory usage: 6.0+ MB

In [125]:
print(para_standings.columns)
para_standings.info()

Index(['games_code', 'games_year', 'games_city', 'games_country',
       'games_continent', 'games_start', 'games_end', 'games_season', 'npc',
       'npc_new', 'npc_name', 'rank_type', 'npc_rank', 'npc_gold',
       'npc_silver', 'npc_bronze', 'sport_code', 'sport'],
      dtype='object')
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2346 entries, 0 to 2345
Data columns (total 18 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   games_code       2346 non-null   object
 1   games_year       2346 non-null   int64
 2   games_city       2346 non-null   object
 3   games_country    2346 non-null   object
 4   games_continent  2346 non-null   object
 5   games_start      2346 non-null   object
 6   games_end        2346 non-null   object
 7   games_season     2346 non-null   object
 8   npc              2346 non-null   object
 9   npc_new          2346 non-null   object
 10  npc_name         2338 non-null   object
 11  rank_type        2346 non-null   object
 12  npc_rank         2056 non-null   float64
 13  npc_gold         2346 non-null   int64
 14  npc_silver       2346 non-null   int64
 15  npc_bronze       2346 non-null   int64
 16  sport_code       2077 non-null   object
 17  sport            2077 non-null   object
dtypes: float64(1), int64(4), object(13)
memory usage: 330.0+ KB

In [126]:
para_athlete.describe()

,games_year,City_latitude,City_longitude,Country_latitude,Country_longitude,events,npcs,athletes,npc_name_latitude,npc_name_longitude
count,29170.00000,26428.000000,26428.000000,26428.000000,26428.000000,28949.000000,28949.000000,28949.000000,28943.000000,28943.000000
mean,1994.59904,30.358306,29.381928,32.822317,24.458944,132.422916,47.182044,494.251857,39.242844,10.697499
std,14.12504,27.537241,78.295889,25.288023,79.459705,125.272913,33.350603,390.174213,23.756039,68.196626
min,1960.00000,-33.868800,-123.120700,-25.274398,-106.346771,1.000000,0.000000,0.000000,-40.900557,-106.346771
25%,1984.00000,33.749000,-0.127800,35.861660,-3.749220,20.000000,23.000000,147.000000,36.204824,-3.435973
50%,1996.00000,37.983800,8.672400,37.090240,10.451526,140.000000,40.000000,441.000000,46.818188,10.451526
75%,2007.50000,45.070300,116.407400,51.165691,105.318756,208.000000,61.000000,908.000000,53.709807,27.953389
max,2018.00000,63.290900,151.209300,61.524010,138.252924,449.000000,146.000000,1198.000000,64.963051,179.414413

In [127]:
para_standings.describe()

        games_year     npc_rank     npc_gold   npc_silver   npc_bronze
count  2346.000000  2056.000000  2346.000000  2346.000000  2346.000000
mean   1994.145780     4.620623     5.279199     4.627877     4.367860
std      15.832629     2.769497    11.060410     9.796177     9.192876
min    1960.000000     1.000000     0.000000     0.000000     0.000000
25%    1984.000000     2.000000     0.000000     0.000000     0.000000
50%    1996.000000     4.000000     1.000000     1.000000     1.000000
75%    2008.000000     7.000000     5.000000     4.000000     4.000000
max    2018.000000    10.000000   137.000000   131.000000   129.000000

Removing unwanted columns

In [128]:
para_athlete.drop(columns = ['npc', 'npc_new', 'athlete_info_og'], inplace= True)

para_standings.drop(columns = ['npc', 'npc_new'], inplace= True)

Renaming of columns

In [129]:
para_athlete.rename(columns= {'npc_name' : 'part_country'}, inplace = True)

para_athlete.columns

Index(['games_code', 'games_year', 'games_city', 'City_latitude',
       'City_longitude', 'games_country', 'Country_latitude',
       'Country_longitude', 'games_continent', 'games_start', 'games_end',
       'games_season', 'sport', 'sport_code', 'event_venue', 'events', 'npcs',
       'athletes', 'event', 'medal', 'part_country', 'npc_name_latitude',
       'npc_name_longitude', 'athlete_name'],
      dtype='object')

In [130]:
para_standings.rename(columns= {'npc_name' : 'part_country'}, inplace = True)

para_standings.columns

Index(['games_code', 'games_year', 'games_city', 'games_country',
       'games_continent', 'games_start', 'games_end', 'games_season',
       'part_country', 'rank_type', 'npc_rank', 'npc_gold', 'npc_silver',
       'npc_bronze', 'sport_code', 'sport'],
      dtype='object')

Looking out for missing data

In [164]:
para_athlete.isna().sum()

games_code                0
games_year                0
games_city                0
City_latitude          2742
City_longitude         2742
games_country             0
Country_latitude       2742
Country_longitude      2742
games_continent           0
games_start               0
games_end                 0
games_season              0
sport                     0
sport_code                0
event_venue           18221
events                    0
npcs                      0
athletes                  0
event                     5
medal                     5
part_country            112
npc_name_latitude         6
npc_name_longitude        6
athlete_name            242
dtype: int64

In [162]:
#dropping rows with missing data
pd.set_option('display.max_rows', (250))
para_athlete.drop(para_athlete.loc[(para_athlete['games_country'] == 'Israel') & (para_athlete['event'].isna())].index, inplace= True)

In [165]:
pd.set_option('display.max_rows', (700))
para_athlete.loc[para_athlete['games_country'] == 'Israel'].head(10)

,games_code,games_year,games_city,City_latitude,City_longitude,games_country,Country_latitude,Country_longitude,games_continent,games_start,...,event_venue,events,npcs,athletes,event,medal,part_country,npc_name_latitude,npc_name_longitude,athlete_name
98,PG1968,1968,Tel Aviv,32.0853,34.7818,Israel,31.046051,34.851612,Europe,4 November,...,"Ilan Sport Centre, Ramat Gan",68.0,24.0,264.0,Men's 50 m Breaststroke Class 5 (cauda equina),Bronze,Argentina,-38.416097,-63.616672,CARRANZA
99,PG1968,1968,Tel Aviv,32.0853,34.7818,Israel,31.046051,34.851612,Europe,4 November,...,"Ilan Sport Centre, Ramat Gan",68.0,24.0,264.0,Women's 50 m Freestyle Special class,Bronze,Argentina,-38.416097,-63.616672,COCHETTI S
100,PG1968,1968,Tel Aviv,32.0853,34.7818,Israel,31.046051,34.851612,Europe,4 November,...,"Ilan Sport Centre, Ramat Gan",68.0,24.0,264.0,Men's 50 m Freestyle Class 5 (cauda equina),Silver,Argentina,-38.416097,-63.616672,CARRANZA
101,PG1968,1968,Tel Aviv,32.0853,34.7818,Israel,31.046051,34.851612,Europe,4 November,...,"Ilan Sport Centre, Ramat Gan",68.0,24.0,264.0,Men's 25 m Freestyle Class 2 complete,Gold,Argentina,-38.416097,-63.616672,ARESCA H
572,PG1968,1968,Tel Aviv,32.0853,34.7818,Israel,31.046051,34.851612,Europe,4 November,...,Ramat Gan National Stadium,13.0,24.0,154.0,Men's FITA Round Open,Silver,Australia,-25.274398,133.775136,SOUTH
573,PG1968,1968,Tel Aviv,32.0853,34.7818,Israel,31.046051,34.851612,Europe,4 November,...,Ramat Gan National Stadium,13.0,24.0,154.0,Men's St. Nicholas Round Cervical,Silver,Australia,-25.274398,133.775136,MCLUCAS
574,PG1968,1968,Tel Aviv,32.0853,34.7818,Israel,31.046051,34.851612,Europe,4 November,...,Ramat Gan National Stadium,13.0,24.0,154.0,Men's Albion Round Open,Gold,Australia,-25.274398,133.775136,SOUTH
575,PG1968,1968,Tel Aviv,32.0853,34.7818,Israel,31.046051,34.851612,Europe,4 November,...,Ramat Gan National Stadium,13.0,24.0,154.0,Men's Columbia Round Open,Gold,Australia,-25.274398,133.775136,CONN
576,PG1968,1968,Tel Aviv,32.0853,34.7818,Israel,31.046051,34.851612,Europe,4 November,...,Ramat Gan National Stadium,1.0,18.0,62.0,Mixed Pairs Open,Silver,Australia,-25.274398,133.775136,CONNSOUTH
577,PG1968,1968,Tel Aviv,32.0853,34.7818,Israel,31.046051,34.851612,Europe,4 November,...,"Ilan Sport Centre, Ramat Gan",68.0,24.0,264.0,Men's 25 m Backstroke Class 2 complete,Bronze,Australia,-25.274398,133.775136,PONTA F

In [172]:
para_athlete['athlete_name'].unique().tolist()

['ALLEK M',
 'HAMOUMOU M',
 'HAMDI S',
 'DJEMAI M',
 'HAMRI L',
 'MEDJMEDJ N',
 'BERRAHAL M',
 'BAHLAZ L',
 'KARDJENA K',
 'SAIFI N',
 'GASMI M',
 'BAKA A',
 'NOUIOUA S',
 'BOUDJADAR A',
 'BELLELE F',
 'ZERGOUNE B',
 'BOUDJELTIA Y',
 'BENCHIHEB O',
 'HANANI K',
 'AISSAOUI M',
 'BETINA K',
 'YAHIAOUI H',
 'DJELAL S',
 'NINE M',
 'SEKHRI Z',
 'BAKIRI M',
 'GHERZOULI H',
 'BENOUMESSAD L',
 'NOURA M',
 'LAMRI S',
 'QUILTER B',
 'SAYOVO J',
 'ARMANDO J',
 'DELGADO E',
 'VIGNATTI C',
 'GODOY J',
 'BASCIONI H',
 'MARRO G',
 'BARRETO H',
 'URRA H',
 'MARTINEZ Y',
 'ARCADI F',
 'DELDO GARCIA A',
 'PADILLA F',
 'PERALTA D',
 'RODRIGUEZ L',
 'VELO S',
 'VELIZ N',
 'ESPINILLO M',
 'MULECK G',
 'GKLENCINA D',
 'GK',
 'CARRANZA',
 'COCHETTI S',
 'ARESCA H',
 'RODRIGUEZ M',
 'NESTOR S',
 'RAMIREZ F',
 'BASUALDO B',
 'PEREZLINDO A',
 'DIZ J',
 'CAMPO O',
 'SZNITOWSKI J',
 'TORTUL',
 'OLARTE S',
 'TOSI',
 'MIER',
 'IGNESIAS',
 'FALOCO',
 'ROMERO H',
 'ARESCAROMERO M',
 'BRANDONI H',
 'NOVOA R',
 'IGLESIAS R',
 'ALBELO E',
 'MARIN F',
 'GRUSOVIN J',
 'BUSTELLI F',
 'BARTELLI',
 'MASLUP C',
 'HAYLAN J',
 'GRECO B',
 'LOPEZ R',
 'LENCINA D',
 'GKABBAS HACHACHE G',
 'GKCEREGA D',
 'DIAZ E',
 'FIGUEROA I',
 'MENDOZA A',
 'MORENO O',
 'RAMIREZ J',
 'ALMADA M',
 'BALDASSARRI S',
 'JIMENEZ J',
 'MAIDANA G',
 'CEENEY D',
 'SUTTON R',
 'VAN PUYMBROECK',
 'DE VOS',
 'DELAPIETRA',
 'FIGONI',
 'GRIEB L',
 'GONZALEZ P',
 'BENEDETTI C',
 'GALINDEZ G',
 'PEREZ L',
 'RIZZOTTO M',
 'LANGHI R',
 'RICHETTI',
 'DI PAOLO',
 'FERRARI',
 'EFFRON J',
 'BAEZ N',
 'GARCIA E',
 'LOPEZ M',
 'MASCIOTRA S',
 'NEWELL A',
 'FULLER N',
 'MATTHEWS T',
 'LINDSAY J',
 'BLATTMAN F',
 'DANIELL R',
 'GOLDFINCH M',
 'HARVEY B',
 'ELGIN D',
 'FELDMAN R',
 'WEBB K',
 'WINTERS A',
 'FLAVEL T',
 'WILLIS-ROBERTS J',
 'FRANCIS H',
 'FEARNLEY K',
 'TRAPPETT G',
 'NUNNARI P',
 'WALLRODT B',
 'COX L',
 'LLORENS L',
 'RACKHAM S',
 'QUINN A',
 'SAUVAGE L',
 'HOLT L',
 'KOPLICK N',
 'SULLIVAN T',
 'SMITH G',
 'MITCHELL P',
 'THRUPP D',
 'AULT-CONNELL K',
 'GROGAN A',
 'WILSON S',
 'SHORT R',
 'EATON S',
 'FLAVEL A',
 'MCINTOSH L',
 'BRADSHAW J',
 'SCOTT C',
 'HOMANN P',
 'LE FLOHIC M',
 'CLOHESSY P',
 'HOLLANDS E',
 'LEPORE L',
 'NIXON L',
 "O'NEILL P",
 'LAKE P',
 'POLSON D',
 'HARRY D',
 'MODRA T',
 'PARKER S',
 'GRAY M',
 'BALL G',
 'HIRD M',
 'HIGGINS J',
 'NICHOLSON R',
 'DUNROSS J',
 'MARTIN G',
 'ROBINS N',
 'TAIT P',
 'HARRIS A',
 'BROCKENSHIRE S',
 'ALTMANN M',
 'TIN B',
 'ROLFE D',
 'BARNETT P',
 'BELL D',
 'DE BURGH C',
 'EVESON J',
 'FRASER A',
 'CROSS T',
 'COOPER P',
 'ABERLEY A',
 'LEY D',
 'REDFORD C',
 'WILLIAMS L',
 'WILLIAMS S',
 'STOCKHAM B',
 'BAILEY K',
 'WILLSON M',
 'WRIGHT E',
 'LIDDELL K',
 'BECKWITH D',
 'CARLTON M',
 'DASHWOOD G',
 'BUGARIN K',
 'PIKE S',
 'BURKETT B',
 'WALSH S',
 'NOWITZKI T',
 'HARDY J',
 'DONACHIE P',
 'CROSS P',
 'REID B',
 'PATON S',
 'GREEN J',
 'ADAMS J',
 'CARTER A',
 'COGHLAN P',
 'DUNN M',
 'FARRELL K',
 'MOSELY A',
 "O'NION L",
 'RITCHIE D',
 'ROMEO N',
 'SLANN S',
 'TESCH L',
 'WEBB J',
 'ALMAN B',
 'BOYLAN B',
 'CLARKE C',
 'CROKER G',
 'DUBBERLEY B',
 'ERDEM N',
 'HARDING P',
 'HUCKS G',
 'KENNEDY T',
 'PARSONS C',
 'PORTER S',
 'RYAN P',
 'HALL D',
 'JOHNSON D',
 'DI TORO D',
 'PUPOVAC B',
 'MILNE J',
 'PERRIS C',
 'MCCRACKEN R',
 'ROEGER M',
 'CHATMAN A',
 'HODGETTS T',
 'BALLARD A',
 'ELKINGTON-JONES J',
 'PARDY E',
 'CLEAVER E',
 'HOLT I',
 'BEATTIE C',
 'ELLERY L',
 'PROUDFOOT K',
 'KEEFER C',
 "O'HANLON E",
 'KENZIE D',
 'DE ROZARIO M',
 'DAWES C',
 'MOORE J',
 'DOYLE T',
 'REARDON S',
 'TURNER J',
 'DAVIDSON B',
 'SEIPEL S',
 'REYNOLDS A',
 'MCGRATH C',
 'MODRA K',
 ' EDWARDS D',
 'POWELL S',
 'GALLAGHER J',
 ' JANSSEN M',
 'BRIDGWOOD K',
 'DONOHOE A',
 'TRIPP S',
 'REID A',
 'COOKE C',
 'NICHOLAS D',
 'HORRIE E',
 'BUGG M',
 'FITZGIBBON D',
 'BOADEN R',
 'HARRIS J',
 'HARRISON C',
 'FOX D',
 'HALL B',
 'LEVY M',
 'DISKEN T',
 'THOMAS KANE T',
 'COLE E',
 'DEDEKIND K',
 'PATTERSON L',
 'COCHRANE B',
 'MURPHY M',
 'ELLIOTT M',
 'SCOTT M',
 'WATSON R',
 'MCCONNELL A',
 'KELLY K',
 ' JONES M',
 'VON EINEM S',
 'BATT R',
 'BOND C',
 'CARR C',
 'HARRISON A',
 'HOSE J',
 'LEES J',
 'SCOTT R',
 'EDMONDSON A',
 'FAWCETT B',
 'LEWIS M',
 'WARN J',
 'ALCOTT D',
 ' D',
 'DAVIDSON H',
 'SOUTH',
 'MCLUCAS',
 'CONN',
 'CONNSOUTH',
 'PONTA F',
 'SIMMONS',
 'WATTS',
 'HILTON D',
 'LAMB',
 'EDMONDSON E',
 'DODD L',
 "O'BRIEN M",
 'SCHREIBER M',
 'RENALSON V',
 'COURT L',
 'THOMAS B',
 'GIDDY T',
 'EDEN J',
 'ROMAGUERA J',
 'EVANS D',
 'MCGREGOR K',
 'JONES L',
 'MACDONALD H',
 'BURROUGHS D',
 'BIGNALL K',
 'HUYHN T',
 'POOLE T',
 'SMITH S',
 'GOLDING K',
 'CLARKE A',
 'CAHILL P',
 'CLARK J',
 'MCNICHOLL B',
 'NOMARHAS J',
 'BARKER P',
 'FALZON J',
 'YOUNG J',
 'FITZPATRICK G',
 'GOCKEL P',
 'COLLINS D',
 'OLIVER T',
 'SULLIVAN C',
 'ANDREWS T',
 'BLYTHE R',
 'CECCONATO O',
 'COX B',
 'EWIN S',
 'GOULD D',
 'HEWSON G',
 'MALONEY T',
 'MORRIS N',
 'OLIVER R',
 'SACHS T',
 'SELBY D',
 'CONNELL M',
 'FOWLER R',
 'COUSENS L',
 'MARTIN J',
 'HOOPER G',
 'DOW M',
 'FRENCH J',
 'FOWLER V',
 'ELLIS D',
 'MUHLENDYCK M',
 'PATTERSON J',
 'PERRINE M',
 ' GEIGER C',
 'PATMORE S',
 'NUGENT R',
 'BIANCUCCI R',
 'NUGENT M',
 "O'SULLIVAN A",
 'WALSH J',
 'DUFTY A',
 'CORDUKES R',
 'DESANTO M',
 'VALLELONGA V',
 'VAN ELDIK M',
 'AHRENS R',
 'MCINTYRE D',
 'RUSSELL J',
 'LOWE A',
 'HILL B',
 'HACKETT M',
 'MCLELLAN Y',
 'JONES M',
 'SMITH D',
 'GILL K',
 'GOODMAN D',
 'PARSONS N',
 'SMART J',
 'MOLSEED P',
 'FORSBERG J',
 'READ N',
 'BOLDERY D',
 'SWANN C',
 'KOSMALA S',
 'FARRELL M',
 'POBLE M',
 'KOSMALA E',
 'GRIFFIN D',
 'SMITH R',
 'RYDING W',
 'LILLECRAPP L',
 'HOLLAND D',
 'KNOX S',
 'MAYWOOD M',
 'TRACEY P',
 'YAXLEY S',
 'HUGGETT C',
 'HAMMOND G',
 'LARIONOW N',
 'WILLIS J',
 'COLMAN R',
 'AULT K',
 'BENZ P',
 'CROWE R',
 'PTMODRA K',
 'BROOKS P',
 'MCCOMBIE K',
 'PTSHAW J',
 'PANAZZOLO A',
 'BIDDLE A',
 'STEWART K',
 'PT',
 'HOU L',
 'MCLEAN C',
 'RYAN T',
 'SHORT D',
 'PIKE J',
 'GARDINER D',
 'ADAMS A',
 'COWDREY M',
 'MOFFATTI R',
 'WELSH R',
 'BRAMHAM S',
 'WOLFENDEN C',
 'JONKERS M',
 'WATT P',
 'ROSE S',
 'CLARKE L',
 'LEWIS K',
 'DRENNAN M',
 'MACDOUGALL H',
 'HADLEY A',
 'PENDLETON R',
 'BOWEN S',
 'DOWLER B',
 'KING A',
 'KNOWLES T',
 'MESSAGE C',
 'MIZENS G',
 'NESS B',
 'NORRIS S',
 'TAYLOR D',
 'CHAFFEY L',
 'CHAPLIN S',
 'DOMASCHENZ M',
 'GAUCI K',
 'MCKENZIE T',
 'SACHS J',
 'STEWART S',
 'YOUNG M',
 'BONACCURSO A',
 'RAISON P',
 'WOLF C',
 'SMITH J',
 'HOGAN M',
 'SCOTT B',
 'MULLINS C',
 'GALLAGHER M',
 'LAWRENCE T',
 'GEORGE S',
 'PTLINDORES B',
 'PARIS J',
 'GALLAGHER T',
 'PTHOU L',
 'DEMERY B',
 'HOPKINS S',
 'JOHNSON F',
 'PARKER K',
 'BRUCE G',
 'MACLEAN J',
 'ROSS K',
 'COX R',
 'LEEK P',
 'DOHNT J',
 'FRENEY J',
 'WILLIAMS A',
 'ANDERSON M',
 'PORTER K',
 'BURZYNSKI C',
 'CRISPIN C',
 'HALL M',
 'HILL K',
 'KEAN B',
 "O'KELLY-KENNEDY K",
 'HARTNETT M',
 'SIMMONS T',
 'STIBNERS B',
 'BOXALL G',
 'BRAND S',
 'VITALE S',
 'BUNTING B',
 'MILTON M',
 'RICKARD S',
 'GREEN M',
 'FEIFAR K',
 'HEAD T',
 'BUTLER A',
 'SIMMONDS S',
 'CURRIE A',
 'SWEETAPPLE D',
 'DIEDERICH J',
 'BARNES K',
 'BARRELL T',
 'TROUVERIE',
 'ZANDER',
 'HORAN J',
 'POTTER',
 'HEPPLE',
 'IRVINE R',
 'GUBBIN',
 'COMLEY',
 'BRADLEY',
 'KANE T',
 'MARSH P',
 'KESTEL J',
 'MIKULIC J',
 'FAULKNER R',
 'RUPE D',
 'PATCHETT W',
 'TODD M',
 'MOSEBY M',
 'RUSSELL E',
 'KIDD J',
 'FREEMAN T',
 'SCHEIBER E',
 'ROSS M',
 'HANDBRIDGE J',
 'SMITH C',
 'FARMER R',
 'MAGENNIS E',
 'THWAITE B',
 'JACKSON A',
 'RICHARDS E',
 'KUBIG R',
 'ENGLISH P',
 'HIND J',
 'MICHAEL L',
 'NICHOLSON G',
 'MASON T',
 'NORTON M',
 'MUNK D',
 'RAHLES-RAHBULA C',
 'CONNFOWLER R',
 'BARRETT',
 'MCINTYRE R',
 'RICKARD',
 'MORRISON',
 'BOULTER',
 'FOLEY',
 'CAMERON M',
 'ARKLEY N',
 'LITTLE R',
 'BEIKOFF G',
 'CARTWRIGHT K',
 'GREEN A',
 'BARLEY N',
 'LINDORES B',
 ' FINNING S',
 'KENNEDY S',
 ' MCPHEE S',
 ' MORTON S',
 'FORMOSA J',
 'SMITH N',
 'PASTERFIELD A',
 'ANTALFY T',
 'AUPRINCE M',
 'HAANAPPEL M',
 'CORRY T',
 'DOWNIE K',
 'BLAIR J',
 'LATHAM B',
 'TAYLOR N',
 'DEL TOSO L',
 'MERRITT A',
 'NOTT C',
 'VINCI S',
 'MEAKIN C',
 'NEWTON B',
 'TREWHELLA I',
 'EGAN J',
 'ALP C',
 'HUBEL E',
 'POINTER F',
 'SANDILANDS B',
 'CREE',
 'LANHAM',
 'HOBBS S',
 'PASCOE G',
 'CASPERS B',
 'GUDGEON G',
 'CONNORS C',
 'TAPSCOTT C',
 'HILL P',
 'KALMS B',
 'DAVIES S',
 'KIRBY P',
 'MCPHERSON D',
 'TROTTER P',
 'QUINN M',
 'MORLEY M',
 'REYNALDS P',
 nan,
 'RANDLES J',
 'WOODBRIDGE V',
 'SARGOLIA S',
 'FEDERICO J',
 'MUIR S',
 'DANN D',
 'COLEMAN L',
 'DAVIES M',
 'HOLCOMBE B',
 'DICKS E',
 'DOWLING J',
 'NEWTON J',
 'ZOTTI K',
 'WEDDERBURN R',
 'LEWISMORAN',
 'CHADWICK A',
 'STADDON R',
 'CHALMERS M',
 'EVANS M',
 'WALLACE M',
 'KING U',
 'ENGEL K',
 'DONOVAN T',
 'BRUNNER H',
 'CONNOR K',
 'YOUNG C',
 'LEWIS T',
 'BLACKBURN C',
 'EAMES R',
 'WALDEN R',
 'BIGGS T',
 'ETZLSTORFER C',
 'GEIERSPICHLER T',
 'MONSCHEIN W',
 'SCHMIED E',
 'SCHERNEY A',
 'DUBIN W',
 'EIBECK W',
 'HANL W',
 'AUFSCHNAITER H',
 'ROSENBERGER T',
 'FRACZYK S',
 'MATZINGER G',
 'EDER N',
 'SWOBODA M',
 'ABLINGER W',
 'FRUHWIRTH T',
 'PUCH P',
 'ONEA A',
 'GARDOS K',
 'SAFER',
 'SAILER W',
 'IGEL',
 'FISCHER',
 'KUHNEL R',
 'VETSCHERA',
 'DRIESSLER I',
 'VOBORIL I',
 'MARSHAM GBR',
 'FELSER K',
 'SIEGL A',
 'HARTL M',
 'KRAMER A',
 'REIGER S',
 'MAYR K',
 'ZETTLER N',
 'SCHARF G',
 'KURKINEN J',
 'SUTTER C',
 'KREIDEL T',
 'SCHWENDTNER S',
 'FUNG Y',
 'HKG',
 'HAJEK R',
 'ALTENDORFER F',
 'DOLLMANN M',
 'STARL P',
 'GOELLER T',
 'JAGER J',
 'RANGGER E',
 'FLIESSAR E',
 'SAGER R',
 'PRIMUS K',
 'MOOSBRUGGER W',
 'PSCHEIDER G',
 'MEUSBURGER R',
 'DOS-KELLNER E',
 'LECHNER N',
 'OBRIST N',
 'MANDL H',
 'HIRSCHBUEHL A',
 'SCHIESTL A',
 'SCHMID A',
 'EGLE J',
 'SALZMANN K',
 'HASLACHER D',
 'ANTHOFER O',
 'BERGHOFER G',
 'MAXWALD E',
 'HOENISCH R',
 'SALCHER M',
 'EDER H',
 'LOESCH C',
 'EDLINGER C',
 ' EDLINGER J',
 'MAYRHOFER P',
 'SCHRATTENECKER G',
 'ATTENEDER M',
 'FUCHS J',
 'GAMBAL K',
 'MONSCHEIN H',
 'LOISINGER J',
 'SUSITZ M',
 'PRALL K',
 'PICHLER W',
 'SCHEIBER A',
 'ROTH H',
 'PFALLER W',
 'KREUZER O',
 'MULLER W',
 'FETZ H',
 'KIRCHMAIR G',
 'WLISZCZAK D',
 'SCHWARZ R',
 'TISCHLER G',
 'MARINKOVIC B',
 'MAYRHOFER J',
 'DABERNIG W',
 'GUTDEUTSCH R',
 'SCHATTAUER W',
 'VEVERA A',
 'FALCH M',
 'HUEMER G',
 'SCHOESSWENDTER J',
 'HIRNBOCK G',
 'AGUDO E',
 'MANDL F',
 'HATTON D',
 'WITSCHNIG S',
 'MAUGHAN M',
 'SONES P',
 'WHITMAN J',
 'HARRIMAN M',
 'BERGER-WALDENEGG M',
 'DRIESSLER',
 'KOHLMANNHUBER',
 'TELSNIG W',
 'BARBIER',
 'PROSSL W',
 'JACOB',
 'RABL R',
 'BONADIMANN P',
 'LANZINGER M',
 'KARNER A',
 'KOLM G',
 'PELANZER',
 'WINKLER',
 'LETTNER F',
 'APSCHNER',
 'PRICHTZIG K',
 'SCHWARZ E',
 'OBERRER M',
 'REISNER K',
 'GASSER S',
 'KANDA',
 'HAIDER K',
 'HARGREITER',
 'FINK W',
 'HOFER A',
 'NUNGESTER R',
 'GRINNINGER G',
 'MAGNET W',
 'SCHWEIZER R',
 'PARAGGER H',
 'STIEG W',
 'KRAFT H',
 'SCHITTER M',
 'HAHN B',
 'SCHARF I',
 'FROEHLE R',
 'LACKNER W',
 'GASTEIGER S',
 'BERGMANN R',
 'MAETZLER W',
 'HABERMANN O',
 'JORDAN B',
 'KNAPP H',
 'PIRIBAUER A',
 'TATSCHL M',
 'KUEHNE B',
 'DANZL G',
 'RAMSAUER M',
 'PERNER P',
 'LANGER G',
 'SCHWENINGER D',
 'ZEROBIN E',
 'PREINING V',
 'DULLNIG G',
 'KNAUS M',
 'HAEUSLE C',
 'MEUSBURGER J',
 'WINKLER C',
 'MADLENER B',
 'REITER M',
 'FALCH H',
 'PREINING K',
 'HOELZL E',
 'MOROKUTTI H',
 'KIEWEG P',
 'CAMPBELL D',
 'MUSSGER S',
 'GAUN H',
 'SIEBENHOFER J',
 'WESSELY R',
 'HEGER M',
 'RATZINGER J',
 'FREUND G',
 'KRIEGL M',
 'HOHM W',
 'BLUSCHKE P',
 'GRIESSBACHER F',
 'ALTENBERGER M',
 'KELLNER E',
 'PICKL W',
 'GREIL J',
 'KARL F',
 'SCHOOSLEITNER',
 'MADER D',
 'PETSCHNIG M',
 'ZIERL W',
 'RUML M',
 'BRUNNER K',
 'JORG G',
 'CAMPELL D',
 'PFLANZER G',
 'FRANK G',
 'SEIDL B',
 'GRUBER J',
 'WICHER A',
 'LEDERMAIER A',
 'MEISTER F',
 'BERGER A',
 'STEIGER U',
 'RAJCHL B',
 'GRIESSMAIER H',
 'JAUK H',
 'GEUZE B',
 'PERNER F',
 'SCHEIBER J',
 'HUETTENBRENNER H',
 'ERTL L',
 'POETSCHER P',
 'HADERER C',
 'ORLITSCH J',
 'CZUK F',
 'ERHART H',
 'BUCHEGGER G',
 'MILLENDORFER H',
 'BERGER W',
 'LAURER W',
 'BRANDL M',
 'HAGN A',
 'WILHELM E',
 'HLOZEK F',
 'HONISCH R',
 'GANDLER R',
 'KOGELBAUER D',
 'KLABECEK E',
 'WURNIG E',
 'TARANOVA Y',
 'CHEBANU E',
 ' IBRAHIMOV H',
 'ALIYEV K',
 'ALIYEVA I',
 'MUSTAFAYEV B',
 'GASIMOV R',
 'SALEI D',
 'SALEI R',
 'BILALOV Z',
 'PANYUTIN O',
 'ZAKIYEV I',
 'MEHDIYEV V',
 'OSMANOV R',
 'ZAYETS V',
 'MUSAYEV O',
 'MAMMADOV T',
 'SARDAROV K',
 'MURADOV E',
 'HASANOV H',
 'JIMENEZ DOMINIGUEZ Y',
 'CUB',
 'IBRAHIMOV R',
 'SULTANOVA A',
 'PRONINA N',
 'SANDS J',
 'MORGAN C',
 'KAMAL A',
 'AL HEDDI A',
 'NEDHAM F',
 'ALHASAN A',
 'SULTAN A',
 'AL SAQER K',
 'MESHAIMA A',
 'ALQATAM K',
 'CHEPEL O',
 'ZHUKOUSKI V',
 'SHAPTSIABOI V',
 'BATSIAN A',
 'BUCHKOU Y',
 'KHILMONCHYK V',
 'LEANTSIUK I',
 'SHULIAKOUSKAYA V',
 'SIVITSKI R',
 'TRYPUTS A',
 'SIVITSKAYA A',
 'SIVAKOVA T',
 'DANILIK A',
 'PTFIADOTAVA I',
 'RUDZENOK Y',
 'MAKARAU R',
 'BOKI I',
 'IZOTAU U',
 'PRANEVICH A',
 'JOUKOVSKI V',
 'DENISSEVITCH N',
 'FARTUNAU I',
 'SKORABAHATAYA Y',
 'SAKHANENKA S',
 ' YASHCHANKA R',
 'HRAFEYEVA L',
 'HOLUB Y',
 ' BUDZILOVICH D',
 'LOBAN D',
 'KUZMICHOU A',
 'HRYBANAN S',
 'KANUIK H',
 'ZINKEVICH V',
 'PUNKO S',
 'KRAVTSEVICH D',
 'DRAZDOVA A',
 'VAUCHOK L',
 'BEZYAZYCHNY M',
 'SKARABAHATAYA Y',
 ' LEBEDZEU M',
 ' NAFRANOVICH I',
 'SILCHANKA S',
 'VARONA L',
 'SUBOTA A',
 'KANIUK A',
 'GOVAERTS B',
 'HERMANS A',
 'DAUBRESSE T',
 'DE KEERSMAEKER G',
 'VAN RAEFELGHEM K',
 'DE BAERDEMAEKER F',
 'LAVIA S',
 'VERVOORT M',
 'GENYN P',
 'HINDRICQ C',
 'VAN DE STEENE J',
 'DEBERG J',
 'BOSMANS K',
 'GEORGE M',
 'DEVOS L',
 'VAN ACKER F',
 'GERARD J',
 'LAMPO',
 'BRUYNDONCKLAMPOI',
 'ITALA CORTE R',
 'MONACO I',
 ...]

In [173]:
para_athlete['games_country'].unique().tolist()

['Australia',
 'Brazil',
 'United States',
 'Greece',
 "People's Republic of China",
 'United Kingdom',
 'Israel',
 'Japan',
 'Korea Republic',
 'Spain',
 'Italy',
 'Canada',
 'West Germany',
 'Netherlands',
 'Korea',
 'Russia',
 'France',
 'Norway',
 'United States,United Kingdom',
 'Austria',
 'Sweden']

In [168]:
para_athlete[para_athlete['part_country'].isna()].head()

,games_code,games_year,games_city,City_latitude,City_longitude,games_country,Country_latitude,Country_longitude,games_continent,games_start,...,event_venue,events,npcs,athletes,event,medal,part_country,npc_name_latitude,npc_name_longitude,athlete_name
15220,PG1996,1996,Atlanta,33.7490,-84.3880,United States,37.090240,-95.712891,Americas,16 august,...,NaN,1.0,15.0,59.0,NaN,NaN,NaN,0.0,0.0,NaN
15221,PG1996,1996,Atlanta,33.7490,-84.3880,United States,37.090240,-95.712891,Americas,16 august,...,Atlanta Metro College,1.0,6.0,47.0,NaN,NaN,NaN,0.0,0.0,NaN
15222,PG2018,2018,Pyeongchang,37.3706,128.3897,Korea,35.907757,127.766922,Asia,9 March,...,Jeongseon Alpine Centre,30.0,33.0,141.0,Men's Slalom Visually Impaired,Bronze,NaN,0.0,0.0,REDKOZUBOV V
15223,PG2018,2018,Pyeongchang,37.3706,128.3897,Korea,35.907757,127.766922,Asia,9 March,...,Jeongseon Alpine Centre,30.0,33.0,141.0,Men's Slalom Visually Impaired,Bronze,NaN,0.0,0.0,GEROEV E
15224,PG2018,2018,Pyeongchang,37.3706,128.3897,Korea,35.907757,127.766922,Asia,9 March,...,Jeongseon Alpine Centre,30.0,33.0,141.0,Men's Super Combined Visually Impaired,Bronze,NaN,0.0,0.0,REDKOZUBOV V

In [133]:
para_standings.isna().sum()

games_code           0
games_year           0
games_city           0
games_country        0
games_continent      0
games_start          0
games_end            0
games_season         0
part_country         8
rank_type            0
npc_rank           290
npc_gold             0
npc_silver           0
npc_bronze           0
sport_code         269
sport              269
dtype: int64

In [134]:
x = para_athlete.merge(para_standings, how = 'left')
x.head()

,games_code,games_year,games_city,City_latitude,City_longitude,games_country,Country_latitude,Country_longitude,games_continent,games_start,...,medal,part_country,npc_name_latitude,npc_name_longitude,athlete_name,rank_type,npc_rank,npc_gold,npc_silver,npc_bronze
0,PG2000,2000,Sydney,-33.8688,151.2093,Australia,-25.274398,133.775136,Oceania,18 October,...,Gold,Algeria,28.033886,1.659626,ALLEK M,NaN,NaN,NaN,NaN,NaN
1,PG2000,2000,Sydney,-33.8688,151.2093,Australia,-25.274398,133.775136,Oceania,18 October,...,Gold,Algeria,28.033886,1.659626,ALLEK M,NaN,NaN,NaN,NaN,NaN
2,PG2000,2000,Sydney,-33.8688,151.2093,Australia,-25.274398,133.775136,Oceania,18 October,...,Gold,Algeria,28.033886,1.659626,ALLEK M,NaN,NaN,NaN,NaN,NaN
3,PG2016,2016,Rio de Janeiro,-22.9068,-43.1729,Brazil,-14.235004,-51.925280,Americas,7 September,...,Bronze,Algeria,28.033886,1.659626,HAMOUMOU M,NaN,NaN,NaN,NaN,NaN
4,PG2016,2016,Rio de Janeiro,-22.9068,-43.1729,Brazil,-14.235004,-51.925280,Americas,7 September,...,Bronze,Algeria,28.033886,1.659626,HAMDI S,NaN,NaN,NaN,NaN,NaN

In [135]:
para_athlete.head(3)

,games_code,games_year,games_city,City_latitude,City_longitude,games_country,Country_latitude,Country_longitude,games_continent,games_start,...,event_venue,events,npcs,athletes,event,medal,part_country,npc_name_latitude,npc_name_longitude,athlete_name
0,PG2000,2000,Sydney,-33.8688,151.2093,Australia,-25.274398,133.775136,Oceania,18 October,...,NaN,234.0,104.0,1044.0,Men's 100 m T37,Gold,Algeria,28.033886,1.659626,ALLEK M
1,PG2000,2000,Sydney,-33.8688,151.2093,Australia,-25.274398,133.775136,Oceania,18 October,...,NaN,234.0,104.0,1044.0,Men's 200 m T37,Gold,Algeria,28.033886,1.659626,ALLEK M
2,PG2000,2000,Sydney,-33.8688,151.2093,Australia,-25.274398,133.775136,Oceania,18 October,...,NaN,234.0,104.0,1044.0,Men's 400 m T37,Gold,Algeria,28.033886,1.659626,ALLEK M

In [136]:
para_standings.head(3)

,games_code,games_year,games_city,games_country,games_continent,games_start,games_end,games_season,part_country,rank_type,npc_rank,npc_gold,npc_silver,npc_bronze,sport_code,sport
0,PG1972,1972,Heidelberg,West Germany,Europe[a],2 August,11 August,Summer,Germany,Overall,1.0,28,17,22,NaN,NaN
1,PG1972,1972,Heidelberg,West Germany,Europe[a],2 August,11 August,Summer,United States,Overall,2.0,17,27,31,NaN,NaN
2,PG1972,1972,Heidelberg,West Germany,Europe[a],2 August,11 August,Summer,United Kingdom,Overall,3.0,16,15,21,NaN,NaN

Now we explore all columns

In [137]:
gamecodes = para_standings['games_code'].value_counts().reset_index(name = 'count').sort_values('count', ascending = False)
gamecodes

   games_code  count
0      PG2016    183
1      PG2012    168
2      PG2008    163
3      PG2004    154
4      PG1996    146
5      PG2000    143
6      PG1984    137
7      PG1988    134
8      PG1992    133
9      PG1980    109
10     PG1976    102
11     PG1972     88
12     PG1968     83
13     PG1964     74
14     PG1960     58
15     PG2018     53
16     PG1998     45
17     PG1994     44
18     PG2002     43
19     PG2010     43
20     PG2014     43
21     PG2006     42
22     PW1988     38
23     PW1992     35
24     PW1984     34
25     PW1980     29
26     PW1976     22

In [138]:
#games by year
games_by_year = para_standings.groupby('games_year')['games_code'].value_counts().reset_index(name= 'game_count').sort_values(['games_year','game_count'], ascending = [True, False])
games_by_year

    games_year games_code  game_count
0         1960     PG1960          58
1         1964     PG1964          74
2         1968     PG1968          83
3         1972     PG1972          88
4         1976     PG1976         102
5         1976     PW1976          22
6         1980     PG1980         109
7         1980     PW1980          29
8         1984     PG1984         137
9         1984     PW1984          34
10        1988     PG1988         134
11        1988     PW1988          38
12        1992     PG1992         133
13        1992     PW1992          35
14        1994     PG1994          44
15        1996     PG1996         146
16        1998     PG1998          45
17        2000     PG2000         143
18        2002     PG2002          43
19        2004     PG2004         154
20        2006     PG2006          42
21        2008     PG2008         163
22        2010     PG2010          43
23        2012     PG2012         168
24        2014     PG2014          43
25        2016     PG2016         183
26        2018     PG2018          53

In [139]:
#games by city

games_by_city = para_standings.groupby('games_city')['games_code'].value_counts().reset_index(name= 'games_count').sort_values('games_count', ascending = False)
games_by_city.head()

        games_city games_code  games_count
14  Rio de Janeiro     PG2016          183
10          London     PG2012          168
4          Beijing     PG2008          163
1           Athens     PG2004          154
2          Atlanta     PG1996          146

In [140]:
#games by year and city

games_by_year_and_city = para_standings.groupby(['games_year', 'games_city'])['games_code'].value_counts().reset_index(name= 'count')
games_by_year_and_city.head()

   games_year  games_city games_code  count
0        1960        Rome     PG1960     58
1        1964       Tokyo     PG1964     74
2        1968    Tel Aviv     PG1968     83
3        1972  Heidelberg     PG1972     88
4        1976     Toronto     PG1976    102

In [141]:
host_country = para_standings.groupby(['games_year', 'games_country'])['games_city'].value_counts().reset_index(name= 'game_counts').sort_values(['games_year', 'games_country', 'game_counts'], ascending = [True, True, False])
host_country

,games_year,games_country,games_city,game_counts
0,1960,Italy,Rome,58
1,1964,Japan,Tokyo,74
2,1968,Israel,Tel Aviv,83
3,1972,West Germany,Heidelberg,88
4,1976,Canada,Toronto,102
5,1976,Sweden,Örnsköldsvik,22
6,1980,Netherlands,Arnhem,109
7,1980,Norway,Geilo,29
8,1984,Austria,Innsbruck,34
9,1984,United StatesUnited Kingdom,New York Stoke Mandeville,137
10,1988,Austria,Innsbruck,38
11,1988,Korea Republic,Seoul,134
12,1992,France,Tignes-Albertville,35
13,1992,Spain,Barcelona-Madrid,133
14,1994,Norway,Lillehammer,44
15,1996,United States,Atlanta,146
16,1998,Japan,Nagano,45
17,2000,Australia,Sydney,143
18,2002,United States,Salt Lake City,43
19,2004,Greece,Athens,154
20,2006,Italy,Turin,42
21,2008,People's Republic of China,Beijing,163
22,2010,Canada,Vancouver,43
23,2012,United Kingdom,London,168
24,2014,Russia,Sochi,43
25,2016,Brazil,Rio de Janeiro,183
26,2018,Korea,Pyeongchang,53

In [142]:
para_athlete.columns

Index(['games_code', 'games_year', 'games_city', 'City_latitude',
       'City_longitude', 'games_country', 'Country_latitude',
       'Country_longitude', 'games_continent', 'games_start', 'games_end',
       'games_season', 'sport', 'sport_code', 'event_venue', 'events', 'npcs',
       'athletes', 'event', 'medal', 'part_country', 'npc_name_latitude',
       'npc_name_longitude', 'athlete_name'],
      dtype='object')

In [143]:
para_standings.columns

Index(['games_code', 'games_year', 'games_city', 'games_country',
       'games_continent', 'games_start', 'games_end', 'games_season',
       'part_country', 'rank_type', 'npc_rank', 'npc_gold', 'npc_silver',
       'npc_bronze', 'sport_code', 'sport'],
      dtype='object')

In [144]:
x = para_athlete['athletes'].value_counts().reset_index(name = 'count')
x

     athletes  count
0      1141.0   1801
1      1198.0   1275
2       541.0    940
3       502.0    779
4       936.0    779
..        ...    ...
169       2.0      3
170      11.0      1
171      47.0      1
172      23.0      1
173       0.0      1

[174 rows x 2 columns]

Host Countries and Locations:

What is the total number of host countries during the time period? Which continent have hosted the most Olympic Games?

What is the geographical distribution of host cities across continents? (e.g., visualizing games distribution across continents over time)

How do latitude and longitude data for host cities correlate with other factors such as medals won by host countries?

In [145]:
para_athlete.sort_values('games_year', ascending = True).head(25)

,games_code,games_year,games_city,City_latitude,City_longitude,games_country,Country_latitude,Country_longitude,games_continent,games_start,...,event_venue,events,npcs,athletes,event,medal,part_country,npc_name_latitude,npc_name_longitude,athlete_name
27562,PG1960,1960,Rome,41.9028,12.4964,Italy,41.87194,12.56738,Europe,18 September,...,Tre Fontane Sports Centre,2.0,12.0,97.0,Men's Tournament Class B,Gold,United States,37.090240,-95.712891,WELGER S
27561,PG1960,1960,Rome,41.9028,12.4964,Italy,41.87194,12.56738,Europe,18 September,...,Tre Fontane Sports Centre,2.0,12.0,97.0,Men's Tournament Class B,Gold,United States,37.090240,-95.712891,STEIN R
27560,PG1960,1960,Rome,41.9028,12.4964,Italy,41.87194,12.56738,Europe,18 September,...,Tre Fontane Sports Centre,2.0,12.0,97.0,Men's Tournament Class B,Gold,United States,37.090240,-95.712891,SONES P
27559,PG1960,1960,Rome,41.9028,12.4964,Italy,41.87194,12.56738,Europe,18 September,...,Tre Fontane Sports Centre,2.0,12.0,97.0,Men's Tournament Class B,Gold,United States,37.090240,-95.712891,KENNEDY D
27558,PG1960,1960,Rome,41.9028,12.4964,Italy,41.87194,12.56738,Europe,18 September,...,Tre Fontane Sports Centre,2.0,12.0,97.0,Men's Tournament Class B,Gold,United States,37.090240,-95.712891,KARR B
27557,PG1960,1960,Rome,41.9028,12.4964,Italy,41.87194,12.56738,Europe,18 September,...,Tre Fontane Sports Centre,2.0,12.0,97.0,Men's Tournament Class B,Gold,United States,37.090240,-95.712891,BROEREN W
27556,PG1960,1960,Rome,41.9028,12.4964,Italy,41.87194,12.56738,Europe,18 September,...,Tre Fontane Sports Centre,2.0,12.0,97.0,Men's Tournament Class A,Gold,United States,37.090240,-95.712891,TAYLOR E
27555,PG1960,1960,Rome,41.9028,12.4964,Italy,41.87194,12.56738,Europe,18 September,...,Tre Fontane Sports Centre,2.0,12.0,97.0,Men's Tournament Class A,Gold,United States,37.090240,-95.712891,MABEE P
27554,PG1960,1960,Rome,41.9028,12.4964,Italy,41.87194,12.56738,Europe,18 September,...,Tre Fontane Sports Centre,2.0,12.0,97.0,Men's Tournament Class A,Gold,United States,37.090240,-95.712891,CAMP G
27553,PG1960,1960,Rome,41.9028,12.4964,Italy,41.87194,12.56738,Europe,18 September,...,Tre Fontane Sports Centre,2.0,12.0,97.0,Men's Tournament Class A,Gold,United States,37.090240,-95.712891,WILKINS A
27572,PG1960,1960,Rome,41.9028,12.4964,Italy,41.87194,12.56738,Europe,18 September,...,NaN,3.0,1.0,9.0,Men's Sabre Team,Silver,Italy,41.871940,12.567380,RUSCHIONI A
24948,PG1960,1960,Rome,41.9028,12.4964,Italy,41.87194,12.56738,Europe,18 September,...,NaN,11.0,10.0,35.0,Women's Singles A,Gold,United Kingdom,55.378051,-3.435973,ANDERSON
24947,PG1960,1960,Rome,41.9028,12.4964,Italy,41.87194,12.56738,Europe,18 September,...,NaN,11.0,10.0,35.0,Men's Doubles A,Gold,United Kingdom,55.378051,-3.435973,TAYLOR T
24946,PG1960,1960,Rome,41.9028,12.4964,Italy,41.87194,12.56738,Europe,18 September,...,NaN,11.0,10.0,35.0,Men's Doubles A,Gold,United Kingdom,55.378051,-3.435973,BECK M
24945,PG1960,1960,Rome,41.9028,12.4964,Italy,41.87194,12.56738,Europe,18 September,...,NaN,11.0,10.0,35.0,Men's Singles A,Gold,United Kingdom,55.378051,-3.435973,TAYLOR T
27568,PG1960,1960,Rome,41.9028,12.4964,Italy,41.87194,12.56738,Europe,18 September,...,NaN,3.0,1.0,9.0,Men's Sabre Team,Bronze,Italy,41.871940,12.567380,ROSSI F
24935,PG1960,1960,Rome,41.9028,12.4964,Italy,41.87194,12.56738,Europe,18 September,...,NaN,11.0,10.0,35.0,Men's Doubles A,Silver,Netherlands,52.132633,5.291266,JACOBS J
24934,PG1960,1960,Rome,41.9028,12.4964,Italy,41.87194,12.56738,Europe,18 September,...,NaN,11.0,10.0,35.0,Men's Singles C,Silver,Malta,35.937496,14.375416,AZZOPARDI
24933,PG1960,1960,Rome,41.9028,12.4964,Italy,41.87194,12.56738,Europe,18 September,...,NaN,11.0,10.0,35.0,Men's Doubles C,Gold,Italy,41.871940,12.567380,RUSCHIONI A
24932,PG1960,1960,Rome,41.9028,12.4964,Italy,41.87194,12.56738,Europe,18 September,...,NaN,11.0,10.0,35.0,Men's Doubles C,Gold,Italy,41.871940,12.567380,ROSSI F
24931,PG1960,1960,Rome,41.9028,12.4964,Italy,41.87194,12.56738,Europe,18 September,...,NaN,11.0,10.0,35.0,Men's Doubles B,Gold,Italy,41.871940,12.567380,ZARILLI F
24930,PG1960,1960,Rome,41.9028,12.4964,Italy,41.87194,12.56738,Europe,18 September,...,NaN,11.0,10.0,35.0,Men's Doubles B,Gold,Italy,41.871940,12.567380,FERRARIS G
24913,PG1960,1960,Rome,41.9028,12.4964,Italy,41.87194,12.56738,Europe,18 September,...,NaN,11.0,10.0,35.0,Women's Doubles C,Gold,Austria,47.516231,14.550072,BERGER-WALDENEGG M
24944,PG1960,1960,Rome,41.9028,12.4964,Italy,41.87194,12.56738,Europe,18 September,...,NaN,11.0,10.0,35.0,Women's Doubles C,Silver,United Kingdom,55.378051,-3.435973,EDWARDSGUBBIN
24943,PG1960,1960,Rome,41.9028,12.4964,Italy,41.87194,12.56738,Europe,18 September,...,NaN,11.0,10.0,35.0,Women's Doubles B,Bronze,United Kingdom,55.378051,-3.435973,FROGGARTMASHAM S

In [146]:
#total number of host countries within the said period
total_host_countries = para_athlete['games_country'].nunique()
total_host_countries

21

In [147]:
#list of host countries

host_country = para_athlete.groupby('games_country')['games_country'].value_counts().reset_index(name= 'host_times'
                                                                            ).sort_values('host_times', ascending = True)

In [148]:
#distribution of hosting across continents

cont_host_ext = para_athlete[['games_continent','games_year', 'games_country']].drop_duplicates().sort_values(
    'games_year', ascending = True)

x = cont_host_ext['games_continent'].str.split(',').explode().str.strip().reset_index(name = 'games_continent')
x = x['games_continent'].value_counts().reset_index(name = 'host_count').sort_values('host_count', ascending = False)
x

  games_continent  host_count
0          Europe          16
1        Americas           6
2            Asia           5
3         Oceania           1

In [149]:
#What is the geographical distribution of host cities across continents? (e.g., visualizing games distribution across continents over time)
host_cities_by_cont_ext = para_athlete[['games_continent','games_country', 'games_city']].drop_duplicates()

cont_ext = host_cities_by_cont_ext['games_continent'].str.split(',').explode().str.strip().reset_index(name = 'games_cont')
cont_ext.head()

city_ext = host_cities_by_cont_ext['games_city'].str.split(',').explode().str.strip().reset_index(name= 'games_city')
city_ext.head()

cont_city = cont_ext.merge(city_ext, on= 'index')
cont_city.sort_values(['games_cont', 'games_city'], ascending = [True, True])
cont_city.sort_values

cont_city.drop(index= [24, 23], inplace = True )

cont_city

host_cities_by_cont = cont_city['games_cont'].value_counts().reset_index(name= 'city_count').sort_values('city_count', ascending = False)
host_cities_by_cont

  games_cont  city_count
0     Europe          15
1   Americas           6
2       Asia           5
3    Oceania           1

In [150]:
#games_count
para_athlete['games_code'].drop_duplicates().count()

np.int64(27)

In [151]:
zz = para_athlete[['games_continent', 'games_city']].drop_duplicates()
zz.sort_values(['games_continent', 'games_city'], ascending = [True, True]).tail(10)

     games_continent          games_city
2106          Europe           Innsbruck
1580          Europe         Lillehammer
52            Europe              London
191           Europe                Rome
1300          Europe               Sochi
98            Europe            Tel Aviv
1349          Europe  Tignes-Albertville
1347          Europe               Turin
2376          Europe        Örnsköldsvik
0            Oceania              Sydney

In [152]:
para_athlete.loc[para_athlete['games_country'] == 'Norway']

,games_code,games_year,games_city,City_latitude,City_longitude,games_country,Country_latitude,Country_longitude,games_continent,games_start,...,event_venue,events,npcs,athletes,event,medal,part_country,npc_name_latitude,npc_name_longitude,athlete_name
1580,PG1994,1994,Lillehammer,61.1153,10.4662,Norway,60.472024,8.468946,Europe,10 March,...,NaN,66.0,24.0,220.0,Men's Giant Slalom LW9,Bronze,Australia,-25.274398,133.775136,PATTERSON J
1581,PG1994,1994,Lillehammer,61.1153,10.4662,Norway,60.472024,8.468946,Europe,10 March,...,NaN,66.0,24.0,220.0,Men's Giant Slalom LWXI,Bronze,Australia,-25.274398,133.775136,MUNK D
1582,PG1994,1994,Lillehammer,61.1153,10.4662,Norway,60.472024,8.468946,Europe,10 March,...,NaN,66.0,24.0,220.0,Men's Super-G LW2,Bronze,Australia,-25.274398,133.775136,MILTON M
1583,PG1994,1994,Lillehammer,61.1153,10.4662,Norway,60.472024,8.468946,Europe,10 March,...,NaN,66.0,24.0,220.0,Men's Downhill LW2,Bronze,Australia,-25.274398,133.775136,MILTON M
1584,PG1994,1994,Lillehammer,61.1153,10.4662,Norway,60.472024,8.468946,Europe,10 March,...,NaN,66.0,24.0,220.0,Men's Slalom LW2,Silver,Australia,-25.274398,133.775136,MILTON M
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28416,PG1994,1994,Lillehammer,61.1153,10.4662,Norway,60.472024,8.468946,Europe,10 March,...,NaN,66.0,24.0,220.0,Women's Downhill LWX-XII,Gold,United States,37.090240,-95.712891,WILL S
28417,PG1994,1994,Lillehammer,61.1153,10.4662,Norway,60.472024,8.468946,Europe,10 March,...,NaN,48.0,25.0,176.0,Women's 5 km Free Technique B1,Bronze,United States,37.090240,-95.712891,DROLET M
28418,PG1994,1994,Lillehammer,61.1153,10.4662,Norway,60.472024,8.468946,Europe,10 March,...,NaN,48.0,25.0,176.0,Men's 5 km Sitski LW10,Silver,United States,37.090240,-95.712891,PAGELS J
28419,PG1994,1994,Lillehammer,61.1153,10.4662,Norway,60.472024,8.468946,Europe,10 March,...,NaN,48.0,25.0,176.0,Men's 10 km Sitski LW10,Silver,United States,37.090240,-95.712891,PAGELS J
28420,PG1994,1994,Lillehammer,61.1153,10.4662,Norway,60.472024,8.468946,Europe,10 March,...,NaN,48.0,25.0,176.0,Men's 15 km Sitski LW10,Silver,United States,37.090240,-95.712891,PAGELS J