# Working with data structures

There are four basic data structures in python, List, Set, Tuple and Dict

In [3]:
My_tuple = ('Goat', 'cow', 1, 'Ram')

print(My_tuple)

('Goat', 'cow', 1, 'Ram')

In [4]:
My_tuple[2]

1

In [5]:
My_tuple

('Goat', 'cow', 1, 'Ram')

In [6]:
My_list = ['Goat', 'cow', 1, 'Ram']

print(My_list)

['Goat', 'cow', 1, 'Ram']

In [7]:
My_list[2] = 'Chicken'

In [8]:
My_list

['Goat', 'cow', 'Chicken', 'Ram']

Working with tuples

In [9]:
##creating tuples
""" tuples are characterized by parenthesis
"""

my_tuple = 'jae', 'Johnny', 'Dannyboy', 'Hardly', 'chase'
my_tuple2 = ('jae', 'Johnny', 'Dannyboy', 'Hardly', 'chase')
#creating a tuple from a list
my_tuple3 = (['jae', 'Johnny', 'Dannyboy', 'Hardly', 'chase'])

print(my_tuple)
print(my_tuple2)
print(my_tuple3)

('jae', 'Johnny', 'Dannyboy', 'Hardly', 'chase')
('jae', 'Johnny', 'Dannyboy', 'Hardly', 'chase')
['jae', 'Johnny', 'Dannyboy', 'Hardly', 'chase']

In [10]:
#accessing the contents of a tuple
a = my_tuple[1]
b = my_tuple[2]
c = my_tuple[3]

print(a)
print(b)
print(c)

Johnny
Dannyboy
Hardly

In [11]:
##slicing a tuple

d = my_tuple[-2:]
e = my_tuple[1::5]
f = my_tuple[:-2]

print(d)
print(e)
print(f)

('Hardly', 'chase')
('Johnny',)
('jae', 'Johnny', 'Dannyboy')

In [12]:
f = f + ('Lion', 'Tiger')

print(f)

('jae', 'Johnny', 'Dannyboy', 'Lion', 'Tiger')

In [13]:
j = f + ('Lion', 'Tiger', 'Corn', 'Bag')

print(j)

('jae', 'Johnny', 'Dannyboy', 'Lion', 'Tiger', 'Lion', 'Tiger', 'Corn', 'Bag')

In [14]:
#finding the length of a tuple
len(j)

9

In [15]:
#counting the occurrence of an item in a tuple
j.count('Lion')

2

In [16]:
j.count('Tiger')

2

In [17]:
my_tuple[1:3]

('Johnny', 'Dannyboy')

In [18]:
My_list.append('Joy')

In [19]:
My_list.append('Joy')

In [20]:
My_list

['Goat', 'cow', 'Chicken', 'Ram', 'Joy', 'Joy']

In [21]:
fruit_summer = ('peach', 'apricot', 'plum')
fruit_winter = ('lemon', 'orange', 'grapefruit')

print(fruit_summer)
print(fruit_winter)

('peach', 'apricot', 'plum')
('lemon', 'orange', 'grapefruit')

In [22]:
all_fruit = fruit_summer + fruit_winter

print(all_fruit)

('peach', 'apricot', 'plum', 'lemon', 'orange', 'grapefruit')

In [23]:
all_fruit.count('peach')

1

In [25]:
# assigning contents of a tuple to individual variables aka unpacking
combined_info = ('yellow', 5, 'lemon')

color, age, fruit = combined_info

print(f'color, {color}')
print(f'age, {age}')
print(f'fruit, {fruit}')

color, yellow
age, 5
fruit, lemon

In [27]:
#here i test the key and value pair
print(f'color')
print(f'{color}')

color
yellow

In [28]:
#if i am to print the keys 

print(f'color')
print(f'age')
print(f'fruit')

color
age
fruit

In [29]:
#printing the values

print(f'{color}')
print(f'{age}')
print(f'{fruit}')

yellow
5
lemon

In [32]:
#creating a nested tuple

myy = ('james', 'Jane',('Fola', 'Rimmi'), 'sarah')
myy

('james', 'Jane', ('Fola', 'Rimmi'), 'sarah')

In [31]:
myy[2]

('Fola', 'Rimmi')