In [8]:
#here we import our datasets
import numpy as np
import pandas as pd

In [9]:
Email_fact_data = pd.read_csv("./Onyx_Data_Email_Fact_table.csv")
Email_fact_data

,Email id,From Name,From seniority,From Department,To Name,To seniority,To Department,Email topic,Date,Sentiment,Is opened?,Device,Within work hours,Within workdays
0,1,Leona McAree,C-level,Executive Management,Elsinore Waterland,Middle level management,Human Resources,Operational Issues,3/14/2024,neutral,opened,desktop,yes,yes
1,2,Leona McAree,C-level,Executive Management,Elsinore Waterland,Middle level management,Human Resources,HR related topics,3/22/2024,positive,opened,mobile,no,yes
2,3,Leona McAree,C-level,Executive Management,Elsinore Waterland,Middle level management,Human Resources,Meeting Scheduling,3/26/2024,neutral,unopened,desktop,yes,yes
3,4,Leona McAree,C-level,Executive Management,Elsinore Waterland,Middle level management,Human Resources,HR related topics,3/11/2024,neutral,opened,mobile,yes,yes
4,5,Leona McAree,C-level,Executive Management,Elsinore Waterland,Middle level management,Human Resources,HR related topics,3/11/2024,positive,opened,mobile,yes,yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1127,1193,Emmey Matoshin,Middle level management,Sales,Blithe Arnaudet,Middle level management,Finance and Accounting,Finance and Accounting,3/28/2024,positive,opened,mobile,yes,yes
1128,1194,Emmey Matoshin,Middle level management,Sales,Blithe Arnaudet,Middle level management,Finance and Accounting,Finance and Accounting,3/7/2024,negative,opened,desktop,yes,yes
1129,1195,Emmey Matoshin,Middle level management,Sales,Blithe Arnaudet,Middle level management,Finance and Accounting,Operational Issues,3/14/2024,neutral,opened,desktop,no,yes
1130,1196,Emmey Matoshin,Middle level management,Sales,Blithe Arnaudet,Middle level management,Finance and Accounting,Meeting Scheduling,3/8/2024,positive,opened,desktop,yes,yes
1131,1197,Emmey Matoshin,Middle level management,Sales,Blithe Arnaudet,Middle level management,Finance and Accounting,Finance and Accounting,3/23/2024,neutral,opened,mobile,no,no

In [10]:
Email_dim = pd.read_csv("./Onyx_Data_Email_Dim_table.txt")
Email_dim

,Name,Department,email,Seniority,Department color,Department aura
0,Leona McAree,Executive Management,leona.mcaree@kochgroup.com,C-level,red,aura1
1,Constancia Di Bartolomeo,Executive Management,constancia.di bartolomeo@kochgroup.com,C-level,red,aura1
2,Corey Scandwright,Executive Management,corey.scandwright@kochgroup.com,C-level,red,aura1
3,Elsinore Waterland,Human Resources,elsinore.waterland@kochgroup.com,Middle level management,yellow,aura2
4,Petronilla Mapes,Human Resources,petronilla.mapes@kochgroup.com,Professional,yellow,aura2
5,Elbertine Dowe,Human Resources,elbertine.dowe@kochgroup.com,Professional,yellow,aura2
6,Blithe Arnaudet,Finance and Accounting,blithe.arnaudet@kochgroup.com,Middle level management,green,aura3
7,Ozzy Jeffries,Finance and Accounting,ozzy.jeffries@kochgroup.com,Professional,green,aura3
8,Constantino FitzGilbert,Finance and Accounting,constantino.fitzgilbert@kochgroup.com,Professional,green,aura3
9,Traci Habbal,Marketing,traci.habbal@kochgroup.com,Middle level management,blue,aura4
10,Roger Tabbernor,Marketing,roger.tabbernor@kochgroup.com,Professional,blue,aura4
11,Lazarus O'Halleghane,Marketing,lazarus.o'halleghane@kochgroup.com,Professional,blue,aura4
12,Karine Barclay,Marketing,karine.barclay@kochgroup.com,Professional,blue,aura4
13,Petronille Jouen,Marketing,petronille.jouen@kochgroup.com,Professional,blue,aura4
14,Dorie Parradine,Marketing,dorie.parradine@kochgroup.com,Professional,blue,aura4
15,Emmey Matoshin,Sales,emmey.matoshin@kochgroup.com,Middle level management,gray,aura5
16,Nelia Routledge,Sales,nelia.routledge@kochgroup.com,Professional,gray,aura5
17,Ferdinande Stickels,Sales,ferdinande.stickels@kochgroup.com,Professional,gray,aura5
18,Tades Querrard,Sales,tades.querrard@kochgroup.com,Professional,gray,aura5
19,Anatole Hansie,Sales,anatole.hansie@kochgroup.com,Professional,gray,aura5
20,Chris Consadine,Sales,chris.consadine@kochgroup.com,Professional,gray,aura5
21,Grace Spracklin,Sales,grace.spracklin@kochgroup.com,Professional,gray,aura5
22,Sumner Blakeway,Sales,sumner.blakeway@kochgroup.com,Professional,gray,aura5
23,Abigael Alred,Information Technology (IT),abigael.alred@kochgroup.com,Middle level management,black,aura6
24,Reina Trobey,Information Technology (IT),reina.trobey@kochgroup.com,Professional,black,aura6
25,Madge Torrejon,Information Technology (IT),madge.torrejon@kochgroup.com,Professional,black,aura6
26,Marilyn Seeman,Information Technology (IT),marilyn.seeman@kochgroup.com,Professional,black,aura6
27,Katina Darter,Information Technology (IT),katina.darter@kochgroup.com,Professional,black,aura6
28,Lynett Amy,Information Technology (IT),lynett.amy@kochgroup.com,Professional,black,aura6
29,Mata McGifford,Customer Service,mata.mcgifford@kochgroup.com,Middle level management,orange,aura7
30,Mort De Benedictis,Customer Service,mort.de benedictis@kochgroup.com,Professional,orange,aura7
31,Tamara Brewitt,Customer Service,tamara.brewitt@kochgroup.com,Professional,orange,aura7
32,Edithe Cinnamond,Customer Service,edithe.cinnamond@kochgroup.com,Professional,orange,aura7
33,Morly Finey,Customer Service,morly.finey@kochgroup.com,Professional,orange,aura7
34,Angie Penticost,Customer Service,angie.penticost@kochgroup.com,Professional,orange,aura7
35,Maribelle Oliver,Customer Service,maribelle.oliver@kochgroup.com,Professional,orange,aura7
36,Jeannie Moggan,Legal,jeannie.moggan@kochgroup.com,Middle level management,purple,aura8
37,Faythe Vassel,Legal,faythe.vassel@kochgroup.com,Professional,purple,aura8
38,Maurine Golding,Legal,maurine.golding@kochgroup.com,Professional,purple,aura8
39,Jorey Deguara,Product development,jorey.deguara@kochgroup.com,Middle level management,brown,aura9
40,Rodrique Coulston,Product development,rodrique.coulston@kochgroup.com,Professional,brown,aura9
41,Lisette Loweth,Product development,lisette.loweth@kochgroup.com,Professional,brown,aura9
42,Minette Southard,Product development,minette.southard@kochgroup.com,Professional,brown,aura9
43,Theressa Tuddall,Product development,theressa.tuddall@kochgroup.com,Professional,brown,aura9
44,Oran Benge,Product development,oran.benge@kochgroup.com,Professional,brown,aura9
45,Maggy Putson,Product development,maggy.putson@kochgroup.com,Professional,brown,aura9
46,Barry Goundsy,Product development,barry.goundsy@kochgroup.com,Professional,brown,aura9

In [11]:
#now we proceed to identifying anormaies in our dataset 

""" we look out for duplicate records
missing values
formatting"""

' we look out for duplicate records\nmissing values\nformatting'

In [12]:
Email_fact_data.drop_duplicates()

,Email id,From Name,From seniority,From Department,To Name,To seniority,To Department,Email topic,Date,Sentiment,Is opened?,Device,Within work hours,Within workdays
0,1,Leona McAree,C-level,Executive Management,Elsinore Waterland,Middle level management,Human Resources,Operational Issues,3/14/2024,neutral,opened,desktop,yes,yes
1,2,Leona McAree,C-level,Executive Management,Elsinore Waterland,Middle level management,Human Resources,HR related topics,3/22/2024,positive,opened,mobile,no,yes
2,3,Leona McAree,C-level,Executive Management,Elsinore Waterland,Middle level management,Human Resources,Meeting Scheduling,3/26/2024,neutral,unopened,desktop,yes,yes
3,4,Leona McAree,C-level,Executive Management,Elsinore Waterland,Middle level management,Human Resources,HR related topics,3/11/2024,neutral,opened,mobile,yes,yes
4,5,Leona McAree,C-level,Executive Management,Elsinore Waterland,Middle level management,Human Resources,HR related topics,3/11/2024,positive,opened,mobile,yes,yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1127,1193,Emmey Matoshin,Middle level management,Sales,Blithe Arnaudet,Middle level management,Finance and Accounting,Finance and Accounting,3/28/2024,positive,opened,mobile,yes,yes
1128,1194,Emmey Matoshin,Middle level management,Sales,Blithe Arnaudet,Middle level management,Finance and Accounting,Finance and Accounting,3/7/2024,negative,opened,desktop,yes,yes
1129,1195,Emmey Matoshin,Middle level management,Sales,Blithe Arnaudet,Middle level management,Finance and Accounting,Operational Issues,3/14/2024,neutral,opened,desktop,no,yes
1130,1196,Emmey Matoshin,Middle level management,Sales,Blithe Arnaudet,Middle level management,Finance and Accounting,Meeting Scheduling,3/8/2024,positive,opened,desktop,yes,yes
1131,1197,Emmey Matoshin,Middle level management,Sales,Blithe Arnaudet,Middle level management,Finance and Accounting,Finance and Accounting,3/23/2024,neutral,opened,mobile,no,no

In [13]:
Email_fact_data[Email_fact_data.isnull() == True]

,Email id,From Name,From seniority,From Department,To Name,To seniority,To Department,Email topic,Date,Sentiment,Is opened?,Device,Within work hours,Within workdays
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1127,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1128,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1129,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1130,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1131,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
#modify column names

In [15]:
Email_fact_data.columns

Index(['Email id', 'From Name', 'From seniority', 'From Department', 'To Name',
       'To seniority', 'To Department', 'Email topic', 'Date', 'Sentiment',
       'Is opened?', 'Device', 'Within work hours', 'Within workdays'],
      dtype='object')

In [16]:
#we standardize our column names

New_columns = ['Email_id', 'Sender_Name', 'Sender_cadre', 'Sender_dept', 'Rec_name',
       'Rec_cadre', 'Rec_dept', 'Email_subject', 'Msg_Date', 'Sentiment',
       'Msg_status', 'Device', 'Within_work_hrs', 'Within_workdays']

Email_fact_data.columns = New_columns

In [17]:
Email_fact_data

,Email_id,Sender_Name,Sender_cadre,Sender_dept,Rec_name,Rec_cadre,Rec_dept,Email_subject,Msg_Date,Sentiment,Msg_status,Device,Within_work_hrs,Within_workdays
0,1,Leona McAree,C-level,Executive Management,Elsinore Waterland,Middle level management,Human Resources,Operational Issues,3/14/2024,neutral,opened,desktop,yes,yes
1,2,Leona McAree,C-level,Executive Management,Elsinore Waterland,Middle level management,Human Resources,HR related topics,3/22/2024,positive,opened,mobile,no,yes
2,3,Leona McAree,C-level,Executive Management,Elsinore Waterland,Middle level management,Human Resources,Meeting Scheduling,3/26/2024,neutral,unopened,desktop,yes,yes
3,4,Leona McAree,C-level,Executive Management,Elsinore Waterland,Middle level management,Human Resources,HR related topics,3/11/2024,neutral,opened,mobile,yes,yes
4,5,Leona McAree,C-level,Executive Management,Elsinore Waterland,Middle level management,Human Resources,HR related topics,3/11/2024,positive,opened,mobile,yes,yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1127,1193,Emmey Matoshin,Middle level management,Sales,Blithe Arnaudet,Middle level management,Finance and Accounting,Finance and Accounting,3/28/2024,positive,opened,mobile,yes,yes
1128,1194,Emmey Matoshin,Middle level management,Sales,Blithe Arnaudet,Middle level management,Finance and Accounting,Finance and Accounting,3/7/2024,negative,opened,desktop,yes,yes
1129,1195,Emmey Matoshin,Middle level management,Sales,Blithe Arnaudet,Middle level management,Finance and Accounting,Operational Issues,3/14/2024,neutral,opened,desktop,no,yes
1130,1196,Emmey Matoshin,Middle level management,Sales,Blithe Arnaudet,Middle level management,Finance and Accounting,Meeting Scheduling,3/8/2024,positive,opened,desktop,yes,yes
1131,1197,Emmey Matoshin,Middle level management,Sales,Blithe Arnaudet,Middle level management,Finance and Accounting,Finance and Accounting,3/23/2024,neutral,opened,mobile,no,no

In [18]:
#now we fix the date column
Email_fact_data['Msg_Date'] = pd.to_datetime(Email_fact_data['Msg_Date'])
Email_fact_data

,Email_id,Sender_Name,Sender_cadre,Sender_dept,Rec_name,Rec_cadre,Rec_dept,Email_subject,Msg_Date,Sentiment,Msg_status,Device,Within_work_hrs,Within_workdays
0,1,Leona McAree,C-level,Executive Management,Elsinore Waterland,Middle level management,Human Resources,Operational Issues,2024-03-14,neutral,opened,desktop,yes,yes
1,2,Leona McAree,C-level,Executive Management,Elsinore Waterland,Middle level management,Human Resources,HR related topics,2024-03-22,positive,opened,mobile,no,yes
2,3,Leona McAree,C-level,Executive Management,Elsinore Waterland,Middle level management,Human Resources,Meeting Scheduling,2024-03-26,neutral,unopened,desktop,yes,yes
3,4,Leona McAree,C-level,Executive Management,Elsinore Waterland,Middle level management,Human Resources,HR related topics,2024-03-11,neutral,opened,mobile,yes,yes
4,5,Leona McAree,C-level,Executive Management,Elsinore Waterland,Middle level management,Human Resources,HR related topics,2024-03-11,positive,opened,mobile,yes,yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1127,1193,Emmey Matoshin,Middle level management,Sales,Blithe Arnaudet,Middle level management,Finance and Accounting,Finance and Accounting,2024-03-28,positive,opened,mobile,yes,yes
1128,1194,Emmey Matoshin,Middle level management,Sales,Blithe Arnaudet,Middle level management,Finance and Accounting,Finance and Accounting,2024-03-07,negative,opened,desktop,yes,yes
1129,1195,Emmey Matoshin,Middle level management,Sales,Blithe Arnaudet,Middle level management,Finance and Accounting,Operational Issues,2024-03-14,neutral,opened,desktop,no,yes
1130,1196,Emmey Matoshin,Middle level management,Sales,Blithe Arnaudet,Middle level management,Finance and Accounting,Meeting Scheduling,2024-03-08,positive,opened,desktop,yes,yes
1131,1197,Emmey Matoshin,Middle level management,Sales,Blithe Arnaudet,Middle level management,Finance and Accounting,Finance and Accounting,2024-03-23,neutral,opened,mobile,no,no

In [19]:
#we move on to clean our second table

Email_dim.head()

,Name,Department,email,Seniority,Department color,Department aura
0,Leona McAree,Executive Management,leona.mcaree@kochgroup.com,C-level,red,aura1
1,Constancia Di Bartolomeo,Executive Management,constancia.di bartolomeo@kochgroup.com,C-level,red,aura1
2,Corey Scandwright,Executive Management,corey.scandwright@kochgroup.com,C-level,red,aura1
3,Elsinore Waterland,Human Resources,elsinore.waterland@kochgroup.com,Middle level management,yellow,aura2
4,Petronilla Mapes,Human Resources,petronilla.mapes@kochgroup.com,Professional,yellow,aura2

In [20]:
Email_dim.columns

Index(['Name', 'Department', 'email', 'Seniority', 'Department color',
       'Department aura'],
      dtype='object')

In [21]:
Email_dim.rename(columns={'Department color': 'Dept_color'}, inplace = True)

In [22]:
Email_dim.rename(columns={'Department aura': 'Dept_aura'},inplace= True )

Email_dim.head()

,Name,Department,email,Seniority,Dept_color,Dept_aura
0,Leona McAree,Executive Management,leona.mcaree@kochgroup.com,C-level,red,aura1
1,Constancia Di Bartolomeo,Executive Management,constancia.di bartolomeo@kochgroup.com,C-level,red,aura1
2,Corey Scandwright,Executive Management,corey.scandwright@kochgroup.com,C-level,red,aura1
3,Elsinore Waterland,Human Resources,elsinore.waterland@kochgroup.com,Middle level management,yellow,aura2
4,Petronilla Mapes,Human Resources,petronilla.mapes@kochgroup.com,Professional,yellow,aura2

In [23]:
#now we start our analysis

#total email sent

tot_emails = Email_fact_data['Email_id'].count()
tot_emails
print('total emails for the month of March is:', tot_emails)

total emails for the month of March is: 1132

In [24]:
#emails sent by dept
email_by_dept = Email_fact_data['Sender_dept'].value_counts().sort_values(ascending= False)
email_by_dept

Sender_dept
Executive Management           287
Marketing                      146
Product development            133
Sales                          128
Information Technology (IT)    120
Legal                          117
Customer Service               105
Finance and Accounting          57
Human Resources                 39
Name: count, dtype: int64

In [25]:
#emails sent by cadre

email_by_cadre = Email_fact_data[['Sender_cadre']].value_counts().sort_values(ascending= False)
email_by_cadre

Sender_cadre
Professional               500
Middle level management    345
C-level                    287
Name: count, dtype: int64

In [26]:
#emails recieved by cadre
email_rec_by_cadre = Email_fact_data[['Rec_cadre']].value_counts().sort_values(ascending= False)
email_rec_by_cadre

Rec_cadre
Professional               649
Middle level management    435
C-level                     48
Name: count, dtype: int64

In [27]:
#we assign our dataset to a new variable

email_fact = Email_fact_data

In [28]:
#total emails sent by days
#first we extract days from our date column

email_by_days = Email_fact_data['Msg_Date'].value_counts().sort_index(ascending= True)
email_by_days

Msg_Date
2024-03-01    23
2024-03-02     9
2024-03-03     2
2024-03-04    27
2024-03-05    52
2024-03-06    51
2024-03-07    61
2024-03-08    47
2024-03-11    49
2024-03-12    66
2024-03-13    70
2024-03-14    77
2024-03-15    66
2024-03-16     7
2024-03-17     5
2024-03-18    49
2024-03-19    34
2024-03-20    46
2024-03-21    41
2024-03-22    39
2024-03-23    11
2024-03-24     7
2024-03-25    49
2024-03-26    53
2024-03-27    53
2024-03-28    51
2024-03-29    62
2024-03-30    16
2024-03-31     9
Name: count, dtype: int64

In [29]:
pd.set_option('display.max_rows', 31 )

In [30]:
#now we shall expand our fact table to include the following columns
"""day_name = this gives us the name of the day in the week, 
week_no"""

#day_name

Email_fact_data['day_name'] = Email_fact_data['Msg_Date'].dt.day_name()
Email_fact_data

#next we shall create a custom funcdtion to enable us get the week no

#first we define our function
def week_of_month(dt):
    #next we extract the first day of the month
    first_day = dt.replace(day = 1)
    dom = dt.day
    adjusted_dom = first_day.weekday() + dom
    return  int(np.ceil(adjusted_dom/7.0))



#week_no
week_extract = Email_fact_data['Msg_Date'].apply(week_of_month)
Email_fact_data['Week_of_month'] = 'week' + ' ' + week_extract.astype(str)
Email_fact_data

,Email_id,Sender_Name,Sender_cadre,Sender_dept,Rec_name,Rec_cadre,Rec_dept,Email_subject,Msg_Date,Sentiment,Msg_status,Device,Within_work_hrs,Within_workdays,day_name,Week_of_month
0,1,Leona McAree,C-level,Executive Management,Elsinore Waterland,Middle level management,Human Resources,Operational Issues,2024-03-14,neutral,opened,desktop,yes,yes,Thursday,week 3
1,2,Leona McAree,C-level,Executive Management,Elsinore Waterland,Middle level management,Human Resources,HR related topics,2024-03-22,positive,opened,mobile,no,yes,Friday,week 4
2,3,Leona McAree,C-level,Executive Management,Elsinore Waterland,Middle level management,Human Resources,Meeting Scheduling,2024-03-26,neutral,unopened,desktop,yes,yes,Tuesday,week 5
3,4,Leona McAree,C-level,Executive Management,Elsinore Waterland,Middle level management,Human Resources,HR related topics,2024-03-11,neutral,opened,mobile,yes,yes,Monday,week 3
4,5,Leona McAree,C-level,Executive Management,Elsinore Waterland,Middle level management,Human Resources,HR related topics,2024-03-11,positive,opened,mobile,yes,yes,Monday,week 3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1127,1193,Emmey Matoshin,Middle level management,Sales,Blithe Arnaudet,Middle level management,Finance and Accounting,Finance and Accounting,2024-03-28,positive,opened,mobile,yes,yes,Thursday,week 5
1128,1194,Emmey Matoshin,Middle level management,Sales,Blithe Arnaudet,Middle level management,Finance and Accounting,Finance and Accounting,2024-03-07,negative,opened,desktop,yes,yes,Thursday,week 2
1129,1195,Emmey Matoshin,Middle level management,Sales,Blithe Arnaudet,Middle level management,Finance and Accounting,Operational Issues,2024-03-14,neutral,opened,desktop,no,yes,Thursday,week 3
1130,1196,Emmey Matoshin,Middle level management,Sales,Blithe Arnaudet,Middle level management,Finance and Accounting,Meeting Scheduling,2024-03-08,positive,opened,desktop,yes,yes,Friday,week 2
1131,1197,Emmey Matoshin,Middle level management,Sales,Blithe Arnaudet,Middle level management,Finance and Accounting,Finance and Accounting,2024-03-23,neutral,opened,mobile,no,no,Saturday,week 4

In [35]:
#now we shall look at the number of emails by days and week
email_days = Email_fact_data['day_name'].explode().value_counts().sort_values(ascending = False)
email_days

day_name
Friday       237
Thursday     230
Wednesday    220
Tuesday      205
Monday       174
Saturday      43
Sunday        23
Name: count, dtype: int64

In [52]:
Email_fact_data.sort_index()
day_week = Email_fact_data.groupby(['Week_of_month', 'day_name']).size()
day_week

Week_of_month  day_name
week 1         Friday       23
               Saturday      9
               Sunday        2
week 2         Friday       47
               Monday       27
               Thursday     61
               Tuesday      52
               Wednesday    51
week 3         Friday       66
               Monday       49
               Saturday      7
               Sunday        5
               Thursday     77
               Tuesday      66
               Wednesday    70
week 4         Friday       39
               Monday       49
               Saturday     11
               Sunday        7
               Thursday     41
               Tuesday      34
               Wednesday    46
week 5         Friday       62
               Monday       49
               Saturday     16
               Sunday        9
               Thursday     51
               Tuesday      53
               Wednesday    53
dtype: int64