In [85]:
import numpy as np
import pandas as pd

In [86]:
Fin_data = pd.read_excel('./Fin_data_01.xlsx')
Fin_data

,Year,Month - name,Month -sequence,Date,Business Line,"Amount, $",Expense subgroup,Revenue / Expense Group,Revenue or expense
0,2023,January,1,2023-01-31,Nutrition and Food Supplements,153000,NaN,Sales,Revenue
1,2023,January,1,2023-01-31,Nutrition and Food Supplements,27000,NaN,Consulting and professional services,Revenue
2,2023,January,1,2023-01-31,Nutrition and Food Supplements,6000,NaN,Other income,Revenue
3,2023,January,1,2023-01-31,Nutrition and Food Supplements,-15000,Rent,Opex,Expense
4,2023,January,1,2023-01-31,Nutrition and Food Supplements,-9000,Equipment,Opex,Expense
...,...,...,...,...,...,...,...,...,...
575,2023,December,1,2023-12-31,Sportswear,-4000,Packaging,COGS,Expense
576,2023,December,1,2023-12-31,Sportswear,-7000,Shipping,COGS,Expense
577,2023,December,1,2023-12-31,Sportswear,-9000,Sales,COGS,Expense
578,2023,December,1,2023-12-31,Sportswear,-110000,Labor,COGS,Expense
579,2023,December,1,2023-12-31,Sportswear,-7000,Other,COGS,Expense

In [87]:
Fin_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 580 entries, 0 to 579
Data columns (total 9 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Year                     580 non-null    int64
 1   Month - name             580 non-null    object
 2   Month -sequence          580 non-null    int64
 3   Date                     580 non-null    datetime64[ns]
 4   Business Line            580 non-null    object
 5   Amount, $                580 non-null    int64
 6   Expense subgroup         468 non-null    object
 7   Revenue / Expense Group  580 non-null    object
 8   Revenue or expense       580 non-null    object
dtypes: datetime64[ns](1), int64(3), object(5)
memory usage: 40.9+ KB

In [88]:
Fin_data.describe()

         Year  Month -sequence                           Date      Amount, $
count   580.0            580.0                            580     580.000000
mean   2023.0              1.0  2023-07-15 01:49:14.482758656    7438.137931
min    2023.0              1.0            2023-01-31 00:00:00 -234000.000000
25%    2023.0              1.0            2023-03-31 00:00:00  -30000.000000
50%    2023.0              1.0            2023-06-30 00:00:00  -10800.000000
75%    2023.0              1.0            2023-09-30 00:00:00   -1800.000000
max    2023.0              1.0            2023-12-31 00:00:00  750000.000000
std       0.0              0.0                            NaN  118699.587071

In [89]:
Fin_data.columns

Index(['Year', 'Month - name', 'Month -sequence', 'Date', 'Business Line',
       'Amount, $', 'Expense subgroup', 'Revenue / Expense Group',
       'Revenue or expense'],
      dtype='object')

In [90]:
#Now we shall rename columns

Fin_data.rename(columns= {'Month - name': 'Month_name'}, inplace= True)

In [91]:
Fin_data.rename(columns= {'Month -sequence' : 'Month_sequence', 'Amount, $': 'Amount', 'Expense subgroup' : 'Expense_subgroup', 'Revenue or expense' : 'Rev_or_exp'
                          , 'Revenue / Expense Group' : 'Rev_exp_group','Business Line': 'Biz_line' }, inplace= True)

In [92]:
#now we extract week from date 

def week_of_mon(col):
    first_day_of_mon = col.replace(day = 1)
    dom = col.day
    adjusted_dom = first_day_of_mon.weekday() + dom
    return int(np.ceil(adjusted_dom)/7)

Fin_data['week'] = Fin_data['Date'].apply(week_of_mon)

In [77]:
Fin_data['week'] = 'week' + ' ' + Fin_data['week'].astype(str)

Fin_data

,Year,Month_name,Month_sequence,Date,Biz_line,Amount,Expense_subgroup,Rev_exp_group,Rev_or_exp,week
0,2023,January,1,2023-01-31,Nutrition and Food Supplements,153000,NaN,Sales,Revenue,week 5
1,2023,January,1,2023-01-31,Nutrition and Food Supplements,27000,NaN,Consulting and professional services,Revenue,week 5
2,2023,January,1,2023-01-31,Nutrition and Food Supplements,6000,NaN,Other income,Revenue,week 5
3,2023,January,1,2023-01-31,Nutrition and Food Supplements,-15000,Rent,Opex,Expense,week 5
4,2023,January,1,2023-01-31,Nutrition and Food Supplements,-9000,Equipment,Opex,Expense,week 5
...,...,...,...,...,...,...,...,...,...,...
575,2023,December,1,2023-12-31,Sportswear,-4000,Packaging,COGS,Expense,week 5
576,2023,December,1,2023-12-31,Sportswear,-7000,Shipping,COGS,Expense,week 5
577,2023,December,1,2023-12-31,Sportswear,-9000,Sales,COGS,Expense,week 5
578,2023,December,1,2023-12-31,Sportswear,-110000,Labor,COGS,Expense,week 5
579,2023,December,1,2023-12-31,Sportswear,-7000,Other,COGS,Expense,week 5

In [99]:
Fin_data['mon_day'] = Fin_data['Date'].dt.day

Fin_data['week_day'] = Fin_data['Date'].dt.day_name()

In [102]:
Fin_data.head()

,Year,Month_name,Month_sequence,Date,Biz_line,Amount,Expense_subgroup,Rev_exp_group,Rev_or_exp,week,mon_day,week_day
0,2023,January,1,2023-01-31,Nutrition and Food Supplements,153000,NaN,Sales,Revenue,5,31,Tuesday
1,2023,January,1,2023-01-31,Nutrition and Food Supplements,27000,NaN,Consulting and professional services,Revenue,5,31,Tuesday
2,2023,January,1,2023-01-31,Nutrition and Food Supplements,6000,NaN,Other income,Revenue,5,31,Tuesday
3,2023,January,1,2023-01-31,Nutrition and Food Supplements,-15000,Rent,Opex,Expense,5,31,Tuesday
4,2023,January,1,2023-01-31,Nutrition and Food Supplements,-9000,Equipment,Opex,Expense,5,31,Tuesday

In [53]:
Fin_data['Expense_subgroup'].value_counts()

Expense_subgroup
Other               72
Rent                36
Marketing           36
Equipment           36
Payroll             36
R&D                 36
Materials           36
Packaging           36
Shipping            36
Sales               36
Labor               36
Interest and tax    36
Name: count, dtype: int64

In [54]:
#here we pull data for expenses only

rev_only = Fin_data.query('Rev_or_exp == "Revenue"')
total_rev = rev_only['Amount'].sum()
total_rev

np.int64(17559820)

In [55]:
#now we look into total_expense

exp_only = Fin_data.query('Rev_or_exp == "Expense"')
exp_only
total_exp = exp_only['Amount'].sum()
total_exp

np.int64(-13245700)

In [56]:
Fin_data['Rev_exp_group'].value_counts()

Rev_exp_group
COGS                                    216
Opex                                    216
Other income                             40
Sales                                    36
Consulting and professional services     36
Interest and tax                         36
Name: count, dtype: int64

In [57]:
Fin_data['Rev_or_exp'].value_counts()

Rev_or_exp
Expense    468
Revenue    112
Name: count, dtype: int64

In [58]:
#Now we import our data dict
data_dict = pd.read_excel('./Fin_data_01.xlsx', sheet_name= 'dictionary')
data_dict

,Year,Year of revenue/expense
0,Month - name,Month of revenue/expense
1,Month -sequence,"Month of revenue/expense, expressed as number"
2,Date,"Date of revenue/expense, expressed as the last..."
3,Business Line,Business line generating revenue / expense (Sp...
4,"Amount, $",Revenue or expense amount in USD
5,Expense subgroup,Additional subgroups categorizing expenses ass...
6,Income / Expense Group,Subcategory of revenue / expense. Revenue subc...
7,Income or expense,Column indicating if associated amount is reve...
8,NaN,NaN
9,NaN,NaN
10,Example of calculations within an Income State...,NaN
11,Revenue (sum of all revenue groups),100000
12,COGS (sum of all costs of good sold),20000
13,Gross Profit (Revenue - COGS),80000
14,OPEX (sum of all operating expense),30000
15,EBIT (Gross profit - OPEX),50000
16,Interest and Tax,15000
17,Net profit (EBIT - Interest and Tax),35000

In [59]:
Fin_data.query('Rev_exp_group == "COGS"')

,Year,Month_name,Month_sequence,Date,Biz_line,Amount,Expense_subgroup,Rev_exp_group,Rev_or_exp,week
9,2023,January,1,2023-01-31,Nutrition and Food Supplements,-20000,Materials,COGS,Expense,5
10,2023,January,1,2023-01-31,Nutrition and Food Supplements,-1200,Packaging,COGS,Expense,5
11,2023,January,1,2023-01-31,Nutrition and Food Supplements,-2700,Shipping,COGS,Expense,5
12,2023,January,1,2023-01-31,Nutrition and Food Supplements,-3000,Sales,COGS,Expense,5
13,2023,January,1,2023-01-31,Nutrition and Food Supplements,-65000,Labor,COGS,Expense,5
...,...,...,...,...,...,...,...,...,...,...
575,2023,December,1,2023-12-31,Sportswear,-4000,Packaging,COGS,Expense,5
576,2023,December,1,2023-12-31,Sportswear,-7000,Shipping,COGS,Expense,5
577,2023,December,1,2023-12-31,Sportswear,-9000,Sales,COGS,Expense,5
578,2023,December,1,2023-12-31,Sportswear,-110000,Labor,COGS,Expense,5
579,2023,December,1,2023-12-31,Sportswear,-7000,Other,COGS,Expense,5

In [106]:
Fin_data[['Biz_line', 'Expense_subgroup', 'Amount', 'Rev_exp_group']]

,Biz_line,Expense_subgroup,Amount,Rev_exp_group
0,Nutrition and Food Supplements,NaN,153000,Sales
1,Nutrition and Food Supplements,NaN,27000,Consulting and professional services
2,Nutrition and Food Supplements,NaN,6000,Other income
3,Nutrition and Food Supplements,Rent,-15000,Opex
4,Nutrition and Food Supplements,Equipment,-9000,Opex
...,...,...,...,...
575,Sportswear,Packaging,-4000,COGS
576,Sportswear,Shipping,-7000,COGS
577,Sportswear,Sales,-9000,COGS
578,Sportswear,Labor,-110000,COGS
579,Sportswear,Other,-7000,COGS

In [109]:
Fin_data.query('`Rex_exp_group` =="Opex"')[['Biz_line', 'Expense_subgroup', 'Amount', 'Rev_exp_group']]

UndefinedVariableError: name 'Rex_exp_group' is not defined