In [4]:
import numpy as np
import pandas as pd
#import seaborn as sns
import matplotlib.pyplot as plt

In [5]:
Fin_data = pd.read_excel('./Fin_data_01.xlsx')
Fin_data

,Year,Month - name,Month -sequence,Date,Business Line,"Amount, $",Expense subgroup,Revenue / Expense Group,Revenue or expense
0,2023,January,1,2023-01-31,Nutrition and Food Supplements,153000,NaN,Sales,Revenue
1,2023,January,1,2023-01-31,Nutrition and Food Supplements,27000,NaN,Consulting and professional services,Revenue
2,2023,January,1,2023-01-31,Nutrition and Food Supplements,6000,NaN,Other income,Revenue
3,2023,January,1,2023-01-31,Nutrition and Food Supplements,-15000,Rent,Opex,Expense
4,2023,January,1,2023-01-31,Nutrition and Food Supplements,-9000,Equipment,Opex,Expense
...,...,...,...,...,...,...,...,...,...
575,2023,December,1,2023-12-31,Sportswear,-4000,Packaging,COGS,Expense
576,2023,December,1,2023-12-31,Sportswear,-7000,Shipping,COGS,Expense
577,2023,December,1,2023-12-31,Sportswear,-9000,Sales,COGS,Expense
578,2023,December,1,2023-12-31,Sportswear,-110000,Labor,COGS,Expense
579,2023,December,1,2023-12-31,Sportswear,-7000,Other,COGS,Expense

In [6]:
Fin_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 580 entries, 0 to 579
Data columns (total 9 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Year                     580 non-null    int64
 1   Month - name             580 non-null    object
 2   Month -sequence          580 non-null    int64
 3   Date                     580 non-null    datetime64[ns]
 4   Business Line            580 non-null    object
 5   Amount, $                580 non-null    int64
 6   Expense subgroup         468 non-null    object
 7   Revenue / Expense Group  580 non-null    object
 8   Revenue or expense       580 non-null    object
dtypes: datetime64[ns](1), int64(3), object(5)
memory usage: 40.9+ KB

In [7]:
Fin_data.describe()

         Year  Month -sequence                           Date      Amount, $
count   580.0            580.0                            580     580.000000
mean   2023.0              1.0  2023-07-15 01:49:14.482758656    7438.137931
min    2023.0              1.0            2023-01-31 00:00:00 -234000.000000
25%    2023.0              1.0            2023-03-31 00:00:00  -30000.000000
50%    2023.0              1.0            2023-06-30 00:00:00  -10800.000000
75%    2023.0              1.0            2023-09-30 00:00:00   -1800.000000
max    2023.0              1.0            2023-12-31 00:00:00  750000.000000
std       0.0              0.0                            NaN  118699.587071

In [8]:
Fin_data.columns

Index(['Year', 'Month - name', 'Month -sequence', 'Date', 'Business Line',
       'Amount, $', 'Expense subgroup', 'Revenue / Expense Group',
       'Revenue or expense'],
      dtype='object')

In [9]:
#Now we shall rename columns

Fin_data.rename(columns= {'Month - name': 'Month_name'}, inplace= True)

In [10]:
Fin_data.rename(columns= {'Month -sequence' : 'Month_sequence', 'Amount, $': 'Amount', 'Expense subgroup' : 'Expense_subgroup', 'Revenue or expense' : 'Rev_or_exp'
                          , 'Revenue / Expense Group' : 'Rev_exp_group','Business Line': 'Biz_line' }, inplace= True)

In [11]:
#now we extract week from date 

def week_of_mon(col):
    first_day_of_mon = col.replace(day = 1)
    dom = col.day
    adjusted_dom = first_day_of_mon.weekday() + dom
    return int(np.ceil(adjusted_dom)/7)

Fin_data['week'] = Fin_data['Date'].apply(week_of_mon)

In [45]:
Fin_data['week'] = 'week' + ' ' + Fin_data['week'].astype(str)
Fin_data['Quarter'] = Fin_data['Date'].dt.quarter
Fin_data['Quarter'] = 'qtr ' + Fin_data['Quarter'].astype(str)
Fin_data['mon_no'] = Fin_data['Date'].dt.month

Fin_data

,Year,Month_name,Month_sequence,Date,Biz_line,Amount,Expense_subgroup,Rev_exp_group,Rev_or_exp,week,Quarter,mon_day,week_day,mon_no
0,2023,January,1,2023-01-31,Nutrition and Food Supplements,153000,NaN,Sales,Revenue,week week 5,qtr 1,31,Tuesday,1
1,2023,January,1,2023-01-31,Nutrition and Food Supplements,27000,NaN,Consulting and professional services,Revenue,week week 5,qtr 1,31,Tuesday,1
2,2023,January,1,2023-01-31,Nutrition and Food Supplements,6000,NaN,Other income,Revenue,week week 5,qtr 1,31,Tuesday,1
3,2023,January,1,2023-01-31,Nutrition and Food Supplements,-15000,Rent,Opex,Expense,week week 5,qtr 1,31,Tuesday,1
4,2023,January,1,2023-01-31,Nutrition and Food Supplements,-9000,Equipment,Opex,Expense,week week 5,qtr 1,31,Tuesday,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
575,2023,December,1,2023-12-31,Sportswear,-4000,Packaging,COGS,Expense,week week 5,qtr 4,31,Sunday,12
576,2023,December,1,2023-12-31,Sportswear,-7000,Shipping,COGS,Expense,week week 5,qtr 4,31,Sunday,12
577,2023,December,1,2023-12-31,Sportswear,-9000,Sales,COGS,Expense,week week 5,qtr 4,31,Sunday,12
578,2023,December,1,2023-12-31,Sportswear,-110000,Labor,COGS,Expense,week week 5,qtr 4,31,Sunday,12
579,2023,December,1,2023-12-31,Sportswear,-7000,Other,COGS,Expense,week week 5,qtr 4,31,Sunday,12

In [44]:
Fin_data['mon_day'] = Fin_data['Date'].dt.day

Fin_data['week_day'] = Fin_data['Date'].dt.day_name()

In [15]:
Fin_data['Expense_subgroup'].value_counts()

Expense_subgroup
Other               72
Rent                36
Marketing           36
Equipment           36
Payroll             36
R&D                 36
Materials           36
Packaging           36
Shipping            36
Sales               36
Labor               36
Interest and tax    36
Name: count, dtype: int64

In [16]:
#here we pull data for expenses only

rev_only = Fin_data.query('Rev_or_exp == "Revenue"')
total_rev = rev_only['Amount'].sum()
total_rev

np.int64(17559820)

In [17]:
#now we look into total_expense

exp_only = Fin_data.query('Rev_or_exp == "Expense"')
exp_only
total_exp = exp_only['Amount'].sum()
total_exp

np.int64(-13245700)

In [18]:
Fin_data['Rev_exp_group'].value_counts()

Rev_exp_group
COGS                                    216
Opex                                    216
Other income                             40
Sales                                    36
Consulting and professional services     36
Interest and tax                         36
Name: count, dtype: int64

In [19]:
Fin_data['Rev_or_exp'].value_counts()

Rev_or_exp
Expense    468
Revenue    112
Name: count, dtype: int64

In [20]:
#Now we import our data dict
data_dict = pd.read_excel('./Fin_data_01.xlsx', sheet_name= 'dictionary')
data_dict

,Year,Year of revenue/expense
0,Month - name,Month of revenue/expense
1,Month -sequence,"Month of revenue/expense, expressed as number"
2,Date,"Date of revenue/expense, expressed as the last..."
3,Business Line,Business line generating revenue / expense (Sp...
4,"Amount, $",Revenue or expense amount in USD
5,Expense subgroup,Additional subgroups categorizing expenses ass...
6,Income / Expense Group,Subcategory of revenue / expense. Revenue subc...
7,Income or expense,Column indicating if associated amount is reve...
8,NaN,NaN
9,NaN,NaN
10,Example of calculations within an Income State...,NaN
11,Revenue (sum of all revenue groups),100000
12,COGS (sum of all costs of good sold),20000
13,Gross Profit (Revenue - COGS),80000
14,OPEX (sum of all operating expense),30000
15,EBIT (Gross profit - OPEX),50000
16,Interest and Tax,15000
17,Net profit (EBIT - Interest and Tax),35000

In [21]:
Fin_data.query('Rev_exp_group == "COGS"')

,Year,Month_name,Month_sequence,Date,Biz_line,Amount,Expense_subgroup,Rev_exp_group,Rev_or_exp,week,Quarter,mon_day,week_day
9,2023,January,1,2023-01-31,Nutrition and Food Supplements,-20000,Materials,COGS,Expense,week 5,qtr 1,31,Tuesday
10,2023,January,1,2023-01-31,Nutrition and Food Supplements,-1200,Packaging,COGS,Expense,week 5,qtr 1,31,Tuesday
11,2023,January,1,2023-01-31,Nutrition and Food Supplements,-2700,Shipping,COGS,Expense,week 5,qtr 1,31,Tuesday
12,2023,January,1,2023-01-31,Nutrition and Food Supplements,-3000,Sales,COGS,Expense,week 5,qtr 1,31,Tuesday
13,2023,January,1,2023-01-31,Nutrition and Food Supplements,-65000,Labor,COGS,Expense,week 5,qtr 1,31,Tuesday
...,...,...,...,...,...,...,...,...,...,...,...,...,...
575,2023,December,1,2023-12-31,Sportswear,-4000,Packaging,COGS,Expense,week 5,qtr 4,31,Sunday
576,2023,December,1,2023-12-31,Sportswear,-7000,Shipping,COGS,Expense,week 5,qtr 4,31,Sunday
577,2023,December,1,2023-12-31,Sportswear,-9000,Sales,COGS,Expense,week 5,qtr 4,31,Sunday
578,2023,December,1,2023-12-31,Sportswear,-110000,Labor,COGS,Expense,week 5,qtr 4,31,Sunday
579,2023,December,1,2023-12-31,Sportswear,-7000,Other,COGS,Expense,week 5,qtr 4,31,Sunday

In [22]:
Fin_data[['Biz_line', 'Expense_subgroup', 'Amount', 'Rev_exp_group']]

,Biz_line,Expense_subgroup,Amount,Rev_exp_group
0,Nutrition and Food Supplements,NaN,153000,Sales
1,Nutrition and Food Supplements,NaN,27000,Consulting and professional services
2,Nutrition and Food Supplements,NaN,6000,Other income
3,Nutrition and Food Supplements,Rent,-15000,Opex
4,Nutrition and Food Supplements,Equipment,-9000,Opex
...,...,...,...,...
575,Sportswear,Packaging,-4000,COGS
576,Sportswear,Shipping,-7000,COGS
577,Sportswear,Sales,-9000,COGS
578,Sportswear,Labor,-110000,COGS
579,Sportswear,Other,-7000,COGS

In [23]:
#Fin_data.loc[Fin_data['Rev_exp_group'] == 'Consulting and professional services',['Biz_line', 'Expense_subgroup', 'Amount', 'Rev_exp_group']]

In [24]:
#Fin_data.loc[['Biz_line', 'Expense_subgroup', 'Amount', 'Rev_exp_group']]

Fin_data.loc[Fin_data['Rev_exp_group'] == 'COGS',['Biz_line', 'Expense_subgroup', 'Amount', 'Rev_exp_group']]

                            Biz_line Expense_subgroup  Amount Rev_exp_group
9    Nutrition and Food Supplements         Materials  -20000          COGS
10   Nutrition and Food Supplements         Packaging   -1200          COGS
11   Nutrition and Food Supplements          Shipping   -2700          COGS
12   Nutrition and Food Supplements             Sales   -3000          COGS
13   Nutrition and Food Supplements             Labor  -65000          COGS
..                               ...              ...     ...           ...
575                       Sportswear        Packaging   -4000          COGS
576                       Sportswear         Shipping   -7000          COGS
577                       Sportswear            Sales   -9000          COGS
578                       Sportswear            Labor -110000          COGS
579                       Sportswear            Other   -7000          COGS

[216 rows x 4 columns]

In [25]:
Fin_data.loc[Fin_data['Rev_exp_group'] == 'Opex',['Biz_line', 'Expense_subgroup', 'Amount', 'Rev_exp_group']]

                            Biz_line Expense_subgroup  Amount Rev_exp_group
3    Nutrition and Food Supplements              Rent  -15000          Opex
4    Nutrition and Food Supplements         Equipment   -9000          Opex
5    Nutrition and Food Supplements         Marketing  -30000          Opex
6    Nutrition and Food Supplements           Payroll  -40000          Opex
7    Nutrition and Food Supplements               R&D  -30000          Opex
..                               ...              ...     ...           ...
569                       Sportswear        Equipment  -40000          Opex
570                       Sportswear        Marketing  -40000          Opex
571                       Sportswear          Payroll  -50000          Opex
572                       Sportswear              R&D   -5000          Opex
573                       Sportswear            Other   -8000          Opex

[216 rows x 4 columns]

Exploratory Data Analysis

In [26]:
#Total revenue, expense and net profit

df_rev_exp = ['tot_rev', 'tot_exp', 'net_profit']
df_rev_exp = pd.DataFrame(df_rev_exp)

#tot_rev =Fin_data[Fin_data['Rev_or_exp'] == 'Revenue', ['Amount'].sum()]
tot_rev_01 = Fin_data.groupby('Rev_or_exp')['Amount'].sum().reset_index(name= 'Amount')
tot_rev_01

  Rev_or_exp    Amount
0    Expense -13245700
1    Revenue  17559820

In [27]:
#total profit, total expenses and net profit
tot_rev = Fin_data.loc[Fin_data['Rev_or_exp'] == 'Revenue', ['Amount']].sum()
tot_rev

tot_exp = Fin_data.loc[Fin_data['Rev_or_exp'] == 'Expense', 'Amount'].sum()
tot_exp

net_profit = tot_rev + tot_exp
net_profit

df_rev_exp =pd.DataFrame({'tot_rev': tot_rev,
              'tot_exp': tot_exp,
              'net_profit' : net_profit})
df_rev_exp

         tot_rev   tot_exp  net_profit
Amount  17559820 -13245700     4314120

Rev and expense across biz lines

In [28]:
#tot_revenue acros biz line

tot_rev_data_ext = Fin_data.loc[Fin_data['Rev_or_exp']== 'Revenue', ['Biz_line', 'Amount', 'Rev_exp_group', 'Rev_or_exp']]


pd.set_option('display.max_rows', 200)
tot_rev_biz_line = tot_rev_data_ext.groupby('Biz_line')['Amount'].sum().reset_index(name = 'tot_rev').sort_values('tot_rev', ascending = False)
tot_rev_biz_line

                          Biz_line  tot_rev
1                 Sports equipment  8908500
2                       Sportswear  6807700
0  Nutrition and Food Supplements   1843620

In [29]:
df = Fin_data.loc[Fin_data['Rev_or_exp']== 'Revenue', ['Biz_line', 'Amount', 'Rev_exp_group', 'Rev_or_exp']]
df.head()

,Biz_line,Amount,Rev_exp_group,Rev_or_exp
0,Nutrition and Food Supplements,153000,Sales,Revenue
1,Nutrition and Food Supplements,27000,Consulting and professional services,Revenue
2,Nutrition and Food Supplements,6000,Other income,Revenue
16,Nutrition and Food Supplements,22500,Consulting and professional services,Revenue
17,Nutrition and Food Supplements,9000,Consulting and professional services,Revenue

In [30]:
#total_expense across biz lines

#first we extract the data needed for expenses

tot_exp_data_ext = Fin_data.loc[Fin_data['Rev_or_exp']=='Expense', ['Biz_line', 'Amount', 'Expense_subgroup','Rev_exp_group', 'Rev_or_exp']]


pd.set_option('display.max_rows', 470)
tot_exp_biz_line = tot_exp_data_ext.groupby('Biz_line')['Amount'].sum().reset_index(name= 'tot_exp').sort_values('tot_exp', ascending = False)
tot_exp_biz_line

                          Biz_line  tot_exp
0  Nutrition and Food Supplements  -2556500
2                       Sportswear -4070900
1                 Sports equipment -6618300

#tot exp across various sub_groups

In [31]:
sub_group_tot_exp = tot_exp_data_ext.groupby('Expense_subgroup')['Amount'].sum().reset_index(name = 'tot_exp').sort_values('tot_exp', ascending = True)
sub_group_tot_exp

    Expense_subgroup  tot_exp
2              Labor -4492000
7            Payroll -1790000
0          Equipment -1333000
4          Materials -1065000
3          Marketing -1055000
1   Interest and tax  -929400
9               Rent  -745000
8                R&D  -540000
10             Sales  -447000
5              Other  -405500
11          Shipping  -345600
6          Packaging   -98200

In [32]:
#total rev across various Rev_exp_group

tot_rev_group = tot_rev_data_ext.groupby('Rev_exp_group')['Amount'].sum().reset_index(name= 'tot_rev').sort_values('tot_rev', ascending= False)
tot_rev_group

                          Rev_exp_group   tot_rev
2                                 Sales  13776630
0  Consulting and professional services   2817000
1                          Other income    966190

In [33]:
#total expenses across various Rev_exp_group

tot_exp_group = tot_exp_data_ext.groupby('Rev_exp_group')['Amount'].sum().reset_index(name= 'tot_exp').sort_values('tot_exp', ascending = True)
tot_exp_group

      Rev_exp_group  tot_exp
0              COGS -6711500
2              Opex -5604800
1  Interest and tax  -929400

In [34]:
Fin_data.groupby('Rev_exp_group')['Amount'].sum().reset_index(name='total').sort_values('total', ascending= False)

                          Rev_exp_group     total
5                                 Sales  13776630
1  Consulting and professional services   2817000
4                          Other income    966190
2                      Interest and tax   -929400
3                                  Opex  -5604800
0                                  COGS  -6711500

Overall trend analysis for biz line, expense_subgroup, rev_exp_subgroup and Rev_or_exp_group

Monthly Trends

In [48]:
#extracting required data for trend overview

trend_rev_extract = Fin_data.loc[Fin_data['Rev_or_exp'] == 'Revenue', ['Month_name', 'mon_no', 'Quarter', 'week', 'week_day', 'Biz_line', 'Rev_exp_group', 'Rev_or_exp', 'Amount' ]]

trend_exp_extract = Fin_data.loc[Fin_data['Rev_or_exp'] == 'Expense', ['Month_name', 'mon_no','Quarter', 'week', 'week_day', 'Biz_line', 'Rev_exp_group', 'Expense_subgroup', 'Rev_or_exp', 'Amount' ]]

In [50]:
#total rev by month

tot_rev_by_month = trend_rev_extract.groupby(['mon_no','Month_name'])['Amount'].sum().reset_index(name= 'tot_rev').sort_values('mon_no',ascending = True)
tot_rev_by_month

    mon_no Month_name  tot_rev
0        1    January  1949000
1        2   February  1567700
2        3      March  1313350
3        4      April  1156100
4        5        May  1698500
5        6       June  1719200
6        7       July  1400050
7        8     August  1304850
8        9  September  1120890
9       10    October  1322475
10      11   November  1277530
11      12   December  1730175

In [51]:
#total exp by month
tot_exp_by_month = trend_exp_extract.groupby(['mon_no','Month_name'])['Amount'].sum().reset_index(name= 'tot_exp').sort_values('mon_no', ascending = True)
tot_exp_by_month

    mon_no Month_name  tot_exp
0        1    January -1254500
1        2   February -1089000
2        3      March -1010800
3        4      April  -963400
4        5        May -1230900
5        6       June -1226100
6        7       July -1111200
7        8     August -1036300
8        9  September -1029300
9       10    October -1027400
10      11   November -1067600
11      12   December -1199200

In [52]:
#month over month change in revenue

tot_rev_by_month['mom_diff'] = tot_rev_by_month['tot_rev'] - tot_rev_by_month['tot_rev'].shift(1)
tot_rev_by_month['mom_%_change'] = tot_rev_by_month['tot_rev'].pct_change().round(3) *100
tot_rev_by_month.fillna(0, inplace= True)
tot_rev_by_month

    mon_no Month_name  tot_rev  mom_diff  mom_%_change
0        1    January  1949000       0.0           0.0
1        2   February  1567700 -381300.0         -19.6
2        3      March  1313350 -254350.0         -16.2
3        4      April  1156100 -157250.0         -12.0
4        5        May  1698500  542400.0          46.9
5        6       June  1719200   20700.0           1.2
6        7       July  1400050 -319150.0         -18.6
7        8     August  1304850  -95200.0          -6.8
8        9  September  1120890 -183960.0         -14.1
9       10    October  1322475  201585.0          18.0
10      11   November  1277530  -44945.0          -3.4
11      12   December  1730175  452645.0          35.4

In [53]:
#mom diff and percentage change in expenses

tot_exp_by_month.head()

tot_exp_by_month['mom_diff'] = tot_exp_by_month['tot_exp'] - tot_exp_by_month['tot_exp'].shift(1)
tot_exp_by_month['mom_%_change'] = tot_exp_by_month['tot_exp'].pct_change().round(3)*100
tot_exp_by_month.fillna(0, inplace= True)
tot_exp_by_month

    mon_no Month_name  tot_exp  mom_diff  mom_%_change
0        1    January -1254500       0.0           0.0
1        2   February -1089000  165500.0         -13.2
2        3      March -1010800   78200.0          -7.2
3        4      April  -963400   47400.0          -4.7
4        5        May -1230900 -267500.0          27.8
5        6       June -1226100    4800.0          -0.4
6        7       July -1111200  114900.0          -9.4
7        8     August -1036300   74900.0          -6.7
8        9  September -1029300    7000.0          -0.7
9       10    October -1027400    1900.0          -0.2
10      11   November -1067600  -40200.0           3.9
11      12   December -1199200 -131600.0          12.3

Now we look at quarterly analysis

In [60]:
#rev by quarter
trend_rev_by_qtr = trend_rev_extract.groupby('Quarter')['Amount'].sum().reset_index(name='tot_rev').sort_values('Quarter', ascending= True)
trend_rev_by_qtr['mom_diff'] = trend_rev_by_qtr['tot_rev'] - trend_rev_by_qtr['tot_rev'].shift(1)
trend_rev_by_qtr['mom_%_diff'] = trend_rev_by_qtr['tot_rev'].pct_change().round(3)*100
trend_rev_by_qtr.fillna(0, inplace = True)

trend_rev_by_qtr

  Quarter  tot_rev  mom_diff  mom_%_diff
0   qtr 1  4830050       0.0         0.0
1   qtr 2  4573800 -256250.0        -5.3
2   qtr 3  3825790 -748010.0       -16.4
3   qtr 4  4330180  504390.0        13.2

In [65]:
#change in expense by quarter
trend_exp_by_qtr = trend_exp_extract.groupby('Quarter')['Amount'].sum().reset_index(name='tot_exp').sort_values('Quarter', ascending= True)
trend_exp_by_qtr['mom_diff'] = trend_exp_by_qtr['tot_exp'] - trend_exp_by_qtr['tot_exp'].shift(1)
trend_exp_by_qtr['mom_%_diff'] = trend_exp_by_qtr['tot_exp'].pct_change().round(3)*100
trend_exp_by_qtr.fillna(0, inplace = True)

trend_exp_by_qtr

  Quarter  tot_exp  mom_diff  mom_%_diff
0   qtr 1 -3354300       0.0         0.0
1   qtr 2 -3420400  -66100.0         2.0
2   qtr 3 -3176800  243600.0        -7.1
3   qtr 4 -3294200 -117400.0         3.7

Now we shall look into Performance for each business lines and carry out a monthly and quarterly comparison


Net profit by business line and sub groups

In [88]:
trend_exp_extract.head()

#expense by business line, exp group and subgroup
#Fin_data.groupby(['Month_name','Biz_line'])['Amount'].sum().reset_index(name= 'tot').sort_values(['Month_name', 'tot'], ascending= [True, False])
exp_by_biz_sub_grp = trend_exp_extract.groupby([ 'mon_no','Biz_line','Month_name'])['Amount'].sum().reset_index(name = 'tot_exp').sort_values(['Biz_line','mon_no', 'tot_exp'], ascending= [True, True, False])
exp_by_biz_sub_grp['mom_diff'] = exp_by_biz_sub_grp['tot_exp'] - exp_by_biz_sub_grp['tot_exp'].shift(1)
exp_by_biz_sub_grp['mom_%_diff'] = exp_by_biz_sub_grp['tot_exp'].pct_change().round(3)*100
exp_by_biz_sub_grp.fillna(0, inplace= True)
exp_by_biz_sub_grp.head()

,mon_no,Biz_line,Month_name,tot_exp,mom_diff,mom_%_diff
0,1,Nutrition and Food Supplements,January,-231500,0.0,0.0
3,2,Nutrition and Food Supplements,February,-230900,600.0,-0.3
6,3,Nutrition and Food Supplements,March,-212600,18300.0,-7.9
9,4,Nutrition and Food Supplements,April,-213800,-1200.0,0.6
12,5,Nutrition and Food Supplements,May,-233900,-20100.0,9.4

In [92]:
#we look into the mom diff and percentage diff for each business line

exp_by_biz_sub_grp = trend_exp_extract.groupby([ 'mon_no','Biz_line','Month_name'])['Amount'].sum().reset_index(name = 'tot_exp').sort_values(['Biz_line','mon_no', 'tot_exp'], ascending= [True, True, False])

def mom_cal_and_pct(df):
    df['mom_diff'] = df['tot_exp'] - df['tot_exp'].shift(1)
    df['mom_%_diff'] = df['tot_exp'].pct_change().round(3)*100
    df.iloc[0, df.columns.get_loc('mom_diff')] = 0.0
    df.iloc[0, df.columns.get_loc('mom_%_diff')] = 0.0

    return df

exp_by_biz_sub_grp = exp_by_biz_sub_grp.groupby('Biz_line').apply(mom_cal_and_pct).reset_index(drop= True)

exp_by_biz_sub_grp

C:\Users\djibr\AppData\Local\Temp\ipykernel_25744\2705213542.py:11: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  exp_by_biz_sub_grp = exp_by_biz_sub_grp.groupby('Biz_line').apply(mom_cal_and_pct).reset_index(drop= True)

,mon_no,Biz_line,Month_name,tot_exp,mom_diff,mom_%_diff
0,1,Nutrition and Food Supplements,January,-231500,0.0,0.0
1,2,Nutrition and Food Supplements,February,-230900,600.0,-0.3
2,3,Nutrition and Food Supplements,March,-212600,18300.0,-7.9
3,4,Nutrition and Food Supplements,April,-213800,-1200.0,0.6
4,5,Nutrition and Food Supplements,May,-233900,-20100.0,9.4
5,6,Nutrition and Food Supplements,June,-233300,600.0,-0.3
6,7,Nutrition and Food Supplements,July,-205900,27400.0,-11.7
7,8,Nutrition and Food Supplements,August,-200900,5000.0,-2.4
8,9,Nutrition and Food Supplements,September,-192000,8900.0,-4.4
9,10,Nutrition and Food Supplements,October,-192300,-300.0,0.2
10,11,Nutrition and Food Supplements,November,-197900,-5600.0,2.9
11,12,Nutrition and Food Supplements,December,-211500,-13600.0,6.9
12,1,Sports equipment,January,-664000,0.0,0.0
13,2,Sports equipment,February,-513100,150900.0,-22.7
14,3,Sports equipment,March,-495200,17900.0,-3.5
15,4,Sports equipment,April,-454600,40600.0,-8.2
16,5,Sports equipment,May,-624000,-169400.0,37.3
17,6,Sports equipment,June,-596100,27900.0,-4.5
18,7,Sports equipment,July,-560000,36100.0,-6.1
19,8,Sports equipment,August,-506800,53200.0,-9.5
20,9,Sports equipment,September,-506000,800.0,-0.2
21,10,Sports equipment,October,-527100,-21100.0,4.2
22,11,Sports equipment,November,-550400,-23300.0,4.4
23,12,Sports equipment,December,-621000,-70600.0,12.8
24,1,Sportswear,January,-359000,0.0,0.0
25,2,Sportswear,February,-345000,14000.0,-3.9
26,3,Sportswear,March,-303000,42000.0,-12.2
27,4,Sportswear,April,-295000,8000.0,-2.6
28,5,Sportswear,May,-373000,-78000.0,26.4
29,6,Sportswear,June,-396700,-23700.0,6.4
30,7,Sportswear,July,-345300,51400.0,-13.0
31,8,Sportswear,August,-328600,16700.0,-4.8
32,9,Sportswear,September,-331300,-2700.0,0.8
33,10,Sportswear,October,-308000,23300.0,-7.0
34,11,Sportswear,November,-319300,-11300.0,3.7
35,12,Sportswear,December,-366700,-47400.0,14.8

In [96]:
exp_by_exp_grp = trend_exp_extract.groupby([ 'mon_no','Month_name', 'Rev_exp_group'])['Amount'].sum().reset_index(name = 'tot_exp').sort_values(['Rev_exp_group','mon_no', 'tot_exp'], ascending= [True, True, False])
exp_by_exp_grp.groupby('Rev_exp_group').apply(mom_cal_and_pct).reset_index(drop= True)

C:\Users\djibr\AppData\Local\Temp\ipykernel_25744\3824353521.py:2: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  exp_by_exp_grp.groupby('Rev_exp_group').apply(mom_cal_and_pct).reset_index(drop= True)

    mon_no Month_name     Rev_exp_group  tot_exp  mom_diff  mom_%_diff
0        1    January              COGS  -662600       0.0         0.0
1        2   February              COGS  -507000  155600.0       -23.5
2        3      March              COGS  -513500   -6500.0         1.3
3        4      April              COGS  -482900   30600.0        -6.0
4        5        May              COGS  -641900 -159000.0        32.9
5        6       June              COGS  -634600    7300.0        -1.1
6        7       July              COGS  -580900   53700.0        -8.5
7        8     August              COGS  -546900   34000.0        -5.9
8        9  September              COGS  -535900   11000.0        -2.0
9       10    October              COGS  -515900   20000.0        -3.7
10      11   November              COGS  -535700  -19800.0         3.8
11      12   December              COGS  -553700  -18000.0         3.4
12       1    January  Interest and tax  -113000       0.0         0.0
13       2   February  Interest and tax   -99500   13500.0       -11.9
14       3      March  Interest and tax   -76000   23500.0       -23.6
15       4      April  Interest and tax   -59200   16800.0       -22.1
16       5        May  Interest and tax   -84800  -25600.0        43.2
17       6       June  Interest and tax   -90400   -5600.0         6.6
18       7       July  Interest and tax   -69300   21100.0       -23.3
19       8     August  Interest and tax   -54400   14900.0       -21.5
20       9  September  Interest and tax   -53300    1100.0        -2.0
21      10    October  Interest and tax   -68300  -15000.0        28.1
22      11   November  Interest and tax   -52500   15800.0       -23.1
23      12   December  Interest and tax  -108700  -56200.0       107.0
24       1    January              Opex  -478900       0.0         0.0
25       2   February              Opex  -482500   -3600.0         0.8
26       3      March              Opex  -421300   61200.0       -12.7
27       4      April              Opex  -421300       0.0         0.0
28       5        May              Opex  -504200  -82900.0        19.7
29       6       June              Opex  -501100    3100.0        -0.6
30       7       July              Opex  -461000   40100.0        -8.0
31       8     August              Opex  -435000   26000.0        -5.6
32       9  September              Opex  -440100   -5100.0         1.2
33      10    October              Opex  -443200   -3100.0         0.7
34      11   November              Opex  -479400  -36200.0         8.2
35      12   December              Opex  -536800  -57400.0        12.0

In [98]:
exp_by_exp_sub_grp = trend_exp_extract.groupby([ 'mon_no','Expense_subgroup','Month_name'])['Amount'].sum().reset_index(name = 'tot_exp').sort_values(['Expense_subgroup','mon_no', 'tot_exp'], ascending= [True, True, False])
exp_by_exp_sub_grp.groupby('Expense_subgroup').apply(mom_cal_and_pct).reset_index(drop = True)

C:\Users\djibr\AppData\Local\Temp\ipykernel_25744\3525657812.py:2: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  exp_by_exp_sub_grp.groupby('Expense_subgroup').apply(mom_cal_and_pct).reset_index(drop = True)

     mon_no  Expense_subgroup Month_name  tot_exp  mom_diff  mom_%_diff
0         1         Equipment    January   -93000       0.0         0.0
1         2         Equipment   February   -93000       0.0         0.0
2         3         Equipment      March   -93000       0.0         0.0
3         4         Equipment      April   -93000       0.0         0.0
4         5         Equipment        May  -117800  -24800.0        26.7
5         6         Equipment       June  -117800       0.0         0.0
6         7         Equipment       July  -117800       0.0         0.0
7         8         Equipment     August  -117800       0.0         0.0
8         9         Equipment  September  -117800       0.0         0.0
9        10         Equipment    October  -124000   -6200.0         5.3
10       11         Equipment   November  -124000       0.0         0.0
11       12         Equipment   December  -124000       0.0         0.0
12        1  Interest and tax    January  -113000       0.0         0.0
13        2  Interest and tax   February   -99500   13500.0       -11.9
14        3  Interest and tax      March   -76000   23500.0       -23.6
15        4  Interest and tax      April   -59200   16800.0       -22.1
16        5  Interest and tax        May   -84800  -25600.0        43.2
17        6  Interest and tax       June   -90400   -5600.0         6.6
18        7  Interest and tax       July   -69300   21100.0       -23.3
19        8  Interest and tax     August   -54400   14900.0       -21.5
20        9  Interest and tax  September   -53300    1100.0        -2.0
21       10  Interest and tax    October   -68300  -15000.0        28.1
22       11  Interest and tax   November   -52500   15800.0       -23.1
23       12  Interest and tax   December  -108700  -56200.0       107.0
24        1             Labor    January  -345000       0.0         0.0
25        2             Labor   February  -345000       0.0         0.0
26        3             Labor      March  -345000       0.0         0.0
27        4             Labor      April  -345000       0.0         0.0
28        5             Labor        May  -429000  -84000.0        24.3
29        6             Labor       June  -429000       0.0         0.0
30        7             Labor       July  -414000   15000.0        -3.5
31        8             Labor     August  -380000   34000.0        -8.2
32        9             Labor  September  -380000       0.0         0.0
33       10             Labor    October  -360000   20000.0        -5.3
34       11             Labor   November  -360000       0.0         0.0
35       12             Labor   December  -360000       0.0         0.0
36        1         Marketing    January  -120000       0.0         0.0
37        2         Marketing   February  -120000       0.0         0.0
38        3         Marketing      March   -65000   55000.0       -45.8
39        4         Marketing      April   -65000       0.0         0.0
40        5         Marketing        May  -120000  -55000.0        84.6
41        6         Marketing       June  -120000       0.0         0.0
42        7         Marketing       July   -90000   30000.0       -25.0
43        8         Marketing     August   -55000   35000.0       -38.9
44        9         Marketing  September   -50000    5000.0        -9.1
45       10         Marketing    October   -50000       0.0         0.0
46       11         Marketing   November   -80000  -30000.0        60.0
47       12         Marketing   December  -120000  -40000.0        50.0
48        1         Materials    January  -100000       0.0         0.0
49        2         Materials   February   -70000   30000.0       -30.0
50        3         Materials      March  -104000  -34000.0        48.6
51        4         Materials      April   -75000   29000.0       -27.9
52        5         Materials        May  -104000  -29000.0        38.7
53        6         Materials       June  -104000       0.0         0.0
54        7         Materials       July  -104000       0.0         0.0
55        8         Materials     August  -104000       0.0         0.0
56        9         Materials  September   -75000   29000.0       -27.9
57       10         Materials    October   -75000       0.0         0.0
58       11         Materials   November   -75000       0.0         0.0
59       12         Materials   December   -75000       0.0         0.0
60        1             Other    January   -42600       0.0         0.0
61        2             Other   February   -36900    5700.0       -13.4
62        3             Other      March   -30400    6500.0       -17.6
63        4             Other      April   -31900   -1500.0         4.9
64        5             Other        May   -35000   -3100.0         9.7
65        6             Other       June   -31900    3100.0        -8.9
66        7             Other       July   -28800    3100.0        -9.7
67        8             Other     August   -28800       0.0         0.0
68        9             Other  September   -31000   -2200.0         7.6
69       10             Other    October   -27900    3100.0       -10.0
70       11             Other   November   -33800   -5900.0        21.1
71       12             Other   December   -46500  -12700.0        37.6
72        1         Packaging    January   -11200       0.0         0.0
73        2         Packaging   February   -10200    1000.0        -8.9
74        3         Packaging      March    -6200    4000.0       -39.2
75        4         Packaging      April    -6200       0.0         0.0
76        5         Packaging        May   -10200   -4000.0        64.5
77        6         Packaging       June    -8900    1300.0       -12.7
78        7         Packaging       July    -6200    2700.0       -30.3
79        8         Packaging     August    -6200       0.0         0.0
80        9         Packaging  September    -6200       0.0         0.0
81       10         Packaging    October    -6200       0.0         0.0
82       11         Packaging   November    -9300   -3100.0        50.0
83       12         Packaging   December   -11200   -1900.0        20.4
84        1           Payroll    January  -152000       0.0         0.0
85        2           Payroll   February  -152000       0.0         0.0
86        3           Payroll      March  -152000       0.0         0.0
87        4           Payroll      April  -152000       0.0         0.0
88        5           Payroll        May  -152000       0.0         0.0
89        6           Payroll       June  -152000       0.0         0.0
90        7           Payroll       July  -145000    7000.0        -4.6
91        8           Payroll     August  -140000    5000.0        -3.4
92        9           Payroll  September  -147000   -7000.0         5.0
93       10           Payroll    October  -147000       0.0         0.0
94       11           Payroll   November  -147000       0.0         0.0
95       12           Payroll   December  -152000   -5000.0         3.4
96        1               R&D    January   -45000       0.0         0.0
97        2               R&D   February   -45000       0.0         0.0
98        3               R&D      March   -45000       0.0         0.0
99        4               R&D      April   -45000       0.0         0.0
100       5               R&D        May   -45000       0.0         0.0
101       6               R&D       June   -45000       0.0         0.0
102       7               R&D       July   -45000       0.0         0.0
103       8               R&D     August   -45000       0.0         0.0
104       9               R&D  September   -45000       0.0         0.0
105      10               R&D    October   -45000       0.0         0.0
106      11               R&D   November   -45000       0.0         0.0
107      12               R&D   December   -45000       0.0         0.0
108       1              Rent    January   -48000       0.0         0.0
109       2              Rent   February   -57000   -9000.0        18.8
110       3              Rent      March   -57000       0.0         0.0
111       4              Rent      April   -57000       0.0         0.0
112       5              Rent        May   -57000       0.0         0.0
113       6              Rent       June   -57000       0.0         0.0
114       7              Rent       July   -57000       0.0         0.0
115       8              Rent     August   -71000  -14000.0        24.6
116       9              Rent  September   -71000       0.0         0.0
117      10              Rent    October   -71000       0.0         0.0
118      11              Rent   November   -71000       0.0         0.0
119      12              Rent   December   -71000       0.0         0.0
120       1             Sales    January   -43000       0.0         0.0
121       2             Sales   February   -38000    5000.0       -11.6
122       3             Sales      March   -21700   16300.0       -42.9
123       4             Sales      April   -18600    3100.0       -14.3
124       5             Sales        May   -51700  -33100.0       178.0
125       6             Sales       June   -45400    6300.0       -12.2
126       7             Sales       July   -18600   26800.0       -59.0
127       8             Sales     August   -18600       0.0         0.0
128       9             Sales  September   -37800  -19200.0       103.2
129      10             Sales    October   -37800       0.0         0.0
130      11             Sales   November   -54100  -16300.0        43.1
131      12             Sales   December   -61700   -7600.0        14.0
132       1          Shipping    January  -141700       0.0         0.0
133       2          Shipping   February   -22400  119300.0       -84.2
134       3          Shipping      March   -15500    6900.0       -30.8
135       4          Shipping      April   -15500       0.0         0.0
136       5          Shipping        May   -24400   -8900.0        57.4
137       6          Shipping       June   -24700    -300.0         1.2
138       7          Shipping       July   -15500    9200.0       -37.2
139       8          Shipping     August   -15500       0.0         0.0
140       9          Shipping  September   -15200     300.0        -1.9
141      10          Shipping    October   -15200       0.0         0.0
142      11          Shipping   November   -15900    -700.0         4.6
143      12          Shipping   December   -24100   -8200.0        51.6