In [60]:
import numpy as np
import pandas as pd
#import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
#Now we import our data dict
data_dict = pd.read_excel('./Fin_data_01.xlsx', sheet_name= 'dictionary')
data_dict

We start by describing our dataset with summary statistics

In [3]:
Fin_data = pd.read_excel('./Fin_data_01.xlsx')
Fin_data

,Year,Month - name,Month -sequence,Date,Business Line,"Amount, $",Expense subgroup,Revenue / Expense Group,Revenue or expense
0,2023,January,1,2023-01-31,Nutrition and Food Supplements,153000,NaN,Sales,Revenue
1,2023,January,1,2023-01-31,Nutrition and Food Supplements,27000,NaN,Consulting and professional services,Revenue
2,2023,January,1,2023-01-31,Nutrition and Food Supplements,6000,NaN,Other income,Revenue
3,2023,January,1,2023-01-31,Nutrition and Food Supplements,-15000,Rent,Opex,Expense
4,2023,January,1,2023-01-31,Nutrition and Food Supplements,-9000,Equipment,Opex,Expense
...,...,...,...,...,...,...,...,...,...
575,2023,December,1,2023-12-31,Sportswear,-4000,Packaging,COGS,Expense
576,2023,December,1,2023-12-31,Sportswear,-7000,Shipping,COGS,Expense
577,2023,December,1,2023-12-31,Sportswear,-9000,Sales,COGS,Expense
578,2023,December,1,2023-12-31,Sportswear,-110000,Labor,COGS,Expense
579,2023,December,1,2023-12-31,Sportswear,-7000,Other,COGS,Expense

In [4]:
Fin_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 580 entries, 0 to 579
Data columns (total 9 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Year                     580 non-null    int64
 1   Month - name             580 non-null    object
 2   Month -sequence          580 non-null    int64
 3   Date                     580 non-null    datetime64[ns]
 4   Business Line            580 non-null    object
 5   Amount, $                580 non-null    int64
 6   Expense subgroup         468 non-null    object
 7   Revenue / Expense Group  580 non-null    object
 8   Revenue or expense       580 non-null    object
dtypes: datetime64[ns](1), int64(3), object(5)
memory usage: 40.9+ KB

In [5]:
Fin_data.describe()

         Year  Month -sequence                           Date      Amount, $
count   580.0            580.0                            580     580.000000
mean   2023.0              1.0  2023-07-15 01:49:14.482758656    7438.137931
min    2023.0              1.0            2023-01-31 00:00:00 -234000.000000
25%    2023.0              1.0            2023-03-31 00:00:00  -30000.000000
50%    2023.0              1.0            2023-06-30 00:00:00  -10800.000000
75%    2023.0              1.0            2023-09-30 00:00:00   -1800.000000
max    2023.0              1.0            2023-12-31 00:00:00  750000.000000
std       0.0              0.0                            NaN  118699.587071

In [6]:
Fin_data.columns

Index(['Year', 'Month - name', 'Month -sequence', 'Date', 'Business Line',
       'Amount, $', 'Expense subgroup', 'Revenue / Expense Group',
       'Revenue or expense'],
      dtype='object')

Now we move on to expanding our date columns for effective drill down

In [7]:
#Now we shall rename columns

Fin_data.rename(columns= {'Month - name': 'Month_name'}, inplace= True)

In [8]:
Fin_data.rename(columns= {'Month -sequence' : 'Month_sequence', 'Amount, $': 'Amount', 'Expense subgroup' : 'Expense_subgroup', 'Revenue or expense' : 'Rev_or_exp'
                          , 'Revenue / Expense Group' : 'Rev_exp_group','Business Line': 'Biz_line' }, inplace= True)

In [9]:
#now we extract week from date 

def week_of_mon(col):
    first_day_of_mon = col.replace(day = 1)
    dom = col.day
    adjusted_dom = first_day_of_mon.weekday() + dom
    return int(np.ceil(adjusted_dom)/7)

Fin_data['week'] = Fin_data['Date'].apply(week_of_mon)

In [10]:
Fin_data['week'] = 'week' + ' ' + Fin_data['week'].astype(str)
Fin_data['Quarter'] = Fin_data['Date'].dt.quarter
Fin_data['Quarter'] = 'qtr ' + Fin_data['Quarter'].astype(str)
Fin_data['mon_no'] = Fin_data['Date'].dt.month

Fin_data

,Year,Month_name,Month_sequence,Date,Biz_line,Amount,Expense_subgroup,Rev_exp_group,Rev_or_exp,week,Quarter,mon_no
0,2023,January,1,2023-01-31,Nutrition and Food Supplements,153000,NaN,Sales,Revenue,week 5,qtr 1,1
1,2023,January,1,2023-01-31,Nutrition and Food Supplements,27000,NaN,Consulting and professional services,Revenue,week 5,qtr 1,1
2,2023,January,1,2023-01-31,Nutrition and Food Supplements,6000,NaN,Other income,Revenue,week 5,qtr 1,1
3,2023,January,1,2023-01-31,Nutrition and Food Supplements,-15000,Rent,Opex,Expense,week 5,qtr 1,1
4,2023,January,1,2023-01-31,Nutrition and Food Supplements,-9000,Equipment,Opex,Expense,week 5,qtr 1,1
...,...,...,...,...,...,...,...,...,...,...,...,...
575,2023,December,1,2023-12-31,Sportswear,-4000,Packaging,COGS,Expense,week 5,qtr 4,12
576,2023,December,1,2023-12-31,Sportswear,-7000,Shipping,COGS,Expense,week 5,qtr 4,12
577,2023,December,1,2023-12-31,Sportswear,-9000,Sales,COGS,Expense,week 5,qtr 4,12
578,2023,December,1,2023-12-31,Sportswear,-110000,Labor,COGS,Expense,week 5,qtr 4,12
579,2023,December,1,2023-12-31,Sportswear,-7000,Other,COGS,Expense,week 5,qtr 4,12

In [11]:
Fin_data['mon_day'] = Fin_data['Date'].dt.day

Fin_data['week_day'] = Fin_data['Date'].dt.day_name()

We move on to exploring individual columns

In [12]:
Fin_data['Expense_subgroup'].value_counts()

Expense_subgroup
Other               72
Rent                36
Marketing           36
Equipment           36
Payroll             36
R&D                 36
Materials           36
Packaging           36
Shipping            36
Sales               36
Labor               36
Interest and tax    36
Name: count, dtype: int64

In [13]:
#here we pull data for expenses only

rev_only = Fin_data.query('Rev_or_exp == "Revenue"')
total_rev = rev_only['Amount'].sum()
total_rev

np.int64(17559820)

In [14]:
#now we look into total_expense

exp_only = Fin_data.query('Rev_or_exp == "Expense"')
exp_only
total_exp = exp_only['Amount'].sum()
total_exp

np.int64(-13245700)

In [15]:
Fin_data['Rev_exp_group'].value_counts()

Rev_exp_group
COGS                                    216
Opex                                    216
Other income                             40
Sales                                    36
Consulting and professional services     36
Interest and tax                         36
Name: count, dtype: int64

In [16]:
Fin_data['Rev_or_exp'].value_counts()

Rev_or_exp
Expense    468
Revenue    112
Name: count, dtype: int64

In [18]:
Fin_data.query('Rev_exp_group == "COGS"')

,Year,Month_name,Month_sequence,Date,Biz_line,Amount,Expense_subgroup,Rev_exp_group,Rev_or_exp,week,Quarter,mon_no,mon_day,week_day
9,2023,January,1,2023-01-31,Nutrition and Food Supplements,-20000,Materials,COGS,Expense,week 5,qtr 1,1,31,Tuesday
10,2023,January,1,2023-01-31,Nutrition and Food Supplements,-1200,Packaging,COGS,Expense,week 5,qtr 1,1,31,Tuesday
11,2023,January,1,2023-01-31,Nutrition and Food Supplements,-2700,Shipping,COGS,Expense,week 5,qtr 1,1,31,Tuesday
12,2023,January,1,2023-01-31,Nutrition and Food Supplements,-3000,Sales,COGS,Expense,week 5,qtr 1,1,31,Tuesday
13,2023,January,1,2023-01-31,Nutrition and Food Supplements,-65000,Labor,COGS,Expense,week 5,qtr 1,1,31,Tuesday
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
575,2023,December,1,2023-12-31,Sportswear,-4000,Packaging,COGS,Expense,week 5,qtr 4,12,31,Sunday
576,2023,December,1,2023-12-31,Sportswear,-7000,Shipping,COGS,Expense,week 5,qtr 4,12,31,Sunday
577,2023,December,1,2023-12-31,Sportswear,-9000,Sales,COGS,Expense,week 5,qtr 4,12,31,Sunday
578,2023,December,1,2023-12-31,Sportswear,-110000,Labor,COGS,Expense,week 5,qtr 4,12,31,Sunday
579,2023,December,1,2023-12-31,Sportswear,-7000,Other,COGS,Expense,week 5,qtr 4,12,31,Sunday

In [19]:
Fin_data[['Biz_line', 'Expense_subgroup', 'Amount', 'Rev_exp_group']]

,Biz_line,Expense_subgroup,Amount,Rev_exp_group
0,Nutrition and Food Supplements,NaN,153000,Sales
1,Nutrition and Food Supplements,NaN,27000,Consulting and professional services
2,Nutrition and Food Supplements,NaN,6000,Other income
3,Nutrition and Food Supplements,Rent,-15000,Opex
4,Nutrition and Food Supplements,Equipment,-9000,Opex
...,...,...,...,...
575,Sportswear,Packaging,-4000,COGS
576,Sportswear,Shipping,-7000,COGS
577,Sportswear,Sales,-9000,COGS
578,Sportswear,Labor,-110000,COGS
579,Sportswear,Other,-7000,COGS

In [20]:
#Fin_data.loc[Fin_data['Rev_exp_group'] == 'Consulting and professional services',['Biz_line', 'Expense_subgroup', 'Amount', 'Rev_exp_group']]

In [21]:

Fin_data.loc[Fin_data['Rev_exp_group'] == 'COGS',['Biz_line', 'Expense_subgroup', 'Amount', 'Rev_exp_group']]

                            Biz_line Expense_subgroup  Amount Rev_exp_group
9    Nutrition and Food Supplements         Materials  -20000          COGS
10   Nutrition and Food Supplements         Packaging   -1200          COGS
11   Nutrition and Food Supplements          Shipping   -2700          COGS
12   Nutrition and Food Supplements             Sales   -3000          COGS
13   Nutrition and Food Supplements             Labor  -65000          COGS
..                               ...              ...     ...           ...
575                       Sportswear        Packaging   -4000          COGS
576                       Sportswear         Shipping   -7000          COGS
577                       Sportswear            Sales   -9000          COGS
578                       Sportswear            Labor -110000          COGS
579                       Sportswear            Other   -7000          COGS

[216 rows x 4 columns]

In [22]:
Fin_data.loc[Fin_data['Rev_exp_group'] == 'Opex',['Biz_line', 'Expense_subgroup', 'Amount', 'Rev_exp_group']]

                            Biz_line Expense_subgroup  Amount Rev_exp_group
3    Nutrition and Food Supplements              Rent  -15000          Opex
4    Nutrition and Food Supplements         Equipment   -9000          Opex
5    Nutrition and Food Supplements         Marketing  -30000          Opex
6    Nutrition and Food Supplements           Payroll  -40000          Opex
7    Nutrition and Food Supplements               R&D  -30000          Opex
..                               ...              ...     ...           ...
569                       Sportswear        Equipment  -40000          Opex
570                       Sportswear        Marketing  -40000          Opex
571                       Sportswear          Payroll  -50000          Opex
572                       Sportswear              R&D   -5000          Opex
573                       Sportswear            Other   -8000          Opex

[216 rows x 4 columns]

Exploratory Data Analysis

In [23]:
#Total revenue, expense and net profit

df_rev_exp = ['tot_rev', 'tot_exp', 'net_profit']
df_rev_exp = pd.DataFrame(df_rev_exp)

#tot_rev =Fin_data[Fin_data['Rev_or_exp'] == 'Revenue', ['Amount'].sum()]
tot_rev_01 = Fin_data.groupby('Rev_or_exp')['Amount'].sum().reset_index(name= 'Amount')
tot_rev_01

  Rev_or_exp    Amount
0    Expense -13245700
1    Revenue  17559820

In [61]:
#total profit, total expenses and net profit
tot_rev_exp = Fin_data.groupby(['Rev_or_exp'])['Amount'].sum().reset_index(name = 'tot')
tot_rev_exp

  Rev_or_exp       tot
0    Expense -13245700
1    Revenue  17559820

Rev and expense across biz lines

In [25]:
#tot_revenue acros biz line

tot_rev_data_ext = Fin_data.loc[Fin_data['Rev_or_exp']== 'Revenue', ['Biz_line', 'Amount', 'Rev_exp_group', 'Rev_or_exp']]


pd.set_option('display.max_rows', 200)
tot_rev_biz_line = tot_rev_data_ext.groupby('Biz_line')['Amount'].sum().reset_index(name = 'tot_rev').sort_values('tot_rev', ascending = False)
tot_rev_biz_line

                          Biz_line  tot_rev
1                 Sports equipment  8908500
2                       Sportswear  6807700
0  Nutrition and Food Supplements   1843620

In [62]:
#df = Fin_data.loc[Fin_data['Rev_or_exp']== 'Revenue', ['Biz_line', 'Amount', 'Rev_exp_group', 'Rev_or_exp']]
#df.head()

In [27]:
#total_expense across biz lines

#first we extract the data needed for expenses

tot_exp_data_ext = Fin_data.loc[Fin_data['Rev_or_exp']=='Expense', ['Biz_line', 'Amount', 'Expense_subgroup','Rev_exp_group', 'Rev_or_exp']]


pd.set_option('display.max_rows', 470)
tot_exp_biz_line = tot_exp_data_ext.groupby('Biz_line')['Amount'].sum().reset_index(name= 'tot_exp').sort_values('tot_exp', ascending = False)
tot_exp_biz_line

                          Biz_line  tot_exp
0  Nutrition and Food Supplements  -2556500
2                       Sportswear -4070900
1                 Sports equipment -6618300

In [28]:
#tot exp across various sub_groups

sub_group_tot_exp = tot_exp_data_ext.groupby('Expense_subgroup')['Amount'].sum().reset_index(name = 'tot_exp').sort_values('tot_exp', ascending = True)
sub_group_tot_exp

    Expense_subgroup  tot_exp
2              Labor -4492000
7            Payroll -1790000
0          Equipment -1333000
4          Materials -1065000
3          Marketing -1055000
1   Interest and tax  -929400
9               Rent  -745000
8                R&D  -540000
10             Sales  -447000
5              Other  -405500
11          Shipping  -345600
6          Packaging   -98200

In [29]:
#total rev across various Rev_exp_group

tot_rev_group = tot_rev_data_ext.groupby('Rev_exp_group')['Amount'].sum().reset_index(name= 'tot_rev').sort_values('tot_rev', ascending= False)
tot_rev_group

                          Rev_exp_group   tot_rev
2                                 Sales  13776630
0  Consulting and professional services   2817000
1                          Other income    966190

In [30]:
#total expenses across various Rev_exp_group

tot_exp_group = tot_exp_data_ext.groupby('Rev_exp_group')['Amount'].sum().reset_index(name= 'tot_exp').sort_values('tot_exp', ascending = True)
tot_exp_group

      Rev_exp_group  tot_exp
0              COGS -6711500
2              Opex -5604800
1  Interest and tax  -929400

In [31]:
Fin_data.groupby('Rev_exp_group')['Amount'].sum().reset_index(name='total').sort_values('total', ascending= False)

                          Rev_exp_group     total
5                                 Sales  13776630
1  Consulting and professional services   2817000
4                          Other income    966190
2                      Interest and tax   -929400
3                                  Opex  -5604800
0                                  COGS  -6711500

Overall trend analysis for biz line, expense_subgroup, rev_exp_subgroup and Rev_or_exp_group

Monthly Trends

In [32]:
#extracting required data for trend overview

trend_rev_extract = Fin_data.loc[Fin_data['Rev_or_exp'] == 'Revenue', ['Month_name', 'mon_no', 'Quarter', 'week', 'week_day', 'Biz_line', 'Rev_exp_group', 'Rev_or_exp', 'Amount' ]]

trend_exp_extract = Fin_data.loc[Fin_data['Rev_or_exp'] == 'Expense', ['Month_name', 'mon_no','Quarter', 'week', 'week_day', 'Biz_line', 'Rev_exp_group', 'Expense_subgroup', 'Rev_or_exp', 'Amount' ]]

In [33]:
#total rev by month

tot_rev_by_month = trend_rev_extract.groupby(['mon_no','Month_name'])['Amount'].sum().reset_index(name= 'tot_rev').sort_values('mon_no',ascending = True)
tot_rev_by_month

    mon_no Month_name  tot_rev
0        1    January  1949000
1        2   February  1567700
2        3      March  1313350
3        4      April  1156100
4        5        May  1698500
5        6       June  1719200
6        7       July  1400050
7        8     August  1304850
8        9  September  1120890
9       10    October  1322475
10      11   November  1277530
11      12   December  1730175

In [34]:
#total exp by month
tot_exp_by_month = trend_exp_extract.groupby(['mon_no','Month_name'])['Amount'].sum().reset_index(name= 'tot_exp').sort_values('mon_no', ascending = True)
tot_exp_by_month

    mon_no Month_name  tot_exp
0        1    January -1254500
1        2   February -1089000
2        3      March -1010800
3        4      April  -963400
4        5        May -1230900
5        6       June -1226100
6        7       July -1111200
7        8     August -1036300
8        9  September -1029300
9       10    October -1027400
10      11   November -1067600
11      12   December -1199200

In [35]:
#month over month change in revenue

tot_rev_by_month['mom_diff'] = tot_rev_by_month['tot_rev'] - tot_rev_by_month['tot_rev'].shift(1)
tot_rev_by_month['mom_%_change'] = tot_rev_by_month['tot_rev'].pct_change().round(3) *100
tot_rev_by_month.fillna(0, inplace= True)
tot_rev_by_month

    mon_no Month_name  tot_rev  mom_diff  mom_%_change
0        1    January  1949000       0.0           0.0
1        2   February  1567700 -381300.0         -19.6
2        3      March  1313350 -254350.0         -16.2
3        4      April  1156100 -157250.0         -12.0
4        5        May  1698500  542400.0          46.9
5        6       June  1719200   20700.0           1.2
6        7       July  1400050 -319150.0         -18.6
7        8     August  1304850  -95200.0          -6.8
8        9  September  1120890 -183960.0         -14.1
9       10    October  1322475  201585.0          18.0
10      11   November  1277530  -44945.0          -3.4
11      12   December  1730175  452645.0          35.4

In [36]:
#mom diff and percentage change in expenses

tot_exp_by_month.head()

tot_exp_by_month['mom_diff'] = tot_exp_by_month['tot_exp'] - tot_exp_by_month['tot_exp'].shift(1)
tot_exp_by_month['mom_%_change'] = tot_exp_by_month['tot_exp'].pct_change().round(3)*100
tot_exp_by_month.fillna(0, inplace= True)
tot_exp_by_month

    mon_no Month_name  tot_exp  mom_diff  mom_%_change
0        1    January -1254500       0.0           0.0
1        2   February -1089000  165500.0         -13.2
2        3      March -1010800   78200.0          -7.2
3        4      April  -963400   47400.0          -4.7
4        5        May -1230900 -267500.0          27.8
5        6       June -1226100    4800.0          -0.4
6        7       July -1111200  114900.0          -9.4
7        8     August -1036300   74900.0          -6.7
8        9  September -1029300    7000.0          -0.7
9       10    October -1027400    1900.0          -0.2
10      11   November -1067600  -40200.0           3.9
11      12   December -1199200 -131600.0          12.3

Now we look at quarterly analysis

In [37]:
#rev by quarter
trend_rev_by_qtr = trend_rev_extract.groupby('Quarter')['Amount'].sum().reset_index(name='tot_rev').sort_values('Quarter', ascending= True)
trend_rev_by_qtr['mom_diff'] = trend_rev_by_qtr['tot_rev'] - trend_rev_by_qtr['tot_rev'].shift(1)
trend_rev_by_qtr['mom_%_diff'] = trend_rev_by_qtr['tot_rev'].pct_change().round(3)*100
trend_rev_by_qtr.fillna(0, inplace = True)

trend_rev_by_qtr

  Quarter  tot_rev  mom_diff  mom_%_diff
0   qtr 1  4830050       0.0         0.0
1   qtr 2  4573800 -256250.0        -5.3
2   qtr 3  3825790 -748010.0       -16.4
3   qtr 4  4330180  504390.0        13.2

In [38]:
#change in expense by quarter
trend_exp_by_qtr = trend_exp_extract.groupby('Quarter')['Amount'].sum().reset_index(name='tot_exp').sort_values('Quarter', ascending= True)
trend_exp_by_qtr['mom_diff'] = trend_exp_by_qtr['tot_exp'] - trend_exp_by_qtr['tot_exp'].shift(1)
trend_exp_by_qtr['mom_%_diff'] = trend_exp_by_qtr['tot_exp'].pct_change().round(3)*100
trend_exp_by_qtr.fillna(0, inplace = True)

trend_exp_by_qtr

  Quarter  tot_exp  mom_diff  mom_%_diff
0   qtr 1 -3354300       0.0         0.0
1   qtr 2 -3420400  -66100.0         2.0
2   qtr 3 -3176800  243600.0        -7.1
3   qtr 4 -3294200 -117400.0         3.7

Now we shall look into Performance for each business lines and carry out a monthly and quarterly 

We shall start by assessing change in revenue and expenses for all business lines and expense subgroups

In [39]:
#month over month expenses difference and percentage difference for all three business lines
trend_exp_extract.head()

#expense by business line, exp group and subgroup
#Fin_data.groupby(['Month_name','Biz_line'])['Amount'].sum().reset_index(name= 'tot').sort_values(['Month_name', 'tot'], ascending= [True, False])
exp_by_biz_sub_grp = trend_exp_extract.groupby([ 'mon_no','Biz_line','Month_name'])['Amount'].sum().reset_index(name = 'tot_exp').sort_values(['Biz_line','mon_no', 'tot_exp'], ascending= [True, True, False])
exp_by_biz_sub_grp['mom_diff'] = exp_by_biz_sub_grp['tot_exp'] - exp_by_biz_sub_grp['tot_exp'].shift(1)
exp_by_biz_sub_grp['mom_%_diff'] = exp_by_biz_sub_grp['tot_exp'].pct_change().round(3)*100
exp_by_biz_sub_grp.fillna(0, inplace= True)
exp_by_biz_sub_grp.head()

,mon_no,Biz_line,Month_name,tot_exp,mom_diff,mom_%_diff
0,1,Nutrition and Food Supplements,January,-231500,0.0,0.0
3,2,Nutrition and Food Supplements,February,-230900,600.0,-0.3
6,3,Nutrition and Food Supplements,March,-212600,18300.0,-7.9
9,4,Nutrition and Food Supplements,April,-213800,-1200.0,0.6
12,5,Nutrition and Food Supplements,May,-233900,-20100.0,9.4

In [92]:
#we look into the mom diff and percentage diff for each business line

exp_by_biz_sub_grp = trend_exp_extract.groupby([ 'mon_no','Biz_line','Month_name'])['Amount'].sum().reset_index(name = 'tot_exp').sort_values(['Biz_line','mon_no', 'tot_exp'], ascending= [True, True, False])

def exp_mom_cal_and_pct(df):
    df['mom_diff'] = df['tot_exp'] - df['tot_exp'].shift(1)
    df['mom_%_diff'] = df['tot_exp'].pct_change().round(3)*100
    df.iloc[0, df.columns.get_loc('mom_diff')] = 0.0
    df.iloc[0, df.columns.get_loc('mom_%_diff')] = 0.0

    return df

exp_by_biz_sub_grp = exp_by_biz_sub_grp.groupby('Biz_line').apply(exp_mom_cal_and_pct).reset_index(drop= True)

exp_by_biz_sub_grp

C:\Users\djibr\AppData\Local\Temp\ipykernel_17688\2879775218.py:13: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  exp_by_biz_sub_grp = exp_by_biz_sub_grp.groupby('Biz_line').apply(exp_mom_cal_and_pct).reset_index(drop= True)

,mon_no,Biz_line,Month_name,tot_exp,mom_diff,mom_%_diff
0,1,Nutrition and Food Supplements,January,-231500,0.0,0.0
1,2,Nutrition and Food Supplements,February,-230900,600.0,-0.3
2,3,Nutrition and Food Supplements,March,-212600,18300.0,-7.9
3,4,Nutrition and Food Supplements,April,-213800,-1200.0,0.6
4,5,Nutrition and Food Supplements,May,-233900,-20100.0,9.4
5,6,Nutrition and Food Supplements,June,-233300,600.0,-0.3
6,7,Nutrition and Food Supplements,July,-205900,27400.0,-11.7
7,8,Nutrition and Food Supplements,August,-200900,5000.0,-2.4
8,9,Nutrition and Food Supplements,September,-192000,8900.0,-4.4
9,10,Nutrition and Food Supplements,October,-192300,-300.0,0.2
10,11,Nutrition and Food Supplements,November,-197900,-5600.0,2.9
11,12,Nutrition and Food Supplements,December,-211500,-13600.0,6.9
12,1,Sports equipment,January,-664000,0.0,0.0
13,2,Sports equipment,February,-513100,150900.0,-22.7
14,3,Sports equipment,March,-495200,17900.0,-3.5
15,4,Sports equipment,April,-454600,40600.0,-8.2
16,5,Sports equipment,May,-624000,-169400.0,37.3
17,6,Sports equipment,June,-596100,27900.0,-4.5
18,7,Sports equipment,July,-560000,36100.0,-6.1
19,8,Sports equipment,August,-506800,53200.0,-9.5
20,9,Sports equipment,September,-506000,800.0,-0.2
21,10,Sports equipment,October,-527100,-21100.0,4.2
22,11,Sports equipment,November,-550400,-23300.0,4.4
23,12,Sports equipment,December,-621000,-70600.0,12.8
24,1,Sportswear,January,-359000,0.0,0.0
25,2,Sportswear,February,-345000,14000.0,-3.9
26,3,Sportswear,March,-303000,42000.0,-12.2
27,4,Sportswear,April,-295000,8000.0,-2.6
28,5,Sportswear,May,-373000,-78000.0,26.4
29,6,Sportswear,June,-396700,-23700.0,6.4
30,7,Sportswear,July,-345300,51400.0,-13.0
31,8,Sportswear,August,-328600,16700.0,-4.8
32,9,Sportswear,September,-331300,-2700.0,0.8
33,10,Sportswear,October,-308000,23300.0,-7.0
34,11,Sportswear,November,-319300,-11300.0,3.7
35,12,Sportswear,December,-366700,-47400.0,14.8

In [93]:
# month over month change in expenses for expense groups

exp_by_exp_grp = trend_exp_extract.groupby([ 'mon_no','Month_name','Biz_line' ,'Rev_exp_group'])['Amount'].sum().reset_index(name = 'tot_exp').sort_values(['Biz_line','Rev_exp_group','mon_no'], ascending= [True, True, True])
exp_by_exp_grp.groupby('Rev_exp_group').apply(exp_mom_cal_and_pct).reset_index(drop= True)

C:\Users\djibr\AppData\Local\Temp\ipykernel_17688\4241562597.py:4: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  exp_by_exp_grp.groupby('Rev_exp_group').apply(exp_mom_cal_and_pct).reset_index(drop= True)

,mon_no,Month_name,Biz_line,Rev_exp_group,tot_exp,mom_diff,mom_%_diff
0,1,January,Nutrition and Food Supplements,COGS,-94000,0.0,0.0
1,2,February,Nutrition and Food Supplements,COGS,-93400,600.0,-0.6
2,3,March,Nutrition and Food Supplements,COGS,-90700,2700.0,-2.9
3,4,April,Nutrition and Food Supplements,COGS,-91900,-1200.0,1.3
4,5,May,Nutrition and Food Supplements,COGS,-94300,-2400.0,2.6
5,6,June,Nutrition and Food Supplements,COGS,-94000,300.0,-0.3
6,7,July,Nutrition and Food Supplements,COGS,-76900,17100.0,-18.2
7,8,August,Nutrition and Food Supplements,COGS,-76900,0.0,0.0
8,9,September,Nutrition and Food Supplements,COGS,-75700,1200.0,-1.6
9,10,October,Nutrition and Food Supplements,COGS,-75700,0.0,0.0
10,11,November,Nutrition and Food Supplements,COGS,-75700,0.0,0.0
11,12,December,Nutrition and Food Supplements,COGS,-78100,-2400.0,3.2
12,1,January,Sports equipment,COGS,-408600,-330500.0,423.2
13,2,February,Sports equipment,COGS,-254600,154000.0,-37.7
14,3,March,Sports equipment,COGS,-271800,-17200.0,6.8
15,4,April,Sports equipment,COGS,-241000,30800.0,-11.3
16,5,May,Sports equipment,COGS,-359600,-118600.0,49.2
17,6,June,Sports equipment,COGS,-353600,6000.0,-1.7
18,7,July,Sports equipment,COGS,-324000,29600.0,-8.4
19,8,August,Sports equipment,COGS,-290000,34000.0,-10.5
20,9,September,Sports equipment,COGS,-281200,8800.0,-3.0
21,10,October,Sports equipment,COGS,-281200,0.0,0.0
22,11,November,Sports equipment,COGS,-300000,-18800.0,6.7
23,12,December,Sports equipment,COGS,-308600,-8600.0,2.9
24,1,January,Sportswear,COGS,-160000,148600.0,-48.2
25,2,February,Sportswear,COGS,-159000,1000.0,-0.6
26,3,March,Sportswear,COGS,-151000,8000.0,-5.0
27,4,April,Sportswear,COGS,-150000,1000.0,-0.7
28,5,May,Sportswear,COGS,-188000,-38000.0,25.3
29,6,June,Sportswear,COGS,-187000,1000.0,-0.5
30,7,July,Sportswear,COGS,-180000,7000.0,-3.7
31,8,August,Sportswear,COGS,-180000,0.0,0.0
32,9,September,Sportswear,COGS,-179000,1000.0,-0.6
33,10,October,Sportswear,COGS,-159000,20000.0,-11.2
34,11,November,Sportswear,COGS,-160000,-1000.0,0.6
35,12,December,Sportswear,COGS,-167000,-7000.0,4.4
36,1,January,Nutrition and Food Supplements,Interest and tax,-12000,0.0,0.0
37,2,February,Nutrition and Food Supplements,Interest and tax,-12000,0.0,0.0
38,3,March,Nutrition and Food Supplements,Interest and tax,-12000,0.0,0.0
39,4,April,Nutrition and Food Supplements,Interest and tax,-12000,0.0,0.0
40,5,May,Nutrition and Food Supplements,Interest and tax,-12000,0.0,0.0
41,6,June,Nutrition and Food Supplements,Interest and tax,-12000,0.0,0.0
42,7,July,Nutrition and Food Supplements,Interest and tax,-12000,0.0,0.0
43,8,August,Nutrition and Food Supplements,Interest and tax,-12000,0.0,0.0
44,9,September,Nutrition and Food Supplements,Interest and tax,-12000,0.0,0.0
45,10,October,Nutrition and Food Supplements,Interest and tax,-12000,0.0,0.0
46,11,November,Nutrition and Food Supplements,Interest and tax,-12000,0.0,0.0
47,12,December,Nutrition and Food Supplements,Interest and tax,-12000,0.0,0.0
48,1,January,Sports equipment,Interest and tax,-49000,-37000.0,308.3
49,2,February,Sports equipment,Interest and tax,-48500,500.0,-1.0
50,3,March,Sports equipment,Interest and tax,-37000,11500.0,-23.7
51,4,April,Sports equipment,Interest and tax,-27200,9800.0,-26.5
52,5,May,Sports equipment,Interest and tax,-41800,-14600.0,53.7
53,6,June,Sports equipment,Interest and tax,-21700,20100.0,-48.1
54,7,July,Sports equipment,Interest and tax,-27000,-5300.0,24.4
55,8,August,Sports equipment,Interest and tax,-23800,3200.0,-11.9
56,9,September,Sports equipment,Interest and tax,-15000,8800.0,-37.0
57,10,October,Sports equipment,Interest and tax,-34300,-19300.0,128.7
58,11,November,Sports equipment,Interest and tax,-25200,9100.0,-26.5
59,12,December,Sports equipment,Interest and tax,-60000,-34800.0,138.1
60,1,January,Sportswear,Interest and tax,-52000,8000.0,-13.3
61,2,February,Sportswear,Interest and tax,-39000,13000.0,-25.0
62,3,March,Sportswear,Interest and tax,-27000,12000.0,-30.8
63,4,April,Sportswear,Interest and tax,-20000,7000.0,-25.9
64,5,May,Sportswear,Interest and tax,-31000,-11000.0,55.0
65,6,June,Sportswear,Interest and tax,-56700,-25700.0,82.9
66,7,July,Sportswear,Interest and tax,-30300,26400.0,-46.6
67,8,August,Sportswear,Interest and tax,-18600,11700.0,-38.6
68,9,September,Sportswear,Interest and tax,-26300,-7700.0,41.4
69,10,October,Sportswear,Interest and tax,-22000,4300.0,-16.3
70,11,November,Sportswear,Interest and tax,-15300,6700.0,-30.5
71,12,December,Sportswear,Interest and tax,-36700,-21400.0,139.9
72,1,January,Nutrition and Food Supplements,Opex,-125500,0.0,0.0
73,2,February,Nutrition and Food Supplements,Opex,-125500,0.0,0.0
74,3,March,Nutrition and Food Supplements,Opex,-109900,15600.0,-12.4
75,4,April,Nutrition and Food Supplements,Opex,-109900,0.0,0.0
76,5,May,Nutrition and Food Supplements,Opex,-127600,-17700.0,16.1
77,6,June,Nutrition and Food Supplements,Opex,-127300,300.0,-0.2
78,7,July,Nutrition and Food Supplements,Opex,-117000,10300.0,-8.1
79,8,August,Nutrition and Food Supplements,Opex,-112000,5000.0,-4.3
80,9,September,Nutrition and Food Supplements,Opex,-104300,7700.0,-6.9
81,10,October,Nutrition and Food Supplements,Opex,-104600,-300.0,0.3
82,11,November,Nutrition and Food Supplements,Opex,-110200,-5600.0,5.4
83,12,December,Nutrition and Food Supplements,Opex,-121400,-11200.0,10.2
84,1,January,Sports equipment,Opex,-206400,-85000.0,70.0
85,2,February,Sports equipment,Opex,-210000,-3600.0,1.7
86,3,March,Sports equipment,Opex,-186400,23600.0,-11.2
87,4,April,Sports equipment,Opex,-186400,0.0,0.0
88,5,May,Sports equipment,Opex,-222600,-36200.0,19.4
89,6,June,Sports equipment,Opex,-220800,1800.0,-0.8
90,7,July,Sports equipment,Opex,-209000,11800.0,-5.3
91,8,August,Sports equipment,Opex,-193000,16000.0,-7.7
92,9,September,Sports equipment,Opex,-209800,-16800.0,8.7
93,10,October,Sports equipment,Opex,-211600,-1800.0,0.9
94,11,November,Sports equipment,Opex,-225200,-13600.0,6.4
95,12,December,Sports equipment,Opex,-252400,-27200.0,12.1
96,1,January,Sportswear,Opex,-147000,105400.0,-41.8
97,2,February,Sportswear,Opex,-147000,0.0,0.0
98,3,March,Sportswear,Opex,-125000,22000.0,-15.0
99,4,April,Sportswear,Opex,-125000,0.0,0.0
100,5,May,Sportswear,Opex,-154000,-29000.0,23.2
101,6,June,Sportswear,Opex,-153000,1000.0,-0.6
102,7,July,Sportswear,Opex,-135000,18000.0,-11.8
103,8,August,Sportswear,Opex,-130000,5000.0,-3.7
104,9,September,Sportswear,Opex,-126000,4000.0,-3.1
105,10,October,Sportswear,Opex,-127000,-1000.0,0.8
106,11,November,Sportswear,Opex,-144000,-17000.0,13.4
107,12,December,Sportswear,Opex,-163000,-19000.0,13.2

In [94]:
# month over month change and percentage change in expenses for expense subgroups

exp_by_exp_sub_grp = trend_exp_extract.groupby([ 'mon_no','Expense_subgroup','Month_name'])['Amount'].sum().reset_index(name = 'tot_exp').sort_values(['Expense_subgroup','mon_no', 'tot_exp'], ascending= [True, True, False])
exp_by_exp_sub_grp.groupby('Expense_subgroup').apply(exp_mom_cal_and_pct).reset_index(drop = True)

C:\Users\djibr\AppData\Local\Temp\ipykernel_17688\1402802587.py:4: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  exp_by_exp_sub_grp.groupby('Expense_subgroup').apply(exp_mom_cal_and_pct).reset_index(drop = True)

     mon_no  Expense_subgroup Month_name  tot_exp  mom_diff  mom_%_diff
0         1         Equipment    January   -93000       0.0         0.0
1         2         Equipment   February   -93000       0.0         0.0
2         3         Equipment      March   -93000       0.0         0.0
3         4         Equipment      April   -93000       0.0         0.0
4         5         Equipment        May  -117800  -24800.0        26.7
5         6         Equipment       June  -117800       0.0         0.0
6         7         Equipment       July  -117800       0.0         0.0
7         8         Equipment     August  -117800       0.0         0.0
8         9         Equipment  September  -117800       0.0         0.0
9        10         Equipment    October  -124000   -6200.0         5.3
10       11         Equipment   November  -124000       0.0         0.0
11       12         Equipment   December  -124000       0.0         0.0
12        1  Interest and tax    January  -113000       0.0         0.0
13        2  Interest and tax   February   -99500   13500.0       -11.9
14        3  Interest and tax      March   -76000   23500.0       -23.6
15        4  Interest and tax      April   -59200   16800.0       -22.1
16        5  Interest and tax        May   -84800  -25600.0        43.2
17        6  Interest and tax       June   -90400   -5600.0         6.6
18        7  Interest and tax       July   -69300   21100.0       -23.3
19        8  Interest and tax     August   -54400   14900.0       -21.5
20        9  Interest and tax  September   -53300    1100.0        -2.0
21       10  Interest and tax    October   -68300  -15000.0        28.1
22       11  Interest and tax   November   -52500   15800.0       -23.1
23       12  Interest and tax   December  -108700  -56200.0       107.0
24        1             Labor    January  -345000       0.0         0.0
25        2             Labor   February  -345000       0.0         0.0
26        3             Labor      March  -345000       0.0         0.0
27        4             Labor      April  -345000       0.0         0.0
28        5             Labor        May  -429000  -84000.0        24.3
29        6             Labor       June  -429000       0.0         0.0
30        7             Labor       July  -414000   15000.0        -3.5
31        8             Labor     August  -380000   34000.0        -8.2
32        9             Labor  September  -380000       0.0         0.0
33       10             Labor    October  -360000   20000.0        -5.3
34       11             Labor   November  -360000       0.0         0.0
35       12             Labor   December  -360000       0.0         0.0
36        1         Marketing    January  -120000       0.0         0.0
37        2         Marketing   February  -120000       0.0         0.0
38        3         Marketing      March   -65000   55000.0       -45.8
39        4         Marketing      April   -65000       0.0         0.0
40        5         Marketing        May  -120000  -55000.0        84.6
41        6         Marketing       June  -120000       0.0         0.0
42        7         Marketing       July   -90000   30000.0       -25.0
43        8         Marketing     August   -55000   35000.0       -38.9
44        9         Marketing  September   -50000    5000.0        -9.1
45       10         Marketing    October   -50000       0.0         0.0
46       11         Marketing   November   -80000  -30000.0        60.0
47       12         Marketing   December  -120000  -40000.0        50.0
48        1         Materials    January  -100000       0.0         0.0
49        2         Materials   February   -70000   30000.0       -30.0
50        3         Materials      March  -104000  -34000.0        48.6
51        4         Materials      April   -75000   29000.0       -27.9
52        5         Materials        May  -104000  -29000.0        38.7
53        6         Materials       June  -104000       0.0         0.0
54        7         Materials       July  -104000       0.0         0.0
55        8         Materials     August  -104000       0.0         0.0
56        9         Materials  September   -75000   29000.0       -27.9
57       10         Materials    October   -75000       0.0         0.0
58       11         Materials   November   -75000       0.0         0.0
59       12         Materials   December   -75000       0.0         0.0
60        1             Other    January   -42600       0.0         0.0
61        2             Other   February   -36900    5700.0       -13.4
62        3             Other      March   -30400    6500.0       -17.6
63        4             Other      April   -31900   -1500.0         4.9
64        5             Other        May   -35000   -3100.0         9.7
65        6             Other       June   -31900    3100.0        -8.9
66        7             Other       July   -28800    3100.0        -9.7
67        8             Other     August   -28800       0.0         0.0
68        9             Other  September   -31000   -2200.0         7.6
69       10             Other    October   -27900    3100.0       -10.0
70       11             Other   November   -33800   -5900.0        21.1
71       12             Other   December   -46500  -12700.0        37.6
72        1         Packaging    January   -11200       0.0         0.0
73        2         Packaging   February   -10200    1000.0        -8.9
74        3         Packaging      March    -6200    4000.0       -39.2
75        4         Packaging      April    -6200       0.0         0.0
76        5         Packaging        May   -10200   -4000.0        64.5
77        6         Packaging       June    -8900    1300.0       -12.7
78        7         Packaging       July    -6200    2700.0       -30.3
79        8         Packaging     August    -6200       0.0         0.0
80        9         Packaging  September    -6200       0.0         0.0
81       10         Packaging    October    -6200       0.0         0.0
82       11         Packaging   November    -9300   -3100.0        50.0
83       12         Packaging   December   -11200   -1900.0        20.4
84        1           Payroll    January  -152000       0.0         0.0
85        2           Payroll   February  -152000       0.0         0.0
86        3           Payroll      March  -152000       0.0         0.0
87        4           Payroll      April  -152000       0.0         0.0
88        5           Payroll        May  -152000       0.0         0.0
89        6           Payroll       June  -152000       0.0         0.0
90        7           Payroll       July  -145000    7000.0        -4.6
91        8           Payroll     August  -140000    5000.0        -3.4
92        9           Payroll  September  -147000   -7000.0         5.0
93       10           Payroll    October  -147000       0.0         0.0
94       11           Payroll   November  -147000       0.0         0.0
95       12           Payroll   December  -152000   -5000.0         3.4
96        1               R&D    January   -45000       0.0         0.0
97        2               R&D   February   -45000       0.0         0.0
98        3               R&D      March   -45000       0.0         0.0
99        4               R&D      April   -45000       0.0         0.0
100       5               R&D        May   -45000       0.0         0.0
101       6               R&D       June   -45000       0.0         0.0
102       7               R&D       July   -45000       0.0         0.0
103       8               R&D     August   -45000       0.0         0.0
104       9               R&D  September   -45000       0.0         0.0
105      10               R&D    October   -45000       0.0         0.0
106      11               R&D   November   -45000       0.0         0.0
107      12               R&D   December   -45000       0.0         0.0
108       1              Rent    January   -48000       0.0         0.0
109       2              Rent   February   -57000   -9000.0        18.8
110       3              Rent      March   -57000       0.0         0.0
111       4              Rent      April   -57000       0.0         0.0
112       5              Rent        May   -57000       0.0         0.0
113       6              Rent       June   -57000       0.0         0.0
114       7              Rent       July   -57000       0.0         0.0
115       8              Rent     August   -71000  -14000.0        24.6
116       9              Rent  September   -71000       0.0         0.0
117      10              Rent    October   -71000       0.0         0.0
118      11              Rent   November   -71000       0.0         0.0
119      12              Rent   December   -71000       0.0         0.0
120       1             Sales    January   -43000       0.0         0.0
121       2             Sales   February   -38000    5000.0       -11.6
122       3             Sales      March   -21700   16300.0       -42.9
123       4             Sales      April   -18600    3100.0       -14.3
124       5             Sales        May   -51700  -33100.0       178.0
125       6             Sales       June   -45400    6300.0       -12.2
126       7             Sales       July   -18600   26800.0       -59.0
127       8             Sales     August   -18600       0.0         0.0
128       9             Sales  September   -37800  -19200.0       103.2
129      10             Sales    October   -37800       0.0         0.0
130      11             Sales   November   -54100  -16300.0        43.1
131      12             Sales   December   -61700   -7600.0        14.0
132       1          Shipping    January  -141700       0.0         0.0
133       2          Shipping   February   -22400  119300.0       -84.2
134       3          Shipping      March   -15500    6900.0       -30.8
135       4          Shipping      April   -15500       0.0         0.0
136       5          Shipping        May   -24400   -8900.0        57.4
137       6          Shipping       June   -24700    -300.0         1.2
138       7          Shipping       July   -15500    9200.0       -37.2
139       8          Shipping     August   -15500       0.0         0.0
140       9          Shipping  September   -15200     300.0        -1.9
141      10          Shipping    October   -15200       0.0         0.0
142      11          Shipping   November   -15900    -700.0         4.6
143      12          Shipping   December   -24100   -8200.0        51.6

In [43]:
#now we look into  month over month difference in revenue genrated from all business lines, rev group 

rev_by_biz_line =trend_rev_extract.groupby(['mon_no', 'Month_name', 'Biz_line'])['Amount'].sum().reset_index(name= 'tot_rev').sort_values(['Biz_line', 'mon_no'], ascending = [True, True])

#now we define the function to calculate our mom_diff and percentage change in revenue

def rev_mom_and_pct(df):
    df['mom_diff'] = df['tot_rev'] - df['tot_rev'].shift(1)
    df['mom_%_diff'] = df['tot_rev'].pct_change().round(3)*100
    df.iloc[0, df.columns.get_loc('mom_diff')] = 0.0
    df.iloc[0, df.columns.get_loc('mom_%_diff')] = 0.0
    return df

rev_by_biz_line.groupby('Biz_line').apply(rev_mom_and_pct).reset_index(drop = True)

C:\Users\djibr\AppData\Local\Temp\ipykernel_17688\3640304483.py:14: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  rev_by_biz_line.groupby('Biz_line').apply(rev_mom_and_pct).reset_index(drop = True)

,mon_no,Month_name,Biz_line,tot_rev,mom_diff,mom_%_diff
0,1,January,Nutrition and Food Supplements,186000,0.0,0.0
1,2,February,Nutrition and Food Supplements,163200,-22800.0,-12.3
2,3,March,Nutrition and Food Supplements,127350,-35850.0,-22.0
3,4,April,Nutrition and Food Supplements,108600,-18750.0,-14.7
4,5,May,Nutrition and Food Supplements,159000,50400.0,46.4
5,6,June,Nutrition and Food Supplements,185700,26700.0,16.8
6,7,July,Nutrition and Food Supplements,145050,-40650.0,-21.9
7,8,August,Nutrition and Food Supplements,207750,62700.0,43.2
8,9,September,Nutrition and Food Supplements,135390,-72360.0,-34.8
9,10,October,Nutrition and Food Supplements,130725,-4665.0,-3.4
10,11,November,Nutrition and Food Supplements,125430,-5295.0,-4.1
11,12,December,Nutrition and Food Supplements,169425,43995.0,35.1
12,1,January,Sports equipment,1033000,0.0,0.0
13,2,February,Sports equipment,775500,-257500.0,-24.9
14,3,March,Sports equipment,719500,-56000.0,-7.2
15,4,April,Sports equipment,629500,-90000.0,-12.5
16,5,May,Sports equipment,848500,219000.0,34.8
17,6,June,Sports equipment,784500,-64000.0,-7.5
18,7,July,Sports equipment,721500,-63000.0,-8.0
19,8,August,Sports equipment,634600,-86900.0,-12.0
20,9,September,Sports equipment,490900,-143700.0,-22.6
21,10,October,Sports equipment,690000,199100.0,40.6
22,11,November,Sports equipment,678000,-12000.0,-1.7
23,12,December,Sports equipment,903000,225000.0,33.2
24,1,January,Sportswear,730000,0.0,0.0
25,2,February,Sportswear,629000,-101000.0,-13.8
26,3,March,Sportswear,466500,-162500.0,-25.8
27,4,April,Sportswear,418000,-48500.0,-10.4
28,5,May,Sportswear,691000,273000.0,65.3
29,6,June,Sportswear,749000,58000.0,8.4
30,7,July,Sportswear,533500,-215500.0,-28.8
31,8,August,Sportswear,462500,-71000.0,-13.3
32,9,September,Sportswear,494600,32100.0,6.9
33,10,October,Sportswear,501750,7150.0,1.4
34,11,November,Sportswear,474100,-27650.0,-5.5
35,12,December,Sportswear,657750,183650.0,38.7

In [44]:
# month over month change and percentage change in revenue generated by various revenue groups

rev_by_rev_group = trend_rev_extract.groupby(['mon_no', 'Rev_exp_group', 'Month_name'])['Amount'].sum().reset_index(name= 'tot_rev').sort_values(['Rev_exp_group', 'mon_no'], ascending = [True, True])

rev_by_rev_group.groupby('Rev_exp_group').apply(rev_mom_and_pct).reset_index(drop = True)

C:\Users\djibr\AppData\Local\Temp\ipykernel_17688\2936414076.py:5: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  rev_by_rev_group.groupby('Rev_exp_group').apply(rev_mom_and_pct).reset_index(drop = True)

,mon_no,Rev_exp_group,Month_name,tot_rev,mom_diff,mom_%_diff
0,1,Consulting and professional services,January,495000,0.0,0.0
1,2,Consulting and professional services,February,292500,-202500.0,-40.9
2,3,Consulting and professional services,March,195000,-97500.0,-33.3
3,4,Consulting and professional services,April,193500,-1500.0,-0.8
4,5,Consulting and professional services,May,280800,87300.0,45.1
5,6,Consulting and professional services,June,289200,8400.0,3.0
6,7,Consulting and professional services,July,169500,-119700.0,-41.4
7,8,Consulting and professional services,August,210000,40500.0,23.9
8,9,Consulting and professional services,September,138000,-72000.0,-34.3
9,10,Consulting and professional services,October,142800,4800.0,3.5
10,11,Consulting and professional services,November,139800,-3000.0,-2.1
11,12,Consulting and professional services,December,270900,131100.0,93.8
12,1,Other income,January,91000,0.0,0.0
13,2,Other income,February,78500,-12500.0,-13.7
14,3,Other income,March,71100,-7400.0,-9.4
15,4,Other income,April,74800,3700.0,5.2
16,5,Other income,May,121000,46200.0,61.8
17,6,Other income,June,100700,-20300.0,-16.8
18,7,Other income,July,67000,-33700.0,-33.5
19,8,Other income,August,47600,-19400.0,-29.0
20,9,Other income,September,52490,4890.0,10.3
21,10,Other income,October,99000,46510.0,88.6
22,11,Other income,November,67000,-32000.0,-32.3
23,12,Other income,December,96000,29000.0,43.3
24,1,Sales,January,1363000,0.0,0.0
25,2,Sales,February,1196700,-166300.0,-12.2
26,3,Sales,March,1047250,-149450.0,-12.5
27,4,Sales,April,887800,-159450.0,-15.2
28,5,Sales,May,1296700,408900.0,46.1
29,6,Sales,June,1329300,32600.0,2.5
30,7,Sales,July,1163550,-165750.0,-12.5
31,8,Sales,August,1047250,-116300.0,-10.0
32,9,Sales,September,930400,-116850.0,-11.2
33,10,Sales,October,1080675,150275.0,16.2
34,11,Sales,November,1070730,-9945.0,-0.9
35,12,Sales,December,1363275,292545.0,27.3

In [45]:
#overall month over month diff in revenue generated and expenses incurred

rev_exp = Fin_data.groupby(['mon_no', 'Rev_or_exp', 'Month_name'])['Amount'].sum().reset_index(name= 'tot').sort_values(['Rev_or_exp', 'mon_no'], ascending = [True, True])

#now we define our mom and pct diff function

def mom_pct_diff(df):
    df['mom_diff'] = df['tot'] - df['tot'].shift(1)
    df['mom_%_diff'] = df['tot'].pct_change().round(3)*100
    df.iloc[0, df.columns.get_loc('mom_diff')] = 0.0
    df.iloc[0, df.columns.get_loc('mom_%_diff')] = 0.0
    return df

rev_exp.groupby('Rev_or_exp').apply(mom_pct_diff).reset_index(drop= True)

C:\Users\djibr\AppData\Local\Temp\ipykernel_17688\1936058324.py:14: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  rev_exp.groupby('Rev_or_exp').apply(mom_pct_diff).reset_index(drop= True)

    mon_no Rev_or_exp Month_name      tot  mom_diff  mom_%_diff
0        1    Expense    January -1254500       0.0         0.0
1        2    Expense   February -1089000  165500.0       -13.2
2        3    Expense      March -1010800   78200.0        -7.2
3        4    Expense      April  -963400   47400.0        -4.7
4        5    Expense        May -1230900 -267500.0        27.8
5        6    Expense       June -1226100    4800.0        -0.4
6        7    Expense       July -1111200  114900.0        -9.4
7        8    Expense     August -1036300   74900.0        -6.7
8        9    Expense  September -1029300    7000.0        -0.7
9       10    Expense    October -1027400    1900.0        -0.2
10      11    Expense   November -1067600  -40200.0         3.9
11      12    Expense   December -1199200 -131600.0        12.3
12       1    Revenue    January  1949000       0.0         0.0
13       2    Revenue   February  1567700 -381300.0       -19.6
14       3    Revenue      March  1313350 -254350.0       -16.2
15       4    Revenue      April  1156100 -157250.0       -12.0
16       5    Revenue        May  1698500  542400.0        46.9
17       6    Revenue       June  1719200   20700.0         1.2
18       7    Revenue       July  1400050 -319150.0       -18.6
19       8    Revenue     August  1304850  -95200.0        -6.8
20       9    Revenue  September  1120890 -183960.0       -14.1
21      10    Revenue    October  1322475  201585.0        18.0
22      11    Revenue   November  1277530  -44945.0        -3.4
23      12    Revenue   December  1730175  452645.0        35.4

Profit analysis

Here we will deive into the following:
gross profit across business line and sub groups
Trend analysis for gross profit across business lines and subgroups

In [46]:
trend_rev_extract.head()

,Month_name,mon_no,Quarter,week,week_day,Biz_line,Rev_exp_group,Rev_or_exp,Amount
0,January,1,qtr 1,week 5,Tuesday,Nutrition and Food Supplements,Sales,Revenue,153000
1,January,1,qtr 1,week 5,Tuesday,Nutrition and Food Supplements,Consulting and professional services,Revenue,27000
2,January,1,qtr 1,week 5,Tuesday,Nutrition and Food Supplements,Other income,Revenue,6000
16,February,2,qtr 1,week 4,Tuesday,Nutrition and Food Supplements,Consulting and professional services,Revenue,22500
17,March,3,qtr 1,week 4,Friday,Nutrition and Food Supplements,Consulting and professional services,Revenue,9000

In [47]:
trend_exp_extract.head()

,Month_name,mon_no,Quarter,week,week_day,Biz_line,Rev_exp_group,Expense_subgroup,Rev_or_exp,Amount
3,January,1,qtr 1,week 5,Tuesday,Nutrition and Food Supplements,Opex,Rent,Expense,-15000
4,January,1,qtr 1,week 5,Tuesday,Nutrition and Food Supplements,Opex,Equipment,Expense,-9000
5,January,1,qtr 1,week 5,Tuesday,Nutrition and Food Supplements,Opex,Marketing,Expense,-30000
6,January,1,qtr 1,week 5,Tuesday,Nutrition and Food Supplements,Opex,Payroll,Expense,-40000
7,January,1,qtr 1,week 5,Tuesday,Nutrition and Food Supplements,Opex,R&D,Expense,-30000

##identifying profit margin across business lines
profit_margin_ext = Fin_data.groupby(['Rev_or_exp', 'Biz_line', 'Rev_exp_group'])['Amount'].sum().reset_index(name= 'total')

profit_margin = profit_margin_ext.pivot(index = ['Biz_line', 'Rev_exp_group'], columns= 'Rev_or_exp', values= 'total')
profit_margin['Prof_margin'] = profit_margin['Revenue'] + profit_margin['Expense']
profit_margin

In [126]:
# Gross profit across all business lines

def gp_ext(df):
   Expenses = df.loc[df['Rev_exp_group'] == 'COGS', 'Amount'].sum()
   Revenue = df.loc[df['Rev_or_exp'] == 'Revenue', 'Amount'].sum()

   return  pd.DataFrame({'Biz_line': [df.name], 'Revenue': [Revenue], 'Expenses': [Expenses]})

prof_mar_ext = Fin_data[['Rev_or_exp', 'Biz_line', 'Rev_exp_group', 'Amount']]
gross_profit = prof_mar_ext.groupby('Biz_line').apply(gp_ext).reset_index(drop= True)

gross_profit['Gross_profit'] = gross_profit['Revenue'] + gross_profit['Expenses']
gross_profit

C:\Users\djibr\AppData\Local\Temp\ipykernel_17688\2802251392.py:10: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  gross_profit = prof_mar_ext.groupby('Biz_line').apply(gp_ext).reset_index(drop= True)

                          Biz_line  Revenue  Expenses  Gross_profit
0  Nutrition and Food Supplements   1843620  -1017300        826320
1                 Sports equipment  8908500  -3674200       5234300
2                       Sportswear  6807700  -2020000       4787700

In [123]:
# general gross profit over month
 
def gp_by_mon(df):
   Expenses = df.loc[df['Rev_exp_group'] == 'COGS', 'Amount'].sum()
   Revenue = df.loc[df['Rev_or_exp'] == 'Revenue', 'Amount'].sum()
   Month_name = df['Month_name'].iloc[0]
   mon_no = df['mon_no'].iloc[0]
   return  pd.DataFrame({'mon_no': [mon_no],'Month_name': [Month_name],'Revenue': [Revenue], 'Expenses': [Expenses]})

mom_gross_profit_ext = Fin_data[['mon_no','Month_name','Rev_or_exp', 'Rev_exp_group', 'Amount']]
gp_by_month = mom_gross_profit_ext.groupby(['mon_no','Month_name']).apply(gp_by_mon).reset_index(drop= True).sort_values('mon_no', ascending= True)

gp_by_month['Gross_profit'] = gp_by_month['Revenue'] + gp_by_month['Expenses']
gp_by_month

# month over month change in gross profit

gp_by_month['mom_diff'] = gp_by_month['Gross_profit'] -  gp_by_month['Gross_profit'].shift(1)
gp_by_month['mom_%_diff'] = gp_by_month['Gross_profit'].pct_change().round(3)*100

mom_gp_by_mon = gp_by_month
mom_gp_by_mon.fillna(0)

C:\Users\djibr\AppData\Local\Temp\ipykernel_17688\478927505.py:11: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  gp_by_month = mom_gross_profit_ext.groupby(['mon_no','Month_name']).apply(gp_by_mon).reset_index(drop= True).sort_values('mon_no', ascending= True)

    mon_no Month_name  Revenue  Expenses  Gross_profit  mom_diff  mom_%_diff
0        1    January  1949000   -662600       1286400       0.0         0.0
1        2   February  1567700   -507000       1060700 -225700.0       -17.5
2        3      March  1313350   -513500        799850 -260850.0       -24.6
3        4      April  1156100   -482900        673200 -126650.0       -15.8
4        5        May  1698500   -641900       1056600  383400.0        57.0
5        6       June  1719200   -634600       1084600   28000.0         2.7
6        7       July  1400050   -580900        819150 -265450.0       -24.5
7        8     August  1304850   -546900        757950  -61200.0        -7.5
8        9  September  1120890   -535900        584990 -172960.0       -22.8
9       10    October  1322475   -515900        806575  221585.0        37.9
10      11   November  1277530   -535700        741830  -64745.0        -8.0
11      12   December  1730175   -553700       1176475  434645.0        58.6

In [118]:
#identifying gross profit across biz_line over months

def gp_bizline(df):
   Expenses = df.loc[df['Rev_exp_group'] == 'COGS', 'Amount'].sum()
   Revenue = df.loc[df['Rev_or_exp'] == 'Revenue', 'Amount'].sum()
   Month_name = df['Month_name'].iloc[0]
   mon_no = df['mon_no'].iloc[0]
   Biz_line = df['Biz_line'].iloc[0]
   return  pd.DataFrame({'mon_no': [mon_no],'Month_name': [Month_name],'Biz_line': [Biz_line], 'Revenue': [Revenue], 'Expenses': [Expenses]})

gp_biz_line_ext = Fin_data[['mon_no','Month_name','Rev_or_exp', 'Biz_line', 'Rev_exp_group', 'Amount']]
gp_biz_line_by_mon = gp_biz_line_ext.groupby(['mon_no','Month_name','Biz_line']).apply(gp_bizline).reset_index(drop= True).sort_values(['Biz_line', 'mon_no'], ascending= [True, True])

gp_biz_line_by_mon['Gross_profit'] = gp_biz_line_by_mon['Revenue'] + gp_biz_line_by_mon['Expenses']
gp_biz_line_by_mon.head()

C:\Users\djibr\AppData\Local\Temp\ipykernel_17688\1221078824.py:12: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  gp_biz_line_by_mon = gp_biz_line_ext.groupby(['mon_no','Month_name','Biz_line']).apply(gp_bizline).reset_index(drop= True).sort_values(['Biz_line', 'mon_no'], ascending= [True, True])

,mon_no,Month_name,Biz_line,Revenue,Expenses,Gross_profit
0,1,January,Nutrition and Food Supplements,186000,-94000,92000
3,2,February,Nutrition and Food Supplements,163200,-93400,69800
6,3,March,Nutrition and Food Supplements,127350,-90700,36650
9,4,April,Nutrition and Food Supplements,108600,-91900,16700
12,5,May,Nutrition and Food Supplements,159000,-94300,64700

In [119]:
# month over month change in gross profit across all business lines

def mom_gp_pct_biz_line(df):
    df['mon_diff'] = df['Gross_profit'] - df['Gross_profit'].shift(1)
    df['mom_%_diff'] = df['Gross_profit'].pct_change().round(3)*100
    df.iloc[0, df.columns.get_loc('mon_diff')] = 0.0
    df.iloc[0, df.columns.get_loc('mom_%_diff')] = 0.0
    df.fillna(0, inplace = True)
    return df

mom_gp_by_biz_line = gp_biz_line_by_mon.groupby('Biz_line').apply(mom_gp_pct_biz_line).reset_index(drop = True)
mom_gp_by_biz_line

C:\Users\djibr\AppData\Local\Temp\ipykernel_17688\619781352.py:11: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  mom_gp_by_biz_line = gp_biz_line_by_mon.groupby('Biz_line').apply(mom_gp_pct_biz_line).reset_index(drop = True)

,mon_no,Month_name,Biz_line,Revenue,Expenses,Gross_profit,mon_diff,mom_%_diff
0,1,January,Nutrition and Food Supplements,186000,-94000,92000,0.0,0.0
1,2,February,Nutrition and Food Supplements,163200,-93400,69800,-22200.0,-24.1
2,3,March,Nutrition and Food Supplements,127350,-90700,36650,-33150.0,-47.5
3,4,April,Nutrition and Food Supplements,108600,-91900,16700,-19950.0,-54.4
4,5,May,Nutrition and Food Supplements,159000,-94300,64700,48000.0,287.4
5,6,June,Nutrition and Food Supplements,185700,-94000,91700,27000.0,41.7
6,7,July,Nutrition and Food Supplements,145050,-76900,68150,-23550.0,-25.7
7,8,August,Nutrition and Food Supplements,207750,-76900,130850,62700.0,92.0
8,9,September,Nutrition and Food Supplements,135390,-75700,59690,-71160.0,-54.4
9,10,October,Nutrition and Food Supplements,130725,-75700,55025,-4665.0,-7.8
10,11,November,Nutrition and Food Supplements,125430,-75700,49730,-5295.0,-9.6
11,12,December,Nutrition and Food Supplements,169425,-78100,91325,41595.0,83.6
12,1,January,Sports equipment,1033000,-408600,624400,0.0,0.0
13,2,February,Sports equipment,775500,-254600,520900,-103500.0,-16.6
14,3,March,Sports equipment,719500,-271800,447700,-73200.0,-14.1
15,4,April,Sports equipment,629500,-241000,388500,-59200.0,-13.2
16,5,May,Sports equipment,848500,-359600,488900,100400.0,25.8
17,6,June,Sports equipment,784500,-353600,430900,-58000.0,-11.9
18,7,July,Sports equipment,721500,-324000,397500,-33400.0,-7.8
19,8,August,Sports equipment,634600,-290000,344600,-52900.0,-13.3
20,9,September,Sports equipment,490900,-281200,209700,-134900.0,-39.1
21,10,October,Sports equipment,690000,-281200,408800,199100.0,94.9
22,11,November,Sports equipment,678000,-300000,378000,-30800.0,-7.5
23,12,December,Sports equipment,903000,-308600,594400,216400.0,57.2
24,1,January,Sportswear,730000,-160000,570000,0.0,0.0
25,2,February,Sportswear,629000,-159000,470000,-100000.0,-17.5
26,3,March,Sportswear,466500,-151000,315500,-154500.0,-32.9
27,4,April,Sportswear,418000,-150000,268000,-47500.0,-15.1
28,5,May,Sportswear,691000,-188000,503000,235000.0,87.7
29,6,June,Sportswear,749000,-187000,562000,59000.0,11.7
30,7,July,Sportswear,533500,-180000,353500,-208500.0,-37.1
31,8,August,Sportswear,462500,-180000,282500,-71000.0,-20.1
32,9,September,Sportswear,494600,-179000,315600,33100.0,11.7
33,10,October,Sportswear,501750,-159000,342750,27150.0,8.6
34,11,November,Sportswear,474100,-160000,314100,-28650.0,-8.4
35,12,December,Sportswear,657750,-167000,490750,176650.0,56.2

In [155]:
# Operating Expenses analysis OPEX

opex_extract = trend_exp_extract.loc[trend_exp_extract['Rev_exp_group'] == 'Opex', ['Month_name', 'mon_no', 'Biz_line', 'Expense_subgroup', 'Amount']]
opex_extract

#opex by month

opex_by_mon = opex_extract.groupby(['mon_no', 'Month_name'])['Amount'].sum().reset_index(name= 'opex').sort_values('mon_no', ascending= True)

#opex across business lines

opex_biz_line = opex_extract.groupby('Biz_line')['Amount'].sum().reset_index(name = 'opex').sort_values('Biz_line',ascending = True)

#total ebit by across business lines by month

opex_by_mon_biz_line = opex_extract.groupby(['Biz_line', 'mon_no', 'Month_name'])['Amount'].sum().reset_index(name = 'tot_exp').sort_values(['Biz_line', 'mon_no', 'tot_exp'], ascending = [True, True, False])
opex_by_mon_biz_line.head()


# month over month difference in ebit across business lines
mom_opex = opex_by_mon_biz_line.groupby('Biz_line').apply(exp_mom_cal_and_pct).reset_index(drop= True)
mom_opex

C:\Users\djibr\AppData\Local\Temp\ipykernel_17688\411250472.py:21: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  mom_opex = opex_by_mon_biz_line.groupby('Biz_line').apply(exp_mom_cal_and_pct).reset_index(drop= True)

,Biz_line,mon_no,Month_name,tot_exp,mom_diff,mom_%_diff
0,Nutrition and Food Supplements,1,January,-125500,0.0,0.0
1,Nutrition and Food Supplements,2,February,-125500,0.0,0.0
2,Nutrition and Food Supplements,3,March,-109900,15600.0,-12.4
3,Nutrition and Food Supplements,4,April,-109900,0.0,0.0
4,Nutrition and Food Supplements,5,May,-127600,-17700.0,16.1
5,Nutrition and Food Supplements,6,June,-127300,300.0,-0.2
6,Nutrition and Food Supplements,7,July,-117000,10300.0,-8.1
7,Nutrition and Food Supplements,8,August,-112000,5000.0,-4.3
8,Nutrition and Food Supplements,9,September,-104300,7700.0,-6.9
9,Nutrition and Food Supplements,10,October,-104600,-300.0,0.3
10,Nutrition and Food Supplements,11,November,-110200,-5600.0,5.4
11,Nutrition and Food Supplements,12,December,-121400,-11200.0,10.2
12,Sports equipment,1,January,-206400,0.0,0.0
13,Sports equipment,2,February,-210000,-3600.0,1.7
14,Sports equipment,3,March,-186400,23600.0,-11.2
15,Sports equipment,4,April,-186400,0.0,0.0
16,Sports equipment,5,May,-222600,-36200.0,19.4
17,Sports equipment,6,June,-220800,1800.0,-0.8
18,Sports equipment,7,July,-209000,11800.0,-5.3
19,Sports equipment,8,August,-193000,16000.0,-7.7
20,Sports equipment,9,September,-209800,-16800.0,8.7
21,Sports equipment,10,October,-211600,-1800.0,0.9
22,Sports equipment,11,November,-225200,-13600.0,6.4
23,Sports equipment,12,December,-252400,-27200.0,12.1
24,Sportswear,1,January,-147000,0.0,0.0
25,Sportswear,2,February,-147000,0.0,0.0
26,Sportswear,3,March,-125000,22000.0,-15.0
27,Sportswear,4,April,-125000,0.0,0.0
28,Sportswear,5,May,-154000,-29000.0,23.2
29,Sportswear,6,June,-153000,1000.0,-0.6
30,Sportswear,7,July,-135000,18000.0,-11.8
31,Sportswear,8,August,-130000,5000.0,-3.7
32,Sportswear,9,September,-126000,4000.0,-3.1
33,Sportswear,10,October,-127000,-1000.0,0.8
34,Sportswear,11,November,-144000,-17000.0,13.4
35,Sportswear,12,December,-163000,-19000.0,13.2

In [139]:

opex_biz_line

# momth over month ebit diff across business lines

                          Biz_line     opex
0  Nutrition and Food Supplements  -1395200
1                 Sports equipment -2533600
2                       Sportswear -1676000

In [140]:
gross_profit_ebit = gross_profit[['Biz_line', 'Gross_profit']]
gross_profit_ebit

                          Biz_line  Gross_profit
0  Nutrition and Food Supplements         826320
1                 Sports equipment       5234300
2                       Sportswear       4787700

In [150]:
# EBIT analysis
ebit = gross_profit_ebit.merge(opex_biz_line, on= 'Biz_line', how= 'left')
ebit
#overall ebit analysis
gp = ebit['Gross_profit'].sum()
opex = ebit['opex'].sum()
ebit_df = pd.DataFrame({'gp': [gp], 
                       'opex': [opex]})

ebit_df['ebit'] = ebit_df['gp'] - ebit_df['opex']

ebit_df

         gp     opex      ebit
0  10848320 -5604800  16453120

                          Biz_line  Gross_profit     opex     ebit
0  Nutrition and Food Supplements         826320 -1395200  -568880
1                 Sports equipment       5234300 -2533600  2700700
2                       Sportswear       4787700 -1676000  3111700

In [151]:
#ebit by business line
ebit['ebit'] = ebit['Gross_profit'] + ebit['opex']
ebit

                          Biz_line  Gross_profit     opex     ebit
0  Nutrition and Food Supplements         826320 -1395200  -568880
1                 Sports equipment       5234300 -2533600  2700700
2                       Sportswear       4787700 -1676000  3111700

In [153]:
gp_by_month

    mon_no Month_name  Revenue  Expenses  Gross_profit  mom_diff  mom_%_diff
0        1    January  1949000   -662600       1286400       NaN         NaN
1        2   February  1567700   -507000       1060700 -225700.0       -17.5
2        3      March  1313350   -513500        799850 -260850.0       -24.6
3        4      April  1156100   -482900        673200 -126650.0       -15.8
4        5        May  1698500   -641900       1056600  383400.0        57.0
5        6       June  1719200   -634600       1084600   28000.0         2.7
6        7       July  1400050   -580900        819150 -265450.0       -24.5
7        8     August  1304850   -546900        757950  -61200.0        -7.5
8        9  September  1120890   -535900        584990 -172960.0       -22.8
9       10    October  1322475   -515900        806575  221585.0        37.9
10      11   November  1277530   -535700        741830  -64745.0        -8.0
11      12   December  1730175   -553700       1176475  434645.0        58.6

In [168]:
ebit_by_mon_ext = opex_by_mon.merge(gp_by_month, on= 'Month_name', how= 'inner')
ebit_by_mon = ebit_by_mon_ext[['mon_no_x', 'Month_name', 'Gross_profit', 'opex']]

ebit_by_mon['ebit'] = ebit_by_mon['Gross_profit'] + ebit_by_mon['opex']
ebit_by_mon

C:\Users\djibr\AppData\Local\Temp\ipykernel_17688\168524188.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ebit_by_mon['ebit'] = ebit_by_mon['Gross_profit'] + ebit_by_mon['opex']

    mon_no_x Month_name  Gross_profit    opex    ebit
0          1    January       1286400 -478900  807500
1          2   February       1060700 -482500  578200
2          3      March        799850 -421300  378550
3          4      April        673200 -421300  251900
4          5        May       1056600 -504200  552400
5          6       June       1084600 -501100  583500
6          7       July        819150 -461000  358150
7          8     August        757950 -435000  322950
8          9  September        584990 -440100  144890
9         10    October        806575 -443200  363375
10        11   November        741830 -479400  262430
11        12   December       1176475 -536800  639675